---
layout: layouts/example.njk
title: Date Picker Min and Max Date (example)
figma_link: https://www.figma.com/design/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?node-id=792-861&t=6DfPOX7RAnjrVE0j-0
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{% set minDate %}{% dateInCurrentMonth 05 %}{% endset %}
{% set maxDate %}{% dateInCurrentMonth 25 %}{% endset %}

{{ mojDatePicker({
  id: "date",
  name: "date",
  label: {
      text: "Date"
  },
  hint: {
    text: "For example, 17/5/2024."
  },
  minDate: minDate,
  maxDate: maxDate  
}) }}
