{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Identity bar
      </h1>

      <h2 class="govuk-heading-m">Standard</h2>

      {{ mojIdentityBar({
        title: { html: '<b>John Smith</b> and <b>Jane Smith</b> (Financial remedy)' }
      }) }}

      <br><br>

      <h2 class="govuk-heading-m">With actions</h2>

      {{ mojIdentityBar({
        title: {
          html: '<b>John Smith</b> and <b>Jane Smith</b> and <a href="#">4 others</a> (Financial remedy)'
        },
        menus: [{
          items: [{
            text: 'Do this',
            href: "#"
          }, {
            text: 'Do that',
            href: "#",
            classes: 'moj-button--secondary'
          }]
        }]
      }) }}

      <br><br>

      <h2 class="govuk-heading-m">With actions</h2>

      {{ mojIdentityBar({
        title: { html: '<b>John Smith</b> and <b>Jane Smith</b> and <a href="#">4 others</a> (Financial remedy)' },
        menus: [{
          classes: 'test',
          items: [{
            text: 'Make a decision'
          }]
        }, {
          items: [{
            text: 'Do this',
            classes: 'moj-button--secondary',
            href: "#"
          }, {
            text: 'Do that',
            classes: 'moj-button--secondary',
            href: "#"
          }]
        }]
      }) }}

    </div>

  </div>

{% endblock %}


{% block pageScripts %}
  <script>
    new MOJFrontend.Menu({
      container: $('.moj-menu').eq(2),
      mq: '(min-width: 1000em)',
      buttonText: 'More actions',
      buttonClasses: 'govuk-button--secondary moj-menu__toggle-button--secondary',
      menuClasses: 'moj-menu__wrapper--right'
    });

  </script>
{% endblock %}