{% extends "layouts/base.html" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Dropzone
      </h1>

      <form>
        <div class="moj-dropzone">
          {{ govukFileUpload({
            id: "documents",
            name: "documents",
            label: {
              text: "Upload a file",
              classes: 'govuk-label--m'
            },
            attributes: {
              multiple: ''
            }
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary'
          })}}
        </div>

        <div class="moj-files {% if not files.length %}moj-hidden{% endif%}">
          <h2 class="govuk-heading-m">Files added</h2>
          <ul>
            {% if files.length > 0 %}
              {% for file in files %}
                <li>
                  <a href="{{file.path}}">{{file.originalname}}</a>
                  <progress value="100" max="100">100%</progress>
                  <button class="secondaryButton">Delete</button>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>

        {{govukButton({
          text: 'Continue'
        })}}
      </form>


  </div>

</div>

{% endblock %}

{% block pageScripts %}

  <script>
    new MOJFrontend.Dropzone($('.moj-dropzone'));
  </script>

{% endblock %}

