{%- macro verticalNavListItem(params) -%}
    {% set active = (params.item.url==params.page.url) %}
    {% set open = (active or params.item.key==params.parent) %}
    {% set sortOrder = params.sortChildrenBy if params.sortChildrenBy else "order" %}
    <li class="app-vertical-nav__item {{ 'app-vertical-nav__item--active' if active }} {{ 'app-vertical-nav__item--open' if open }} {{ 'app-vertical-nav__item--with-children' if params.item.children }}">
        <a class="app-vertical-nav__link" href="{{ params.item.url }}">{{ params.item.title }}
            {%- if params.item.children.length -%}
                <div class="app-vertical-nav__indicator">
                    <svg width="14"
                         height="9"
                         viewBox="0 0 14 9"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.41431 5.93963L13.0407 0.313202L14.4143 1.68678L7.41431 8.68678L0.414306 1.68678L1.78788 0.313201L7.41431 5.93963Z" fill="currentColor" />
                    </svg>
                </div>
            {%- endif -%}
        </a>
        {%- if params.item.children.length -%}
            <ul class="app-vertical-nav__list" {% if not open %}hidden{% endif %}>
                {%- for child in params.item.children | sort(false, false, sortOrder) -%}
                    {{ verticalNavListItem({
                                        item: child,
                                        page: params.page,
                                        parent: params.parent
                                        }) }}
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </li>
{%- endmacro -%}
