{% from "govuk/components/details/macro.njk" import govukDetails %}


{% macro statusLabel(status, statusMessage, statusInfo) %}
  {% if status %}
    
    {% set statusData = (statusInfo[status] if statusInfo and status in statusInfo else {}) %}

    {% set statusClass = {
      "Official": "govuk-tag--green",
      "To be reviewed": "govuk-tag--orange",
      "Experimental": "govuk-tag",
      "Archived": "govuk-tag--grey"
    }[status] or "" %}
      
  <span class="status-tag {{ statusClass }}">
   <span class="govuk-visually-hidden">Component status:</span> {{ status }}
  </span>

{% if statusMessage %}
  <p class="status-message govuk-!-margin-bottom-2">
    {{ statusMessage }}
  </p>
{% endif %}
     
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ statusData.link }}
    </span>
  </summary>
  <div class="govuk-details__text">
    {{ statusData.linkContent }} <a href="#">Read about all the Design System statuses</a>.
  </div>
</details>

  {% endif %}
{% endmacro %}
