{% macro tierLabel(tier, tierMessage, tierLink, tierUrl) %}
  {% if tier %}
    {% set tierClass = {
      "Reviewed": "govuk-tag--green",
      "Due for review": "govuk-tag--orange",
      "Community": "govuk-tag--light-blue",
      "Archived": "govuk-tag--grey"
    }[tier] or "" %}

    <div class="app-tier">
      <p class="govuk-phase-banner__content govuk-!-margin-bottom-0">
        <span class="govuk-tag govuk-phase-banner__content__tag {{ tierClass }}">
          {{ tier }}
        </span>

        {% if tierMessage %}
          <span class="govuk-phase-banner__text">
            {{ tierMessage }} {{siteName}}
            {% if tierLink %}
              <a class="govuk-link" href="{{ tierUrl | default('#') }}">{{ tierLink }}</a>
            {% endif %}
          </span>
        {% endif %}
      </p>
    </div>
  {% endif %}
{% endmacro %}
