{% macro tierLabel(tier, tierMessage, tierInfo, link=none, linkContent=none) %}
  {% if tier %}
    {% set tierData = (tierInfo[tier] if tierInfo and tier in tierInfo else {}) %}

    {% set tierClass = {
      "Reviewed": "govuk-tag--green",
      "Due for review": "govuk-tag--orange",
      "Community component": "govuk-tag--light-blue",
      "Archived": "govuk-tag--grey"
    }[tier] or "" %}

    {% set tierLinkContent = linkContent or tierData.linkContent or "" %}
    {% set tierLink = link or tierData.link or "" %}

    <div class="app-tier">
      <p class="govuk-phase-banner__content govuk-!-margin-bottom-0">
        <span class="govuk-tag govuk-phase-banner__content__tag {{ tierClass }}">
          {{ tier }}
        </span>

        <span class="govuk-phase-banner__text">
          {{ tierMessage }}
          
          {% if tierLink %}
            <a class="govuk-link" href="{{ tierLink }}">
              {{ tierLinkContent }}
            </a>.
          {% endif %}
        </span>
      </p>
    </div>
  {% endif %}
{% endmacro %}
