---
layout: layouts/example.njk
title: Success banner (example)
---
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
  type: 'success',
  text: 'You have successfully added 1 question.',
  iconFallbackText: 'Success'
}) }}
