<div id="{{ params.id | default('progress') }}" class="moj-progress-bar {{- ' ' + params.classes if params.classes}}" {%- if (params.label) %} aria-label="{{ params.label }}"{% endif %} {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <ol class="moj-progress-bar__list">
    {%- for item in params.items %}
    <li id="{{ item.id | default('progress-item-' + loop.index) }}" class="moj-progress-bar__item {{- ' ' + item.classes if item.classes }}" {{- ' aria-current="step"' | safe if item.active }} {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
      <span class="moj-progress-bar__icon {{- ' moj-progress-bar__icon--complete' if item.complete }}"></span>
      <span class="moj-progress-bar__label {{- ' ' + item.label.classes if item.label.classes }}">
        {{- item.label.html | safe if item.label.html else item.label.text -}}
      </span>
    </li>
    {% endfor -%}
  </ol>
</div>
