<div class="app-example">
  <span class="app-example__new-window">
    <a href="{{ href | url }}" target="_blank">Open this example in a new window</a>
  </span>
  <iframe class="app-example__frame" scrolling="auto" frameborder="0" height="{{ height }}" src="{{ href | url }}"></iframe>
</div>
<div class="app-tabs" data-module="app-tabs">
  <ul class="app-tabs__list" role="tablist">
    <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#html-default-{{ id }}" role="tab" id="tab_html-default-{{ id }}" aria-controls="html-default-{{ id }}">HTML</a></li>
    <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#nunjucks-default-{{ id }}" role="tab" id="tab_nunjucks-default-{{ id }}" aria-controls="nunjucks-default-{{ id }}">Nunjucks</a></li>
    {% if jsCode %}<li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#js-default-{{ id }}" role="tab" id="tab_j-default-{{ id }}" aria-controls="js-default-{{ id }}">JavaScript</a></li>{% endif %}
  </ul>

  <div class="app-tabs__panel app-tabs__panel--hidden" id="html-default-{{ id }}" data-module="app-copy" role="tabpanel" aria-labelledby="tab_html-default-{{ id }}">

```html
{{ htmlCode | safe }}
```
  </div>

  <div class="app-tabs__panel app-tabs__panel--hidden" id="nunjucks-default-{{ id }}" role="tabpanel" aria-labelledby="tab_nunjucks-default-{{ id }}">

{% if arguments %}
  <details class="govuk-details govuk-!-padding-3" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Nunjucks macro options
      </span>
    </summary>
    <div class="govuk-details__text">

{% include "./arguments/" + arguments + ".md" %}

    </div>
  </details>
{% endif %}

  <div data-module="app-copy" style="position:relative;">

```jinja
{{ nunjucksCode | safe }}
```

  </div>

  </div>

{% if jsCode %}
  <div class="app-tabs__panel app-tabs__panel--hidden" id="js-default-{{ id }}" data-module="app-copy" role="tabpanel" aria-labelledby="tab_js-default-{{ id }}">

```js
{{ jsCode | safe }}
```
  </div>
{% endif %}
</div>
