<div class="app-example__new-window">
    <a href="{{ href | url }}" target="_blank">Open this example <span class="govuk-visually-hidden">({{ title }})</span> in a new window</a>
</div>
<div class="app-example">
  <iframe class="app-example__frame" scrolling="auto" frameborder="0" height="{{ height }}" src="{{ href | url }}" title="{{ title }}"></iframe>
</div>
<div class="app-tabs" data-module="app-tabs">
  <ul class="app-tabs__list" role="tablist">
    <li class="app-tabs__list-item" role="presentation">
      <a class="app-tabs__tab" href="#html-default-{{ id }}" role="tab" id="tab_html-default-{{ id }}" aria-controls="html-default-{{ id }}">HTML <span class="govuk-visually-hidden">({{ title }})</span></a>
    </li>
    <li class="app-tabs__list-item" role="presentation">
      <a class="app-tabs__tab" href="#nunjucks-default-{{ id }}" role="tab" id="tab_nunjucks-default-{{ id }}" aria-controls="nunjucks-default-{{ id }}">Nunjucks <span class="govuk-visually-hidden">({{ title }})</span></a>
    </li>
    {%- if jsCode -%}
    <li class="app-tabs__list-item" role="presentation">
      <a class="app-tabs__tab" href="#js-default-{{ id }}" role="tab" id="tab_js-default-{{ id }}" aria-controls="js-default-{{ id }}">JavaScript <span class="govuk-visually-hidden">({{ title }})</span></a>
    </li>
    {%- endif -%}
    {%- if figmaLink -%}
    <li class="app-tabs__list-item" role="presentation">
      <a class="app-tabs__tab" href="#figma-default-{{ id }}" role="tab" id="tab_figma-default-{{ id }}" aria-controls="figma-default-{{ id }}">Figma</a>
    </li>
    {%- endif -%}
  </ul>

  <div class="app-tabs__panel app-tabs__panel--hidden" id="html-default-{{ id }}" role="tabpanel" aria-labelledby="tab_html-default-{{ id }}">
    <div class="app-example__code" data-module="app-copy">

```html
{{ htmlCode | safe }}
```
    </div>
  </div>

  <div class="app-tabs__panel app-tabs__panel--hidden" id="nunjucks-default-{{ id }}" role="tabpanel" aria-labelledby="tab_nunjucks-default-{{ id }}">

{% if arguments %}
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Nunjucks macro options
      </span>
    </summary>
    <div class="govuk-details__text">

{% include "./arguments/" + arguments + ".md" %}

    </div>
  </details>
{% endif %}

    <div class="app-example__code" data-module="app-copy">

```njk
{{ nunjucksCode | safe }}
```

    </div>
  </div>

{% if jsCode %}
  <div class="app-tabs__panel app-tabs__panel--hidden" id="js-default-{{ id }}" role="tabpanel" aria-labelledby="tab_js-default-{{ id }}">
    <div class="app-example__code" data-module="app-copy">

```js
{{ jsCode | safe }}
```

    </div>
  </div>
{% endif %}

{% if figmaLink %}
  <div class="app-tabs__panel app-tabs__panel--hidden" id="figma-default-{{ id }}" role="tabpanel" aria-labelledby="tab_figma-default-{{ id }}">

This component is in the ‘Assets’ tab in the MoJ Figma Kit.

If you’re external to MoJ, download the Kit and add it as a library to your Figma files. You’ll need to re-add the kit to update the version.

<p class="govuk-body govuk-!-margin-0"><a href="{{ figmaLink }}">View component in MoJ Figma Kit</a></p>

  </div>
{% endif %}
</div>
