{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Badge
      </h1>

      {%- set colours = [{
              name: 'purple',
              hex: '#2e358b',
              contrast: '10.51'
          }, {
              name: 'bright-purple',
              hex: '#912b88',
              contrast: '7.23'
          }, {
              name: 'red',
              hex: '#b10e1e',
              contrast: '7.12'
          }, {
              name: 'bright-red',
              hex: '#df3034',
              contrast: '4.56'
          }, {
              name: 'green',
              hex: '#006435',
              contrast: '7.31'
          }, {
              name: 'blue',
              hex: '#005ea5',
              contrast: '6.68'
          }, {
              name: 'black',
              hex: '#0b0c0c',
              contrast: '19.59'
          }, {
              name: 'grey',
              hex: '#6f777b',
              contrast: '4.56'
          }] -%}


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Class</th>
            <th class="govuk-table__header" scope="col">Badge</th>
            <th class="govuk-table__header" scope="col">Class (with size modifier)</th>
            <th class="govuk-table__header" scope="col">Badge</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {%- for colour in colours %}
          {% set classColour = "moj-badge--" + colour.name %}
          {% set classSize = "moj-badge--small" %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <code>{{ classColour }}</code>
            </td>
            <td class="govuk-table__cell">
              {{ mojBadge({
                text: "Lorem ipsum " + loop.index,
                classes: classColour
              }) }}
            </td>
            <td class="govuk-table__cell">
              <code>{{ classColour }} {{ classSize }}</code>
            </td>
            <td class="govuk-table__cell">
              {{ mojBadge({
                text: "Lorem ipsum " + loop.index,
                classes: classColour + " " + classSize
              }) }}
            </td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>

      <h2 class="govuk-heading-m">
        Other badges
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Class</th>
            <th class="govuk-table__header" scope="col">Badge</th>
            <th class="govuk-table__header" scope="col">Class (with size modifier)</th>
            <th class="govuk-table__header" scope="col">Badge</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {%- for status in ["error","warning","success","information"] %}
          {% set classColour = "moj-badge--" + status %}
          {% set classSize = "moj-badge--small" %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <code>{{ classColour }}</code>
            </td>
            <td class="govuk-table__cell">
              {{ mojBadge({
                text: status,
                classes: classColour
              }) }}
            </td>
            <td class="govuk-table__cell">
              <code>{{ classColour }} {{ classSize }}</code>
            </td>
            <td class="govuk-table__cell">
              {{ mojBadge({
                text: status,
                classes: classColour + " " + classSize
              }) }}
            </td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>

  </div>

{% endblock %}