{% from "govuk/macros/attributes.njk" import govukAttributes -%}
{% from "macros/heading/macro.njk" import heading -%}

{#
Arguments to be passed:
- layout: {string} "vertical" (default), "horizontal"
- reverse: {boolean} Reverse the layout of horizontal variant, so image shows either left or right of content.
- headingFirst: {boolean} In vertical mode place the heading before the image
- classes: {string} Additional css classes to apply to the card
- imageSrc: {string} Absolute path of image location (e.g., assets/images/...)
- imageClasses: {string} Additional CSS class to be applied to the image.
- imageAlt: {string} Alt text for image. If empty, the image will be treated as decorative for screen readers.
- imageSrc2x: {string} Absolute path for larger image location for x2 display (e.g., assets/images/...).
#}

{%- macro _cardImage(params) %}
  {% set classNames = "app-card__image" -%}

  {% if params.imageClasses %}
    {% set classNames = classNames + " " + params.imageClasses %}
  {% endif -%}

  <img {{- govukAttributes({
    loading: "lazy",
    class: classNames,
    alt: params.imageAlt,
    src: params.imageSrc,
    width: params.width | default("528"),
    height: params.height | default("311"),
    srcset: {
      value: params.imageSrc2x + " 2x" if imageSrc2x else undefined,
      optional: true
    },
    "aria-hidden": {
      value: not params.imageAlt,
      optional: true
    }
  }) -}}>
{% endmacro %}

{% if params.layout == "horizontal" %}
<article class="app-card app-card--horizontal app-grid {% if params.reverse %} app-card--reverse{% endif %} {{ params.classes }}" style="--gap: 30px; --gap-small: 20px;">
      {% if params.imageSrc %}
        {{ _cardImage(params) }}
      {% endif %}

    <div>
      {{ heading({
        text: params.title,
        size: "medium"
      }) }}

      <div class="govuk-body app-card__content">
        {{ caller() }}
      </div>
    </div>
  </article>
{% else %}
  <article class="app-card {{ params.classes }}">
    {% if params.headingFirst %}
      {{ heading({
        text: params.title,
        size: "medium"
      }) }}
      {{ _cardImage(params) if params.imageSrc }}
    {% else %}
      {{ _cardImage(params) if params.imageSrc }}
      {{ heading({
        text: params.title,
        size: "medium"
      }) }}
    {% endif %}

    <div class="govuk-body app-card__content">
      {{ caller() }}
    </div>
  </article>
{% endif %}

