<script src="/public/javascripts/vendor/jquery.js"></script>
<script src="/public/javascripts/namespace.js"></script>
<script src="/public/javascripts/helpers.js"></script>
<script src="/public/javascripts/components/moj-add-another/add-another.js"></script>
<script src="/public/javascripts/components/moj-form-validator/form-validator.js"></script>
<script src="/public/javascripts/components/moj-menu/menu.js"></script>
<script src="/public/javascripts/components/moj-multi-select/multi-select.js"></script>
<script src="/public/javascripts/components/moj-password-reveal/password-reveal.js"></script>
<script src="/public/javascripts/components/moj-rich-text-editor/rich-text-editor.js"></script>
<script src="/public/javascripts/components/moj-sortable-table/sortable-table.js"></script>
<script src="/public/javascripts/components/moj-filter-toggle-button/filter-toggle-button.js"></script>
