.moj-filter-layout {
  @include govuk-clearfix;
}

.moj-filter-layout__filter {
  box-shadow: inset 0 0 0 1px govuk-colour("light-grey"); // Extends the inset border left full height of the filters on mobile

  @include govuk-media-query(desktop) {
    width: 100%;
    min-width: 260px;
    max-width: 385px;
    margin-right: govuk-spacing(7);
    float: left;
  }
}

// Filters with javascript enabled
@include govuk-media-query($until: desktop) {
  .js-enabled .moj-filter-layout__filter {
    position: fixed;
    z-index: 100; top: 0; right: 0; bottom: 0;
    overflow-y: scroll;
    background-color: govuk-colour("white");
  }

}

.moj-filter-layout__content {
  overflow: hidden;
  overflow-x: auto;
}