/* ==========================================================================
   #TICKET PANEL
   ========================================================================== */

.moj-ticket-panel {
  display: block;
  margin-right: govuk-spacing(0);
  flex-wrap: wrap;

  &--inline {
    @include govuk-media-query($from: desktop) {
      display: flex;
      flex-wrap: nowrap;

      & > * + * {
        margin-left: govuk-spacing(3);
      }
    }
  }

  &__content *:last-child {
    margin-bottom: govuk-spacing(0);
  }

  &__content {
    display: block;
    position: relative;
    background-color: govuk-colour("light-grey");
    padding: govuk-spacing(4);
    margin-bottom: govuk-spacing(3);
    flex-grow: 1;
    border-left: 4px solid transparent;

    &--grey {
      border-left-color: $govuk-border-colour;
    }
    &--blue {
      border-left-color: govuk-colour("blue");
    }
    &--red {
      border-left-color: govuk-colour("red");
    }
    &--yellow {
      border-left-color: govuk-colour("yellow");
    }
    &--green {
      border-left-color: govuk-colour("green");
    }
    &--purple {
      border-left-color: govuk-colour("purple");
    }
    &--orange {
      border-left-color: govuk-colour("orange");
    }
  }
}
