{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Sub navigation
      </h1>

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Nav item 1',
          href: '#1',
          active: true
        }, {
          text: 'Nav item 2',
          href: '#2'
        }, {
          text: 'Nav item 3',
          href: '#3'
        }]
      }) }}

    </div>

  </div>

{% endblock %}
