$govuk-global-styles: true;

// GOV.UK Frontend
@import "node_modules/govuk-frontend/govuk/all";

// MOJ Frontend
@import "src/moj/all";

// Other component styles

@import 'components/app-swatch';

// App specific
body {
  margin: 0;
  padding: $moj-gutter-half;

  @include mq($from: tablet) {
    padding: $moj-gutter;
  }

}

code {
  padding: 0 5px;
  color: #c62950;
  background-color: #f3f2f1;
  font-family: monospace, monospace;
  font-size: 1em;
}