# This provides sensible defaults, this can be customised if necessary and changes will not be overwritten

# Prevent preinstall, install, postinstall scripts from running by default
ignore-scripts = true

# Use exact versions in package.json when using npm install <pkg>
save-exact = true

# Fail if trying to use incorrect version of npm
engine-strict = true

# Show any output of scripts in the console 
foreground-scripts = true
