# Temporary only
.cache/
.tmp/

# Node.js modules
node_modules/

# Github actions & workflows
.github/

# Build output
dist/
public/

# 3rd party vendor code
**vendor**

# Files to ignore
package-lock.json
CHANGELOG.md
