/* ==========================================================================
   #IDENTITY BAR
   ========================================================================== */

.moj-identity-bar {
  @include govuk-clearfix;
  background-color: govuk-colour("white");
  box-shadow: inset 0 -1px 0 0 govuk-colour("mid-grey"); /* Takes up no space */
  color: govuk-colour("black");
  padding-bottom: govuk-spacing(2) - 1px; /* Negative by 1px to compensate */
  padding-top: govuk-spacing(2);
}


.moj-identity-bar__container {
  @include moj-width-container;
  font-size: 0; /* Hide whitespace between elements */
  text-align: justify; /* Trick to remove the need for floats */

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

}

.moj-identity-bar__title {
  @include govuk-font(16);
  display: inline-block;
  vertical-align: top;
}

.moj-identity-bar__details {
  margin-right: govuk-spacing(2);
  padding-top: govuk-spacing(1);
  padding-bottom: govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    vertical-align: top;
    padding-top: govuk-spacing(2) + 1px; /* Alignment tweaks */
    padding-bottom: govuk-spacing(2) - 1px; /* Alignment tweaks */
  }

}


.moj-identity-bar__actions {
  margin-bottom: - govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    vertical-align: middle;
  }

}

.moj-identity-bar__menu {
  display: inline-block;
  margin-right: govuk-spacing(2);

  &:last-child {
    margin-right: 0;
  }

}