{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "contributions.njk" %}

{% block form %}
  <p class="govuk-body">The confirmation link expired or there was a browser issue.</p>
  {%- call govukInsetText({
      classes: "govuk-!-width-two-thirds"
  }) %}
  <h2 class="govuk-heading-m">Get a new confirmation link</h2>
  <p class="govuk-body">To get a new link, <a class="govuk-link" href="{{ resetUrl }}">enter your email address again</a>.</p>
  <p class="govuk-body">You need to open the link in the same browser that you are on now.</p>
  {%- endcall %}
{% endblock %}
