{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/form.njk" import form %}

{% extends "contributions.njk" %}

{% block form %}
  <p class="govuk-body">Anyone at MOJ can now add a component to the MOJ Design System. You might want to do this to:

  <ul class="govuk-list govuk-list--bullet">
    <li>make it easier for teams to find your work</li>
    <li>get contributions from other people across government to help the component develop</li>
    <li>help your team meet the <a class="govuk-link" href="https://www.gov.uk/guidance/government-design-principles">Government Design Principles</a></li>
  </ul>

  <p class="govuk-body">You can add a component that has not been thoroughly developed or tested. If you have an image and you can briefly describe it, it’s ready to be added. </p>

    <h3 class="govuk-heading-m">What you’ll need</h2>

    <p class="govuk-body">To submit a component to the Design System you’ll need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the component name</li>
    <li>a description</li>
    <li>details about how it’s being used</li>
    <li>an image of it</li>
  </ul>

  <p class="govuk-body">This helps people to understand what the component is and how to use it.</p>

    <p class="govuk-body">You’ll be asked for your email address to verify that you work for MOJ. We’ll also use this to contact you when the component is live, or if there are queries. You can ask for your name or team name to be added to the documentation, but this is optional.</p>

  <h3 class="govuk-heading-m">After you submit a component</h2>

    <p class="govuk-body">The MOJ Design System team will briefly check the component and then it’ll be live within 10 working days. People may add comments to the component’s Github discussion.</p>

  {% call form({csrfToken: csrfToken}) %}
      <div class="moj-button-action">
        {{ govukButton({
          text: 'Continue'
        }) }}
      </div>
  {% endcall %}
{% endblock %}
