---
layout: layouts/example.njk
title: Password reveal (example)
---

{%- from "govuk/components/input/macro.njk" import govukInput -%}

{{ govukInput({
  id: "password",
  attributes: {
    "data-module": "moj-password-reveal"
  },
  classes: "govuk-input--width-20",
  name: "password",
  type: "password",
  label: {
    text: "Password",
    classes: "govuk-label--m"
  },
  value: "1234ABC!"
}) }}
