---
layout: layouts/example.njk
title: Task list (example)
arguments: task-list
---

{%- from "moj/components/task-list/macro.njk" import mojTaskList -%}

{{ mojTaskList({
  sections: [
    {
      heading: {
        text: 'Client details'
      },
      items: [{
        text: 'Personal details',
        href: '#',
        complete: true
      }, {
        text: 'What you are covered for',
        href: '#',
        complete: true
      }]
    },
    {
      heading: {
        text: 'Means assessment'
      },
      items: [{
        text: 'Bank account details',
        href: '#'
      }, {
        text: 'Income',
        href: '#'
      }, {
        text: 'Regular payments',
        href: '#'
      }, {
        text: 'Property',
        href: '#'
      }, {
        text: 'Savings and investments',
        href: '#'
      }, {
        text: 'Items of value',
        href: '#'
      }, {
        text: 'Restrictions',
        href: '#'
      }]
    },
    {
      heading: {
        text: 'Merrits assessment'
      },
      items: [{
        text: 'Incident details',
        href: '#',
        complete: true
      }, {
        text: 'Respondent details',
        href: '#',
        complete: true
      }, {
        text: 'Case details',
        href: '#',
        complete: true
      }]
    },
    {
      heading: {
        text: 'Apply'
      },
      items: [{
        text: 'Submit application',
        href: '#'
      }]
    }
  ]
}) }}
