---
layout: layouts/example.njk
title: Organisation switcher (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5984&mode=design
---

{%- from "moj/components/organisation-switcher/macro.njk" import mojOrganisationSwitcher -%}

{{ mojOrganisationSwitcher({
  text: 'HMP Sheppey Cluster (Swaleside)',
  link: {
    text: 'Change prison',
    href: '#'
  }
}) }}
