---
layout: layouts/example.njk
title: Organisation switcher (example)
---

{%- from "moj/components/organisation-switcher/macro.njk" import mojOrganisationSwitcher -%}

{{ mojOrganisationSwitcher({
  text: 'HMP Sheppey Cluster (Swaleside)',
  link: {
    text: 'Change prison',
    href: '#'
  }
}) }}
