{% extends "./base.njk" %}

{% from "macros/status.njk" import statusLabel %}
{% from "macros/heading.njk" import heading %}

{% block content %}
    <div class="app-layout__content">
        {% if not isIndex %}<span class="govuk-caption-xl">Archive</span>{% endif %}
        {{ heading(1, title, status) }}
        {{ statusLabel(type, status, statusInfo, creatorName, creatorTeam, statusDate) }}
        {{ content | safe }}
    </div>

{% endblock %}
