{% extends "./base.njk" %}

{% import "./macros/status.njk" as macros %}

{% block content %}
    <div class="app-layout__content">
        {% if not isIndex %}<span class="govuk-caption-xl">Archive</span>{% endif %}
        <h1 class="govuk-heading-xl{% if status %} govuk-!-display-inline-block govuk-!-margin-bottom-2{% endif %}">
          {{ title }}
        </h1>
        {{ macros.statusLabel(type, status, statusMessage, statusInfo, creatorName, creatorTeam, statusDate) }}
        {{ content | safe }}
    </div>

{% endblock %}
