<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#0b0c0c">
        <link rel="shortcut icon"
              href="{{ '/assets/images/favicon.ico' | url }}"
              type="image/x-icon">
        <link rel="apple-touch-icon"
              href="{{ '/assets/images/moj-apple-touch-icon-180x180-2024.png' | url }}"
              sizes="180x180">
        <link rel="apple-touch-icon"
              href="{{ '/assets/images/moj-apple-touch-icon-167x167-2024.png' | url }}"
              sizes="167x167">
        <link rel="apple-touch-icon"
              href="{{ '/assets/images/moj-apple-touch-icon-152x152-2024.png' | url }}"
              sizes="152x152">
        <link rel="apple-touch-icon"
              href="{{ '/assets/images/moj-apple-touch-icon-2024.png' | url }}">
        <meta name="description"
              content="Design your service using MoJ styles, components and patterns">
        <meta property="og:image"
              content="{{ '/assets/images/moj-opengraph-image-2024.png' | url }}">
        <link href="{{ '/assets/stylesheets/application-20241028.css' | url }}"
              rel="stylesheet">
        {% block pageStyles %}{% endblock %}
        <title>
            {% block title %}{{ title }} - MoJ Design System{% endblock %}
        </title>
        <script type="module"
                src="https://www.googletagmanager.com/gtag/js?id=G-VTGX4YLSVL"
                async></script>
        <script type="module" src="{{ '/assets/javascript/jquery.js' | url }}"></script>
        <script type="module" src="{{ '/assets/javascript/all-20241028.js' | url }}"></script>
    </head>
    <body class="govuk-template__body">
        <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
        {% block body %}
            <div>
                {% include "./partials/header.njk" %}
                {% include "./partials/navigation.njk" %}
                {% block content %}
                    <main class="app-prose-scope" role="main">
                        {{ content | safe }}
                    </main>
                {% endblock %}
                {% include "./partials/footer.njk" %}
            </div>
        {% endblock %}

        {% include "./partials/footer.njk" %}

      </div>
    {% endblock %}
    {% block pageScripts %}{% endblock %}
  </body>
</html>
