<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#FFFFFF">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/images/favicon-512x512.png' | url }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/favicon-192x192.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | url }}">
    <link rel="mask-icon" href="{{ '/assets/images/safari-pinned-tab.svg' | url }}" color="#ffb259">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | url }}">

    <meta name="description" content="Design your service using dxw styles, components and patterns">
    <meta property="og:image" content="{{ '/assets/images/dxw-opengraph-image.png' | url }}">

    <!--[if lte IE 8]><link href="{{ '/assets/stylesheets/application-ie8.css' | url }}" rel="stylesheet"><![endif]-->
    <!--[if gt IE 8]><!--><link href="{{ '/assets/stylesheets/application.css' | url }}" rel="stylesheet"><!--<![endif]-->
    <title>{{ title }} - dxw Pattern Library</title>

    <script type="text/javascript" src="{{ '/assets/javascript/jquery.js' | url }}"></script>
    <script type="text/javascript" src="{{ '/assets/javascript/all.js' | url }}"></script>
  </head>
  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block body %}
      <div>
        {% include "./partials/header.njk" %}

        {% include "./partials/navigation.njk" %}

        {% block content %}
          <main class="app-prose-scope" role="main">
            {{ content | safe }}
          </main>
        {% endblock %}

        {% include "./partials/footer.njk" %}

      </div>
    {% endblock %}

    <script type="text/javascript">
      dxwFrontend.initAll();
    </script>
    {% block pageScripts %}{% endblock %}
  </body>
</html>
