{% extends "./base.njk" %}

{% block content %}
    <div class="app-layout__content">
        <h1 class="govuk-heading-xl">
          {% if subsection %}<span class="govuk-caption-xl">{{ subsection }}</span>{% endif %}
          {{ title }}
        </h1>
        {{ content | safe }}

    {% include "./partials/get-help.njk" %}
    </div>
{% endblock %}
