{% extends "./base.njk" %}

{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% macro appSideNavigation(config) %}
  {% set config = config|addActiveAttribute(page.filePathStem | url) %}

  {{ mojSideNavigation(config) }}
{% endmacro %}

{% block content %}
  <div class="govuk-width-container govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ appSideNavigation({
        classes: 'govuk-!-padding-top-6',
        sections: [
          {
            heading: {
              text: "Navigation"
            },
            items: [
            {
              text: 'Header',
              href: ('/components/header' | url)
            },
            {
              text: 'Primary navigation',
              href: ('/components/primary-navigation' | url)
            },
            {
              text: 'Sub navigation',
              href: ('/components/sub-navigation' | url)
            },
            {
              text: 'Side navigation',
              href: ('/components/side-navigation' | url)
            }
            ]
          }
        ]

        }) }}

      {% include "./partials/back-to-top.njk" %}
    </div>

    <div class="govuk-grid-column-two-thirds">
      <main class="govuk-main-wrapper app-prose-scope" role="main">
        <h1 class="govuk-heading-xl">
          {% if not isIndex %}<span class="govuk-caption-xl">Components</span>{% endif %}
          {{ title }}
        </h1>
        {{ content | safe }}
      </main>

      {% include "./partials/contact-panel.njk" %}
    </div>
  </div>
{% endblock %}
