{% extends "./base.njk" %}

{% block content %}
    <div class="app-layout__content">
        <h1 class="govuk-heading-xl">
          {% if not isIndex %}<span class="govuk-caption-xl">Components</span>{% endif %}
          {{ title }}
        </h1>
        {{ content | safe }}
    </div>

{% endblock %}

