{% extends "./base.njk" %}

{%- set tabsHtml -%}
  {%- include "./partials/content-tabs.njk" -%}
{%- endset -%}
{%- set tabsHtml = tabsHtml | trim -%}

{% block content %}
    {% include "./partials/page-header.njk" %}

    <div class="app-page__body">
      <div class="app-page__width-container">
        {{- (tabsHtml if tabsHtml else content) | safe -}}

        {% if (["component", "page", "pattern"].includes(type)) and (not tabs) and (["To be reviewed", "Experimental", "Official"].includes(status)) %}
          {% include "./partials/get-help-and-contribute.njk" %}
        {% elif showHelp %}
          {% include "./partials/get-help.njk" %}
        {% endif %}
      </div>
    </div>
{% endblock %}
