{% extends "./base.njk" %}

{% block content %}
    {% include "./partials/page-header.njk" %}

    <div class="app-page__body">
        <div class="app-page__width-container">
          {{ content | safe }}

          {% if (["component", "page", "pattern"].includes(type)) and (not tabs) and (["To be reviewed", "Experimental", "Official"].includes(status)) %}
            {% include "./partials/get-help-and-contribute.njk" %}
          {% elif showHelp %}
            {% include "./partials/get-help.njk" %}
          {% endif %}
        </div>
    </div>
{% endblock %}
