{% extends "./base.njk" %}

{% set stylesPath = page.inputPath | getStylesPath %}
{% set scriptPath = page.inputPath | getScriptPath %}

{# Remove standard template blocks for examples #}
{% block skipLink %}{% endblock %}
{% block bodyStart %} {% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block head %}
  <link href="{{ 'assets/stylesheets/govuk-frontend.css' | rev | url }}" rel="stylesheet">
  <link href="{{ 'assets/stylesheets/moj-frontend.css' | rev | url }}" rel="stylesheet">

  <style>{% include stylesPath ignore missing %}</style>
{% endblock %}

{% block main %}
  <div class="app-example__wrapper govuk-!-margin-6">{{ content | safe }}</div>
{% endblock %}
