{% extends "./base.njk" %}

{% set components = collections.all | eleventyNavigation(eleventyNavigation.key) | sort(false, false, "key") %}

{% block content %}
    <div class="app-masthead">
        <div class="app-layout__content">
            <h1 class="govuk-heading-xl">
              {{ title }}
            </h1>
            {{ content | safe }}
        </div>
    </div>

    <div class="app-layout__content app-cards">
    {% for component in components %}
        <article class="app-card">
            <h2>{{ component.title }}</h2>
            <p>{{ component.excerpt }}</p>
            <p><a href="{{ component.url }}">View the '{{ component.title }}' component</a></p>
        </article>
    {% endfor %}
    </div>
{% endblock %}
