{% extends "./base.njk" %}

{% from "macros/heading/macro.njk" import heading %}

{% set items = collections.all
  | eleventyNavigation(eleventyNavigation.key)
  | sort(false, false, "key")
%}

{% block content %}
  <div class="app-masthead">
    <div class="app-layout__content">
      {{ heading({ text: title }) }}

      {{ content | safe }}
    </div>
  </div>

  <div class="app-layout__content">
    <div class="app-page__width-container">
    {% for item in items %}
      <article class="app-article">
        <h2 class="govuk-heading-l">{{ item.title }}</h2>
        <p>{{ item.excerpt }}</p>
        <p>
          <a href="{{ item.url }}">View the &lsquo;{{ item.title }}&rsquo; documentation</a>
        </p>
      </article>
    {% endfor %}
    </div>
  </div>
{% endblock %}
