{% extends "./base.njk" %}

{% from "macros/status-label/macro.njk" import statusLabel %}
{% from "macros/heading/macro.njk" import heading %}

{% block content %}
    <div class="app-layout__content">
        {{ heading({
          text: title,
          caption: "Pages" if not isIndex,
          statusTag: { text: status }
        }) }}

        {{ statusLabel(type, status, statusInfo[status], statusDate, creatorName, creatorTeam) if statusInfo[status] }}
        {{ content | safe }}

      {% if isIndex or isArchive %}
      {% else %}
        {% include "./partials/get-help-and-contribute.njk" %}
      {% endif %}

    </div>

{% endblock %}

{% block pageScripts %}
  <script>
    $('[data-module="app-tabs"]').each(function(e, el) {
      new Tabs($(el));
    });
  </script>
{% endblock %}
