{% extends "./base.njk" %}

{% import "./macros/status.njk" as macros %}

{% block content %}
    <div class="app-layout__content">
        {% if not isIndex %}<span class="govuk-caption-xl">Patterns</span>{% endif %}
        <h1 class="govuk-heading-xl{% if status %} govuk-!-display-inline-block govuk-!-margin-bottom-2{% endif %}">
            {{ title }}
        </h1>
        {{ macros.statusLabel(status, statusMessage, statusInfo) }}
        {{ content | safe }}

      {% if isIndex or isArchive %}
      {% else %}
        {% include "./partials/get-help-and-contribute.njk" %}
      {% endif %}

    </div>

{% endblock %}
