{% extends "./base.njk" %}

{% from "macros/status-label/macro.njk" import statusLabel %}
{% from "macros/heading/macro.njk" import heading %}

{% block content %}
  <div class="app-layout__content">
    {{ heading({
      text: title,
      caption: "Patterns" if not isIndex,
      statusTag: { text: status }
    }) }}

    {{ statusLabel(
      type,
      status,
      statusInfo[status],
      statusDate,
      creatorName,
      creatorTeam
    ) if statusInfo[status] }}

    {{ content | safe }}

    {% if not (isIndex or isArchive) %}
      {% include "./partials/get-help-and-contribute.njk" %}
    {% endif %}
  </div>
{% endblock %}
