{% extends "./base.njk" %}

{% block content %}
    <div class="app-layout__content">
        <h1 class="govuk-heading-xl">
            {{ title }}
        </h1>

        {{ content | safe }}
    </div>
{% endblock %}
