{% extends "./base.njk" %}

{% from "macros/heading/macro.njk" import heading %}

{% block content %}
  <div class="app-layout__content">
    {{ heading({
      text: title
    }) }}

    {{ content | safe }}
  </div>
{% endblock %}
