{% extends "./base.njk" %}

{% block content %}
  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>

        <span class="govuk-phase-banner__text">
          This is new – your <a class="govuk-link" href="mailto:design-system@digital.justice.gov.uk">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>

    <main id="main-content" class="govuk-main-wrapper app-prose-scope" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            {{ title }}
          </h1>

        {{ content | safe }}

      </div>
    </div>
  </main>
</div>
{% endblock %}
