{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% extends "./base.njk" %}

{% block content %}
    {% include "./partials/page-header.njk" %}

    <div class="app-page__body">
        <div class="app-page__width-container">
          {{ content | safe }}

          {% set rows = [] %}

          {%- for entry in collections['style-guide-update'] -%}
            {% set link = '<a class="govuk-!-font-weight-bold" href="/content-standards/style-guide#'+entry.data.anchor+'">'+entry.data.title+'</a>' %}
            {% set tagText = entry.data.type | upperFirst %}
            {% set tagClass='govuk-tag govuk-tag--green' if entry.data.type | lower === 'new' else 'govuk-tag govuk-tag--blue' %}
            {% set entryContent = entry.content | markdownify  %}

            {% set row = [
                { html: link },
                { html: govukTag({ text: tagText, classes: tagClass})},
                { html: entryContent },
                { html: entry.date | mojDate('date') | replace(' ', '&nbsp;'), attributes: { 'data-sort-value': entry.date | timestamp } }
            ] %}

            {% set rows = (rows.push(row), rows) %}
          {% endfor %}

          {{ govukTable({
            attributes: {
              'data-module': 'moj-sortable-table'
            },
            head: [
              {
                text: "Entry",
                attributes: {
                  'aria-sort': 'none'
                }
              },
              {
                text: "Type",
                attributes: {
                  'aria-sort': 'none'
                }
              },
              {
                text: "Description",
                attributes: {
                  'aria-sort': 'none'
                }
              },
              {
                text: "Date",
                attributes: {
                  'aria-sort': 'descending'
                }
              }
            ],
            rows: rows
          }) }}
    </div>
  </div>
{% endblock %}
