{% extends "./base.njk" %}

{% from "macros/heading/macro.njk" import heading %}

{% block content %}
  <div class="app-layout__content">
    {{ heading({
      text: title,
      caption: "Components" if not isIndex
    }) }}

    {{ content | safe }}

    {% include "./partials/get-help-and-contribute.njk" %}
  </div>
{% endblock %}
