{% extends "./base.njk" %}

{% from "macros/heading/macro.njk" import heading %}

{% set mainClasses = "app-prose-scope" %}

{% block content %}
  <div class="app-layout__content">
    {{ heading({
      text: title,
      caption: subsection if not isIndex
    }) }}

    {{ content | safe }}
  </div>
{% endblock %}
