{% extends "./base.njk" %}

{% from "macros/card/macro.njk" import card %}
{% from "macros/heading/macro.njk" import heading %}

{% set items = collections.all
  | eleventyNavigation(eleventyNavigation.key)
  | sort(false, false, "order")
%}

{% block content %}
  <div class="app-masthead">
    <div class="app-page__width-container">
      {{ heading({ text: title }) }}

      {{ content | safe }}
    </div>
  </div>
  <div class="app-page__body">
    <div class="app-page__width-container">
      <div class="app-grid" style="--gap: 60px; --gap-small: 40px; --min-column-width: 290px;">
        {% for item in items %}
          {# don't include 'view all components' entry #}
          {% if item.url !== '/components' %}
            {% set imgName = item.title|lower|replace(" ", "-") %}
            {% call card({
              title: item.title,
              headingFirst: true,
              classes: "buildingblock-card",
              imageSrc: "/assets/images/thumbs/thumb-" + imgName + ".png",
              imageClasses: 'app-card__image--with-border'
            }) %}
              <p>{{ item.excerpt }}</p>
              <p>
                <a href="{{ item.url }}">View the &lsquo;{{ item.title }}&rsquo; documentation</a>
              </p>
            {% endcall %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

{#
Commenting out below paragraph until roadmap and contribution journey are added.
    <hr/>
    <h2 class="govuk-heading-m">If you can't find what you need</h2>
    <p>We're improving and expanding our building blocks. Check our <a href="/updates/roadmap">roadmap</a> to see what's coming next.</p>
    <p>You can also <a href="/contribute">contribute a component to the Design System</a>. This can help other teams working on similar problems.</p>
#}

  </div>
{% endblock %}

