{% extends "./base.njk" %}

{% from "macros/heading/macro.njk" import heading %}

{% set items = collections.all 
  | eleventyNavigation(eleventyNavigation.key) 
  | sort(false, false, "key") 
%}

{% block content %}
  <div class="app-masthead">
    <div class="app-layout__content">
      {{ heading({ text: title }) }}

      {{ content | safe }}
    </div>
  </div>
  <div class="app-layout__content">
    <div class="thumb-container">
      {% for item in items %}
      {% set imgname = item.title|lower|replace(" ", "-") %}
        <article class="buildingblock-thumb">
          <h2 class="govuk-heading-m">{{ item.title }}</h2>
          <img src="{{ "/assets/images/thumbs/thumb-" + imgname + ".png" }}">
          <p>{{ item.excerpt }}</p>
          <p>
            <a href="{{ item.url }}">View the &lsquo;{{ item.title }}&rsquo; documentation</a>
          </p>
        </article>
      {% endfor %}
    </div>
    <hr/>
    <h2 class="govuk-heading-m">If you can't find what you need</h2>
    <p>We're improving and expanding our building blocks. Check our <a href="/updates/roadmap">roadmap</a> to see what's coming next.</p>
    <p>You can also <a href="/contribute">contribute a component to the Design System</a>. This can help other teams working on similar problems.</p>
  </div>

{% endblock %}

