@use "../moj-frontend" as *;

.buildingblock-thumb {
  border: 1px solid transparent;
}

.buildingblock-thumb img {
  width: 100%;
  @include govuk-responsive-margin(3, "bottom");
}

.buildingblock-thumb p {
  color:  $govuk-secondary-text-colour;
}

.buildingblock-thumb p:last-of-type {
  margin-bottom: 0;
}

.thumb-container {
  column-gap: govuk-spacing(9);
  row-gap: govuk-spacing(9);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include govuk-media-query($until: tablet) {
    row-gap: govuk-spacing(7);
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }


}