@use "../moj-frontend" as *;

.app-card {
  margin-bottom: 0;

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: govuk-spacing(4);
  }

  &__content {
    margin-bottom: 0;
  }
}

.app-card--reverse {
  > *:last-child {
    order: -1;
  }
}
