// Override cookie banner to be left aligned
.govuk-cookie-banner--align-left {
  .govuk-cookie-banner__message {
    margin-right: 20px;
    margin-left: 20px;
  }

  .govuk-cookie-banner__content {
    text-wrap: pretty;
  }
}
