@use "../moj-frontend" as *;
@use "../settings/app";

.app-layout-tabs__panel .govuk-pagination--block {
  display: none;
}

.govuk-frontend-supported {
  @include govuk-media-query($from: tablet) {
    .app-layout-tabs {
      margin-top: 0;
    }

    .app-layout-tabs__list {
      position: relative;
      display: flex;
      background: govuk-colour("white");

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        background: white;
        border-bottom: 1px solid $govuk-border-colour;
        height: 100%;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }
    }

    .app-layout-tabs__list-item {
      display: flex;
      align-items: flex-end;
      background-color: govuk-colour("white");
    }

    .govuk-tabs__list-item--selected {
      background-color: #f7f7f7;
      border-top: 4px solid govuk-colour("blue");
    }

    .app-layout-tabs__tab {
      text-decoration: none;
    }

    .govuk-tabs__list-item--selected .app-layout-tabs__tab:not(:focus) {
      /* box-shadow: 0px 4px govuk-colour("blue"); */
    }

    .app-layout-tabs__panel {
      border: none;
      padding: govuk-spacing(9) 0;
    }

    .app-layout-tabs__panel .govuk-pagination--block {
      display: block;
      @include govuk-responsive-margin(6, "top");

      @include govuk-media-query(app.$breakpoint) {
        @include govuk-responsive-margin(9, "top");
      }

      border-top: 1px solid $govuk-border-colour;
    }
  }
}
