@use "sass:math";
@use "../moj-frontend" as *;
@use "../settings/app";

.app-layout {
  $grid-sidebar-width: 25%;
  $grid-content-width: 75%;

  position: relative;

  @include govuk-media-query(app.$breakpoint) {
    display: grid;
    width: 100%;
    grid-template-columns: $grid-sidebar-width $grid-content-width;
  }

  @include govuk-media-query($govuk-page-width) {
    grid-template-columns: app.$sidebar-width calc(100% - app.$sidebar-width);
  }
}

.app-layout__sidebar {
  @include govuk-responsive-padding(6, "bottom");
  z-index: 1;
  background-color: govuk-colour("white");

  @include govuk-media-query(app.$breakpoint) {
    border-right: 1px solid $govuk-border-colour;
  }
}

.app-layout__page {
  z-index: 0;
  overflow-x: hidden;
}

.app-layout__backlink {
  max-width: 840px;
  @include govuk-responsive-padding(6, "right");
  @include govuk-responsive-padding(6, "left");

  @include govuk-media-query(app.$breakpoint) {
    @include govuk-responsive-padding(9, "right");
    @include govuk-responsive-padding(9, "left");
  }
}


