@use "../moj-frontend" as *;

.app-prose-scope {
  h1:not([class]) {
    @extend %govuk-heading-xl;
  }

  h2:not([class]) {
    @extend %govuk-heading-l;
  }

  h3:not([class]) {
    @extend %govuk-heading-m;
  }

  h4:not([class]) {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  img {
    max-width: 100%;
    border: 1px solid #b1b4b6;
  }

  .img-container {
    width: fill;
    height: fit-content;
    padding: govuk-spacing(6);
    background-color: white;
    border: 1px solid #b1b4b6;
    margin-bottom: govuk-spacing(9);
  
    & img {
      height: 100%;
      max-height: 600px;
      object-fit: scale-down;
      border: none;  
    }
  
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  ul a,
  ol a {
    @extend %govuk-link;
  }

  a {
    @extend %govuk-link;

    /* stylelint-disable selector-no-qualifying-type */
    &.govuk-link--no-visited-state.govuk-button {
      color: govuk-colour("white");
    }
  }

  .govuk-link--inverse {
    @include govuk-link-style-inverse;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-margin(6, "bottom");
  }

  th {
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) govuk-em(govuk-spacing(2), 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
    @include govuk-typography-weight-bold;
  }

  td {
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) govuk-em(govuk-spacing(2), 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }

  caption {
    display: table-caption;
    text-align: left;
    @include govuk-typography-weight-bold;
  }

  pre + h2 {
    padding-top: govuk-spacing(4);
  }

  pre + h3,
  pre + h4 {
    padding-top: govuk-spacing(2);
  }
}

/// System ui-monospace font stack
///
/// @link https://caniuse.com/extended-system-fonts
/// @link https://www.w3.org/TR/css-fonts-4/#ui-monospace-def
///
/// Android typically avoids the "Courier" based monospace
/// default but we need to specify fallbacks for others:
///
/// * SF Mono - Font for Safari 13.1+ via ui-monospace
/// * Menlo - Font for older macOS, OS X versions
/// * Cascadia Mono, Segoe UI Mono, Consolas - Fonts for Windows 11, 10, 8
/// * Consolas - Font for older Windows versions
/// * Liberation Mono - Font for Linux used by GitHub
pre,
code {
  // font family in a separate variable to avoid syntax errors when passing
  // to the common typography mixin
  $app-code-font: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;
  @include govuk-typography-common($font-family: $app-code-font);
}

pre {
  margin: 0;
}

// Add styling for inline code
code {
  padding: 1px 3px;
  color: #c62950;
  background-color: govuk-colour("white");
  @include govuk-font-size($size: 16);
  @include govuk-media-query($from: tablet) {
    padding: 2px 4px;
  }
}

// Add styling for block code
pre code {
  display: block;
  overflow-x: auto;
  border: $govuk-focus-width solid transparent;
  outline: 1px solid $govuk-border-colour;
  color: $govuk-text-colour;
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(5, "top");
  @include govuk-responsive-margin(6, "bottom");
}

// Allow text to wrap
pre .language-markdown,
pre .language-plaintext {
  white-space: pre-wrap;
}
