---
layout: layouts/example.njk
title: Multi file upload without JavaScript with errors (example)
---

{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">

        <ul class="govuk-list govuk-error-summary__list">

          <li>

            <a href="#documents">name-of-file-1.pdf must be a png or gif</a>

          </li>

          <li>

            <a href="#documents">name-of-file-2.pdf must be a png or gif</a>

          </li>

        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-xl">Upload files</h1>

    <form action="" method="post" enctype="multipart/form-data">
      {% set uploadHtml %}
        {{ govukFileUpload({
          id: "documents",
          name: "documents",
          classes: "moj-multi-file-upload__input",
          label: {
            text: "Upload a file",
            classes: "govuk-label--m"
          },
          attributes: { multiple: "" },
          errorMessage: {
            html: "name-of-file-1.pdf must be a png or gif<br>name-of-file-2.pdf must be a png or gif"
          }
        }) }}

        {{ govukButton({
          text: "Upload file",
          classes: "govuk-button--secondary moj-multi-file-upload__button"
        }) }}
      {% endset %}

      {{ mojMultiFileUpload({
        uploadedFiles: {
          heading: { text: "Files added" },
          items: []
        },
        uploadHtml: uploadHtml
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
