.moj-filter-layout {
  @include govuk-clearfix;
}

.moj-filter-layout__filter {
  box-shadow: inset 0 0 0 1px govuk-colour("light-grey"); // Extends the inset border left full height of the filters on mobile

  @include govuk-media-query(desktop) {
    float: left;
    margin-right: govuk-spacing(7);
    max-width: 385px;
    min-width: 260px;
    width: 100%;
  }
}

// Filters with javascript enabled
@include govuk-media-query($until: desktop) {

  .js-enabled .moj-filter-layout__filter {
    background-color: govuk-colour("white");
    position: fixed; top: 0; right: 0; bottom: 0;
    overflow-y: scroll;
    z-index: 100;
  }

}

.moj-filter-layout__content {
  overflow: hidden;
  overflow-x: auto;
}