.moj-search-toggle__button {
  @include govuk-font($size: 19, $weight: bold);
  background-color: transparent;
  border: none;
  color: $govuk-link-colour;
  cursor: pointer;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;

  &__icon {
    display: inline-block;
    height: 20px;
    margin-left: govuk-spacing(2);
    vertical-align: middle;
    width: 20px;
    fill: currentColor;

    @media screen and (forced-colors: active) {
      fill: windowText;
    }
  }

  &:focus {
    background-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    outline: none;
    position: relative;
    z-index: 1;
  }
}

.moj-search--toggle {
  padding: govuk-spacing(3);

  @include govuk-media-query($until: desktop) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// JS enabled
.js-enabled .moj-search--toggle {
  @include govuk-media-query($until: desktop) {
    padding-top: 0 !important;
  }
}

.js-enabled .moj-search-toggle {
  position: relative;
}

.js-enabled .moj-search-toggle__search {
  background-color: govuk-colour("light-grey");

  @include govuk-media-query($from: desktop) {
    max-width: 450px;
    position: absolute;
    right: -15px;
    top: 50px; // Height of nav bar
    width: 450px;
    z-index: 10;
  }
}
