{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "_includes/layouts/base.njk" %}
{% block content %}
<div class="app-layout__content">
    <form method="POST" action="{{ submitUrl }}" enctype="multipart/form-data">
        {{ govukFileUpload({
            id: "component-image",
            name: "componentImage",
            label: {
                text: "Upload a file"
            }
        }) }}

        <div class="moj-button-action">
            {{ govukButton({
                text: 'Continue'
            }) }}
        </div>
    </form>
</div>
{% endblock %}
