---
layout: layouts/example.njk
title: Identity bar with toggleable secondary menu (example)
---

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{{ mojIdentityBar({
  title: {
    html: '<b>Jane Wolenksy</b> and <b>Simon Wolensky</b>'
  },
  menus: [{
    items: [{
      text: 'Primary action'
    }]
  }, {
    items: [{
      text: 'Secondary action',
      classes: 'govuk-button--secondary',
      href: "#"
    }, {
      text: 'Tertiary action',
      classes: 'govuk-button--secondary',
      href: "#"
    }]
  }]
}) }}
