/* ==========================================================================
   #TICKET PANEL
   ========================================================================== */

.moj-ticket-panel {
   display: block;
   margin-right: govuk-spacing(0);
   flex-wrap: wrap;

   &--inline {
      @include govuk-media-query($from: tablet) {
         display: flex;
         margin-right: govuk-spacing(3);
         flex-wrap: nowrap;
   
         & > * + * {
            margin-left: govuk-spacing(3);
         }
      }
   }

   &__content {
      display: block;
      position: relative;
      background-color: govuk-colour("light-grey");
      padding: govuk-spacing(3);
      margin-bottom: govuk-spacing(3);
      border-left: 5px solid $govuk-brand-colour;
      
      &--red { border-color: govuk-colour("red"); }
      &--yellow { border-color: govuk-colour("yellow"); }
      &--green { border-color: govuk-colour("green"); }
      &--purple { border-color: govuk-colour("purple"); }
      &--orange { border-color: govuk-colour("orange"); }
   }
}
