/* ==========================================================================
   #ASSETS
   ========================================================================== */

// Path to the assets directory, with trailing slash.
$moj-assets-path: "/assets/" !default;

// Path to the images folder, with trailing slash.
$moj-images-path: "#{$moj-assets-path}images/" !default;

// Path to the fonts folder, with trailing slash.
$moj-fonts-path: "#{$moj-assets-path}fonts/" !default;
