@use "node_modules/govuk-frontend/dist/govuk/base" as govuk;

/* ==========================================================================
   #ASSETS
   ========================================================================== */

// Path to the assets directory, with trailing slash.
// Default to govuk-frontend assets path if not set.
$moj-assets-path: govuk.$govuk-assets-path !default;

// Path to the images folder, with trailing slash.
$moj-images-path: "#{$moj-assets-path}images/" !default;

// Path to the fonts folder, with trailing slash.
$moj-fonts-path: "#{$moj-assets-path}fonts/" !default;
