/* ==========================================================================
   #COLOURS
   ========================================================================== */

$moj-border-color: rgb(161, 172, 178);
$moj-secondary-text-color: rgb(69, 74, 76);

$moj-secondary-link-color: rgb(69, 74, 76);
$moj-secondary-link-hover-color: rgb(23, 24, 25);
