/* ==========================================================================
   #COLOURS
   ========================================================================== */

$moj-border-color: rgb(161, 172, 178);
$moj-secondary-text-color: rgb(69, 74, 76);

$moj-secondary-link-color: rgb(69, 74, 76);
$moj-secondary-link-hover-color: rgb(23, 24, 25);

// GOV.UK orange does not have accessible color contrast
$moj-warning-colour: #eb611c;
// Links need higher contrast still so a modified orange for links
$moj-warning-link-colour: #c75228;
