---
layout: layouts/example.njk
title: Warning banner (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5802&mode=design
---

{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
  type: 'warning',
  text: 'Questions weren’t sent – try again.',
  iconFallbackText: 'Warning'
}) }}
