---
layout: layouts/example.njk
title: Warning banner (example)
---
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
  type: 'warning',
  text: 'Questions weren’t sent – try again.',
  iconFallbackText: 'Warning'
}) }}
