{% extends "layouts/base.html" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Multi file upload
      </h1>


      {% if errorSummary.items.length %}
        {{ govukErrorSummary({
          titleText: 'There is a problem',
          errorList: errorSummary.items
        }) }}
      {% endif %}

      <form action="/components/multi-file-upload" method="post" enctype="multipart/form-data">
        <div class="moj-multi-file-feedback" {% if uploadedFiles.length == 0 %}hidden{% endif%}>
          <h2 class="govuk-heading-m">Files added</h2>

          <dl class="govuk-summary-list">
            {% if uploadedFiles and uploadedFiles.length > 0 %}
              {% for file in uploadedFiles %}
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__value">
                    {{file.messageHtml | safe}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <input type="submit" name="delete-{{file.filename}}" class="moj-multi-file-feedback__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0" value="Delete" aria-describedby="moj-delete-label__{{file.filename}}" data-filename="{{file.filename}}">

                    <span class="govuk-visually-hidden" id="moj-delete-label__{{file.filename}}">
                      {{file.originalname}}
                    </span>
                  </dd>
                </div>
              {% endfor %}
            {% endif %}
          </dl>
        </div>

        <div class="moj-multi-file-upload">
          {{ govukFileUpload({
            id: "documents",
            name: "documents",
            label: {
              text: "Upload a file",
              classes: 'govuk-label--m'
            },
            attributes: {
              multiple: ''
            },
            errorMessage: errorMessage
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary'
          })}}
        </div>

        {{govukButton({
          text: 'Continue'
        })}}
      </form>


  </div>

</div>

{% endblock %}

{% block pageScripts %}

  <script>
    new MOJFrontend.MultiFileUpload({
      dropzoneContainer: $('.moj-multi-file-upload'),
      feedbackAreaContainer: $('.moj-multi-file-feedback'),
      uploadUrl: '/ajax-upload',
      deleteUrl: '/ajax-delete',
      uploadStatusText: 'Uploading files, please wait.',
    });
  </script>

{% endblock %}

