---
layout: layouts/example.njk
title: Filter (example)
---

{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}

{%- set filterOptionsHtml %}

  {{ govukInput({
    id: 'keywords',
    name: 'keywords',
    label: {
      text: 'Keywords',
      classes: 'govuk-label--m'
    }
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'type',
    name: 'type',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Type',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: '1',
        text: 'Blue (18)',
        checked: true
      },
      {
        value: '2',
        text: 'Yellow (5)',
        checked: true
      },
      {
        value: '3',
        text: 'Red (2)'
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'status',
    name: 'status',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Status',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: 'complete',
        text: 'Completed (2)',
        checked: true
      },
      {
        value: 'incomplete',
        text: 'Incomplete (5)'
      },
      {
        value: 'inprogress',
        text: 'In progress (3)',
        checked: false
      }
    ]
  }) }}
{% endset -%}

{{ mojFilter({
  heading: {
    text: 'Filter'
  },
  selectedFilters: {

    heading: {
      text: 'Selected filters'
    },

    clearLink: {
      text: 'Clear filters'
    },

    categories: [
      {
        heading: {
          text: 'Type'
        },
        items: [{
          href: '/path/to/remove/this',
          text: 'Blue'
        }, {
          href: '/path/to/remove/this',
          text: 'Yellow'
        }]
      },
      {
        heading: {
          text: 'Status'
        },
        items: [{
          href: '/path/to/remove/this',
          text: 'Completed'
        }]
      }
    ]
  },
  optionsHtml: filterOptionsHtml
}) }}
