{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Page header actions
      </h1>

      <h2 class="govuk-heading-m">Example 1</h2>

      {{ mojPageHeaderActions({
        heading: {
          text: 'Your cases'
        },
        items: [
          {
            text: 'Get new case'
          }
        ]
      }) }}

      <br><br>

      <h2 class="govuk-heading-m">Example 2</h2>

      {{ mojPageHeaderActions({
        heading: {
          html: '<span>Case file</span>',
          classes: 'govuk-heading-l'
        },
        items: [
          {
            classes: 'govuk-button--secondary',
            text: 'Upload new item'
          }
        ]
      }) }}

      <br><br>

      <h2 class="govuk-heading-m">Example 3</h2>

      {{ mojPageHeaderActions({
        heading: { text: 'Page heading' },
        items: [
          {
            text: 'Action 1'
          },
          {
            classes: 'govuk-button--secondary',
            text: 'Action 2'
          }
        ]
      }) }}


    </div>

  </div>

{% endblock %}


