---
layout: layouts/example.njk
title: Button menu (example)
arguments: button-menu
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5816&mode=design
---

{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{{ mojButtonMenu({
    "button": {
        "text": "Menu title"
    },
    "items": [
        {
            "text": "Menu item 1",
            "href": "#"
        },
        {
            "text": "Menu item 2",
            "href": "#"
        },
        {
            "text": "Menu item 3",
            "href": "#"
        }
    ]
}) }}
