---
layout: layouts/example.njk
title: Button menu (example)
arguments: button-menu
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5816&mode=design
---

{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{%- from "govuk/components/button/macro.njk" import govukButton %}


<h3>Single button</h3>
{{ mojButtonMenu({
  items: [{
    text: "Primary action",
    href: "#"
  }]
}) }}

<h3>Default</h3>
{{ mojButtonMenu({
  items: [{
    text: "Primary action",
    href: "#"
  }, {
    text: "Second action",
    href: "#"
  }, {
    text: "Third action",
    href: "#"
  }]
}) }}

<h3>Secondary button</h3>
{{ mojButtonMenu({
  button: {
    text: "Print options",
    classes: "govuk-button--secondary"
  },
  items: [{
    text: "Primary action",
    href: "#"
  }, {
    text: "Second action",
    href: "#"
  }, {
    text: "Third action",
    href: "#"
  }]
}) }}

<h3>Right aligned</h3>
{{ mojButtonMenu({
  button: {
    text: "Print options",
    classes: "govuk-button--secondary"
  },
  alignMenu: "right",
  items: [{
    text: "Primary action",
    href: "#"
  }, {
    text: "Second action",
    href: "#"
  }, {
    text: "Third action",
    href: "#"
  }]
}) }}


<h3>Button group</h3>
<div class="govuk-button-group">
    {{ govukButton({
      text: "Primary action"
    })}}
    {{ mojButtonMenu({
  button: {
    text: "Print options",
    classes: "govuk-button--secondary"
  },
  items: [{
    text: "Action",
    href: "#"
  }, {
    text: "Second action",
    href: "#"
  }, {
    text: "Third action",
    href: "#"
  }]
}) }}
</div>
