---
layout: layouts/example.njk
title: Button menu (example)
arguments: button-menu
---

{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{{ mojButtonMenu({
  items: [{
    text: "Primary action",
    href: "#"
  }, {
    text: "Second action",
    href: "#",
    classes: "govuk-button--secondary"
  }, {
    text: "Third action",
    href: "#",
    classes: "govuk-button--secondary"
  }]
}) }}
