---
layout: layouts/example.njk
title: Interruption card (example)
arguments: interruption-card
figma_link: https://www.figma.com/design/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?node-id=6479-695
---

{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% call interruptionCard({
  heading: "Are you sure you want to change this?",
  primaryAction: {
    text: "Continue",
    href: "#"
  },
  secondaryAction: {
    text: "Go back to application",
    href: "#"
  }
  }) -%}
  <p>You've changed the person's address from Wales to England. This means that the referral needs to be cancelled.</p>
  <p>Previous home address: 1 Willow Lane, Newchurch, Kington, HR5 3QF</p>
  <p>New home address: 9 Elm Street, Whitney-on-Wye, Hereford, HR3 6EH</p>
  <p>You can go back to undo this change.</p>
{%- endcall %}
