@use "../../vendor/govuk-frontend" as *;

/* ==========================================================================
   #TAG
   ========================================================================== */

.moj-tag {
  border: 2px solid govuk-functional-colour(brand);
  color: govuk-colour("white");
  background-color: govuk-functional-colour(brand);

  &--purple {
    border: 2px solid govuk-colour("purple");
    color: govuk-colour("white");
    background-color: govuk-colour("purple");
  }

  &--bright-purple {
    border: 2px solid govuk-colour("magenta", $variant: "shade-25");
    color: govuk-colour("white");
    background-color: govuk-colour("magenta", $variant: "shade-25");
  }

  &--red,
  &--error {
    border: 2px solid govuk-colour("red");
    color: govuk-colour("white");
    background-color: govuk-colour("red");
  }

  &--green,
  &--success {
    border: 2px solid govuk-colour("green");
    color: govuk-colour("white");
    background-color: govuk-colour("green");
  }

  &--blue,
  &--information {
    border: 2px solid govuk-colour("blue");
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
  }

  &--black {
    border: 2px solid govuk-colour("black");
    color: govuk-colour("white");
    background-color: govuk-colour("black");
  }

  &--grey {
    border: 2px solid govuk-colour("black", $variant: "tint-25");
    color: govuk-colour("white");
    background-color: govuk-colour("black", $variant: "tint-25");
  }
}
