{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <!-- <h1 class="govuk-heading-l">MOJ Frontend</h1> -->

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl" tabindex="-1">
        <span class="govuk-caption-xl">Components</span> Pagination
      </h1>

      <!-- <h2 id="pagination-example-1" class="govuk-heading-l">Example 1</h2> -->

      {{ mojPagination({
        results: {
          from: 10,
          to: 20,
          count: 256
        },

        previous: {
          text: 'Previous',
          href: ''
        },
        next: {
          text: 'Next',
          href: ''
        },
        items: [{
          text: '1',
          href: '/page=1'
        }, {
          type: 'dots'
        }, {
          text: '5',
          href: '/page=5'
        }, {
          text: '6',
          href: '/page=6',
          selected: true
        }, {
          text: '7',
          href: '/page=7'
        }, {
          type: 'dots'
        }, {
          text: '10',
          href: '/page=10'
        }]
      }) }}

      <!-- <h2 id="pagination-example-2" class="govuk-heading-l">Example 2</h2> -->

      {{ mojPagination({
        previous: {
          text: 'Previous',
          href: ''
        },
        next: {
          text: 'Next',
          href: ''
        }
      }) }}

      <!-- <h2 id="pagination-example-3" class="govuk-heading-l">Example 3</h2> -->
      
      {{ mojPagination({
        results: {
          from: 10,
          to: 20,
          count: 256
        },

        previous: {
          text: 'Previous',
          href: ''
        },
        items: [{
          text: '1',
          href: '/page=1'
        }, {
          text: '2',
          href: '/page=5'
        }, {
          text: '3',
          href: '/page=6',
          selected: true
        }]
      }) }}

      <!-- <h2 id="pagination-example-4" class="govuk-heading-l">Example 4</h2> -->

      {{ mojPagination({
        results: {
          from: 10,
          to: 20,
          count: 256
        },

        next: {
          text: 'Next',
          href: ''
        },

        items: [{
          text: '1',
          href: '/page=1',
          selected: true
        }, {
          text: '2',
          href: '/page=5'
        }, {
          text: '3',
          href: '/page=6'
        }]
      }) }}

      <!-- <h2 id="pagination-example-5" class="govuk-heading-l">Example 5</h2> -->

      {{ mojPagination({
        results: {
          from: 10,
          to: 20,
          count: 256
        },

        previous: {
          text: 'Previous',
          href: ''
        },

        next: {
          text: 'Next',
          href: ''
        },

        items: [{
          text: '1',
          href: '/page=1'
        }, {
          text: '2',
          href: '/page=5',
          selected: true
        }, {
          text: '3',
          href: '/page=6'
        }]
      }) }}

    </div>

{% endblock %}