/* ==========================================================================
   #TICKET PANEL
   ========================================================================== */

.moj-ticket-panel {
   display: block;
   margin-right: govuk-spacing(0);
   flex-wrap: wrap;

   &--inline {
      @include govuk-media-query($from: desktop) {
         display: flex;
         flex-wrap: nowrap;

         & > * + * {
            margin-left: govuk-spacing(3);
         }
      }
   }

   &__content *:last-child {
      margin-bottom: govuk-spacing(0);
   }

   &__content {
      display: block;
      position: relative;
      background-color: govuk-colour("light-grey");
      padding: govuk-spacing(4);
      margin-bottom: govuk-spacing(3);
      flex-grow: 1;

      &--grey { border-left: 4px solid $govuk-border-colour; }
      &--blue { border-left: 4px solid govuk-colour("blue"); }
      &--red { border-left: 4px solid govuk-colour("red"); }
      &--yellow { border-left: 4px solid govuk-colour("yellow"); }
      &--green { border-left: 4px solid govuk-colour("green"); }
      &--purple { border-left: 4px solid govuk-colour("purple"); }
      &--orange { border-left: 4px solid govuk-colour("orange"); }

   }
}
