<div class="moj-ticket-panel {{- ' ' + params.classes if params.classes}}" {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
  <p class="govuk-body">Ticket Panel</p>
</div>
