{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{%- set tabs = collections[tabCollection] | sort(attribute='data.order')  -%}
{%- set items = [] -%}
{%- for tab in tabs -%}
    {%- set paginationLink = "" -%}
    {%- if not loop.index.last -%}
        {%- set paginationLink = govukPagination({
          next: {
            labelText: tabs[loop.index].data.title,
            href: "#"+(tabs[loop.index].data.title + '-tab') | lower | replace(' ', '-')
          }
        }) -%}
    {%- endif -%}

    {%- set item = {
         label: tab.data.title,
         id: (tab.data.title + '-tab') | lower | replace(' ', '-'),
         panel: {
           html: (tab.content | safe) + (paginationLink | safe)
         }
    } -%}

    {%- set items = (items.push(item), items) -%}
{%- endfor -%}

{% if tabs | length > 0 %}
    {{- govukTabs({
      items: items,
      classes: 'app-layout-tabs no-govuk-tabs-styles'
    }) -}}
{% endif %}
