<div class="app-panel">
  <h2 class="app-panel__heading">
    Get in touch
  </h2>
  <p class="app-panel__body">
    If you’ve got a question, idea or suggestion share it on the <a class='app-panel__link' href='https://mojdt.slack.com/messages/moj-design-system-support' title='MOJ Design System channel on Slack'>#moj-design-system-support</a> channel on Slack or email the Design System team on <a class='app-panel__link' href='mailto:design-system@digital.justice.gov.uk'>design-system@digital.justice.gov.uk</a>
  </p>
</div>
