<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--purple">
          Feedback
        </strong>
        <span class="govuk-phase-banner__text">
          Help make the MoJ Design System better with your <a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdlO2KjCaT3MoqE0SCvZiu9svPZrZAFg8iIDmKap-ShEk9joA/viewform?usp=sf_link">feedback</a>.
        </span>
      </p>
    </div>
    </div>
  </div>
</div>
