{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: '/community/help-and-feedback' | url,
        text: "Help and feedback"
      },
      {
        href: '/cookies' | url,
        text: "Cookies"
      },
      {
        href: '/accessibility' | url,
        text: "Accessibility"
      }
    ]
  }
}) }}
