{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  classes: "govuk-footer--docs",
  meta: {
    items: [
      {
        href: "/help" | url,
        text: "Get help"
      },
      {
        href: "/cookies" | url,
        text: "Cookies"
      },
      {
        href: "/accessibility" | url,
        text: "Accessibility"
      }
    ]
  }
}) }}
