
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__content">
  
    <p class="govuk-notification-banner__heading">
      Need help?
    </p>
      <p class="govuk-notification-banner__body">
        The MOJ Design System Group provides support for users of the MOJ Design System. <a href="/community/help-and-feedback" class="govuk-link">Contact us</a> to ask for help.
      </p>

  </div>
</div>

<div class="govuk-!-padding-bottom-7"></div>
