{% set buildingPages = collections.all | eleventyNavigation("Building blocks") %}
{% set usingPages = collections.all | eleventyNavigation("Using the design system") %}

{% macro verticalNavListItem(entry, sortChildrenBy="order") -%}
<li class="app-vertical-nav__list-item {% if entry.url==page.url %} app-vertical-nav__list-item--active {% endif %} {% if entry.key==eleventyNavigation.parent %} app-vertical-nav__list-item--active {% endif %}">
    <a class="app-vertical-nav__link" href="{{ entry.url }}">{{ entry.title }}</a>
    {%- if entry.children.length -%}
    <ul class="app-vertical-nav__list">
        {%- for child in entry.children | sort(false, false, sortChildrenBy) %}
            {{ verticalNavListItem(child) }}
        {% endfor -%}
    </ul>
    {%- endif -%}
</li>
{%- endmacro %}

<nav class="app-vertical-nav" aria-labelledby="building-nav-title">
    <h2 class="app-vertical-nav__header" id="building-nav-title">Building Blocks</h2>
    <ul class="app-vertical-nav__list">
        {%- for entry in buildingPages %}{{ verticalNavListItem(entry, "key") }}{%- endfor -%}
    </ul>
</nav>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<nav  class="app-vertical-nav aria-labelledby="using-nav-title">
    <h2 class="app-vertical-nav__header" id="using-nav-title">Using the design system</h2>
    <ul class="app-vertical-nav__list">
        {%- for entry in usingPages %}{{ verticalNavListItem(entry) }}{%- endfor -%}
    </ul>
</nav>

{{ buildingPages | dump | safe }}
-----
{{ eleventyNavigation.parent | dump | safe }}
-----
