
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-notification-banner" role="region" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__content">
  <h2 id="govuk-notification-banner-title" class="govuk-notification-banner__heading">
  Suggest a change
</h2>
    <p class="govuk-notification-banner__body">
     You can <a href="https://forms.gle/FpDpbgttwmfmcz8o7" class="govuk-link">suggest a change to improve the MoJ Design System</a>.
  </p>
  <p>
     The MoJ Design System team will review it.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-notification-banner__heading">
      Get help  
    </h2>
      <p class="govuk-notification-banner__body">
      <a href="/community/help-and-feedback" class="govuk-link">Contact the MoJ Design System team</a> for support.
      </p>

  </div>
</div>

<div class="govuk-!-padding-bottom-7"></div>
