<div class="govuk-notification-banner" role="region" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__content">
  <h3 id="govuk-notification-banner-title" class="govuk-notification-banner__heading">
  Give feedback
</h3>
    <p class="govuk-notification-banner__body">
      The MoJ Design System team would like to hear:
      <ul>
        <li>how you have used this component in your service</li>
        <li>any feedback you have about its usage, for example accessibility or ideas for improvement</li>
      </ul>

Add these comments to the <a href= {{githuburl}} >{{ title }} Github discussion</a>.</p>

  </div>
</div>

<div class="govuk-!-padding-bottom-7"></div>
