/* ==========================================================================
   #PASSWORD SHOW/HIDE
   ========================================================================== */

.moj-password-reveal {
  &__input {
    margin-right: govuk-spacing(1);
  }

  &__button {
    @include mq($from: tablet) {
      width: 80px;
    }

    @include mq($until: tablet) {
      margin-top: govuk-spacing(1);
    }
  }

}