/* ==========================================================================
   #PASSWORD SHOW/HIDE
   ========================================================================== */

.moj-password-reveal {
  display: flex;

  &__input {
    margin-right: govuk-spacing(1);
  }

  &__button {
    width: 80px;
  }

}