[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

[aria-sort] button:focus {
  background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  outline: none;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}