---
layout: layouts/example.njk
title: Date Picker Excluded Days (example)
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{{ mojDatePicker({
  id: "date",
  name: "date",
  label: {
      text: "Date"
  },
  hint: {
    text: "For example, 17/5/2024."
  },
  disabledDays: "saturday sunday"
}) }}
