{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}

<form method="post" action="/get-involved/component-details">
    {{ govukInput({
        label: {
            text: "What is the name of the component?",
            classes: "govuk-label--m",
            isPageHeading: true
        },
        id: "component-name",
        name: "componentName"
    }) }}

    {{ govukCharacterCount({
        name: "briefDescription",
        id: "with-hint",
        maxlength: 500,
        label: {
            text: "Add a brief description about the component",
            classes: "govuk-label--m",
            isPageHeading: true
        }
    }) }}

    {{ govukCharacterCount({
        name: "whyNeeded",
        id: "with-hint",
        maxlength: 500,
        label: {
            text: "Why do you think the component is needed?",
            classes: "govuk-label--m",
            isPageHeading: true
        }
    }) }}

    <div class="moj-button-action">
        {{ govukButton({
            text: 'Continue'
        }) }}
    </div>
</form>