---
layout: layouts/example.njk
title: Date picker with error message (example)
redirect_from: examples/date-picker-error
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{{ mojDatePicker({
  id: "date",
  name: "date",
  label: {
    text: "Date"
  },
  hint: {
    text: "For example, 17/5/2024."
  },
  errorMessage: {
    text: "Enter or select a date"
  }
}) }}
