---
layout: layouts/example.njk
title: Alert (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5802&mode=design
---
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set bannerHtml %}
  <h2 class="govuk-heading-m">This is a placeholder banner</h2>
  <p>Waiting for the new banner build</p>
{% endset %}

{{ mojAlert({
  type: "information",
  heading: "This is some information",
  text: "Content that informs you of a thing"
}) }}
