/* ==========================================================================
   #BUTTON
   Unfortunately GDS don’t have a secondary button available.
   ========================================================================== */

.moj-button--secondary {
  background-color: govuk-colour("grey-3");
  box-shadow: 0 2px 0 rgba(govuk-colour("grey-1"), .7);
  color: govuk-colour("black");

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-text-colour;
  }

  &:hover,
  &:focus,
  &:link:focus {
    background-color: rgba(govuk-colour("grey-2"), .7);
    color: $govuk-text-colour;

    // IE8 does not support RGBA, provide fallback
    @include govuk-if-ie8 {
      background-color: #d3d4d5; // 70% of grey-2
    }

  }

}