.app-prose-scope {
  h1:not([class]) {
    @extend %govuk-heading-xl;
  }

  h2:not([class]) {
    @extend %govuk-heading-l;
  }

  h3:not([class]) {
    @extend %govuk-heading-m;
  }

  h4:not([class]) {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  code:not([class*="language-"]) {
    padding: 0 5px;
    color: #c62950;
    background-color: #f3f2f1;
    font-family: monospace, monospace;
    font-size: 1em;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  ul a,
  ol a {
    @extend %govuk-link;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-margin(6, "bottom");
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    @include govuk-typography-weight-bold;
    border-bottom: 1px solid $govuk-border-colour;
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px)
      govuk-em(govuk-spacing(2), 19px) 0;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $govuk-border-colour;
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px)
      govuk-em(govuk-spacing(2), 19px) 0;
    text-align: left;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }

  caption {
    @include govuk-typography-weight-bold;
    display: table-caption;
    text-align: left;
  }
}

pre {
  @include govuk-responsive-margin(4, "bottom");
  background: #f8f8f8; // Matches _higlight.scss
  font-size: 16px;
  margin: 0;
  padding: govuk-spacing(3);
  position: relative;
  overflow: auto;
}
