---
layout: layouts/example.njk
title: Banner (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5802&mode=design
---
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set bannerHtml %}
  <h2 class="govuk-heading-m">This service will be unavailable from 1 June 2019</h2>
{% endset %}

{{ mojBanner({
  type: 'information',
  html: bannerHtml
}) }}
