---
layout: layouts/example.njk
title: Button menu (example)
arguments: button-menu
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5816&mode=design
---

{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{{ mojButtonMenu({
  button: {
    text: "Review",
    classes: "govuk-button--secondary"
  },
  alignMenu: "right",
  items: [
    {
      text: "Approve",
      href: "#"
    },
    {
      text: "Request more information",
      href: "#"
    },
    {
      text: "Reject with reason",
      href: "#"
    }
  ]
}) }}
