---
layout: layouts/example.njk
title: Urgent badge in red (example)
redirect_from: examples/badge-urgent
---

{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{{ mojBadge({
  text: "Urgent",
  classes: "moj-badge--red"
}) }}
