---
layout: layouts/example.njk
title: Page templates (example)
redirect_from: examples/probation/pds-page-templates
---

{%- from "moj/components/domain-specific/probation/footer/macro.njk" import pdsFooter -%}

{{ pdsFooter({
  baseUrl: '#'
}) }}
