/* ==========================================================================
   #TAG
   ========================================================================== */

.moj-tag {
  border: 2px solid $govuk-brand-colour;
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  &--purple {
    border: 2px solid govuk-colour("purple");
    background-color: govuk-colour("purple");
    color: govuk-colour("white");
  }

  &--bright-purple {
    border: 2px solid govuk-colour("bright-purple");
    background-color: govuk-colour("bright-purple");
    color: govuk-colour("white");
  }

  &--red,
  &--error {
    border: 2px solid govuk-colour("red");
    background-color: govuk-colour("red");
    color: govuk-colour("white");
  }

  &--green,
  &--success {
    border: 2px solid govuk-colour("green");
    background-color: govuk-colour("green");
    color: govuk-colour("white");
  }

  &--blue,
  &--information {
    border: 2px solid govuk-colour("blue");
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
  }

  &--black {
    border: 2px solid govuk-colour("black");
    background-color: govuk-colour("black");
    color: govuk-colour("white");
  }

  &--grey {
    border: 2px solid govuk-colour("dark-grey");
    background-color: govuk-colour("dark-grey");
    color: govuk-colour("white");
  }

}
