{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "base.njk" %}
{% block content %}
  {% if backLink %}
  <div class="app-layout__backlink">
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  </div>
  {% endif %}
  <div class="app-layout__content">
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="post" action="{{ submitUrl }}">
      <span class="govuk-caption-l">Submit new component</span>
      <h1 class="govuk-heading-xl">Accessibility findings</h1>
      <p class="govuk-body">Sharing accessibility findings helps support the status and usability of the component, as wells as helping the Design System team to review it.</p>
      <p class="govuk-body">These findings could come from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an external accessibility audit or internal review</li>
        <li>manual or automated testing</li>
        <li>assistive technology (AT) testing</li>
        <li>usability testing</li>
      </ul>
      {{ govukRadios({
        name: "hasComponentBeenTestedExternalAccessibility",
        hint: {
          text: "This would be from a third party organisation, for example the Digital Accessibility Centre (DAC)."
        },
        fieldset: {
          attributes: {
            id: "has-component-been-tested-external-accessibility"
          },
          legend: {
            text: "Has the component been tested in an external accessibility audit?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        errorMessage: formErrors.hasComponentBeenTestedExternalAccessibility,
        value: formData.hasComponentBeenTestedExternalAccessibility
      }) }}

      {{ govukRadios({
        name: "hasComponentBeenTestedInternalAudit",
        hint: {
          text: "This would be from a team in UK Government."
        },
        fieldset: {
          attributes: {
            id: "has-component-been-tested-internal-audit"
          },
          legend: {
            text: "Has the component been reviewed internally?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        errorMessage: formErrors.hasComponentBeenTestedInternalAudit,
        value: formData.hasComponentBeenTestedInternalAudit
      }) }}

      {{ govukRadios({
        name: "hasComponentBeenTestedUsingAssistiveTechnology",
        hint: {
          text: "This could be software such as JAWS, TalkBack or Dragon."
        },
        fieldset: {
          attributes: {
            id: "has-component-been-tested-using-assistive-technology"
          },
          legend: {
            text: "Has the component been tested using assistive technology?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        errorMessage: formErrors.hasComponentBeenTestedUsingAssistiveTechnology,
        value: formData.hasComponentBeenTestedUsingAssistiveTechnology
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}
        {% if skipQuestion %}
          {{ govukButton({
            text: "Skip question",
            classes: "govuk-button--secondary",
            attributes: {'data-skip-question': skipQuestion},
            href: skipQuestion
          }) }}
        {% endif %}
      </div>
    </form>
  </div>

{% endblock %}
