{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "contributions.njk" %}

{% block form %}
  {% call form({
    action: submitUrl,
    csrfToken: csrfToken
  }) %}

    {{ govukInput({
      label: {
        text: page.fields.internalOrganisation.label,
        classes: "govuk-label--m"
      },
      id: "internal-organisation",
      name: "internalOrganisation",
      errorMessage: formErrors.internalOrganisation,
      value: formData.internalOrganisation
    }) }}

    {{ govukDateInput({
      id: "audit-date",
      namePrefix: "auditDate",
      name: "audit-date",
      errorMessage: formErrors.auditDate,
      value: formData.auditDate,
      items: [
        {
          classes: (formErrorStyles['auditDate-day'] | default('')) + " govuk-input--width-2",
          name: "day",
          value: formData['auditDate-day']
        },
        {
          classes: (formErrorStyles['auditDate-month'] | default('')) + " govuk-input--width-2",
          name: "month",
          value: formData['auditDate-month']
        },
        {
          classes: (formErrorStyles['auditDate-year'] | default('')) + " govuk-input--width-4",
          name: "year",
          value: formData['auditDate-year']
        }
      ],
      fieldset: {
        legend: {
          text: page.fields.auditDate.label,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: page.fields.auditDate.hint
      }
    }) }}

    {{ govukCharacterCount({
      id: "issues-discovered",
      name: "issuesDiscovered",
      maxwords: 250,
      label: {
        text: page.fields.issuesDiscovered.label,
        classes: "govuk-label--m",
        isPageHeading: true
      },
      errorMessage: formErrors.issuesDiscovered,
      value: formData.issuesDiscovered
    }) }}

    <div class="govuk-button-group moj-button-action">
      {{ govukButton({
        text: 'Continue',
        preventDoubleClick: true
      }) }}
    </div>
  {% endcall %}
{% endblock %}
