{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "community-forms.njk" %}
{% block content %}
  {% if backLink %}
    <div class="app-layout__backlink">
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    </div>
  {% endif %}
  <div class="app-layout__content">
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="POST" action="{{ submitUrl }}" enctype="multipart/form-data">
      <span class="govuk-caption-l">Submit new component</span>
      <h1 class="govuk-heading-xl">Internal accessibility audit</h1>

      {{ govukInput({
        label: {
          text: "What team conducted the internal accessibility audit?",
          classes: "govuk-label--m"
        },
        id: "internal-organisation",
        name: "internalOrganisation",
        errorMessage: formErrors.internalOrganisation,
        value: formData.internalOrganisation
      }) }}

      {{ govukDateInput({
        id: "audit-date",
        namePrefix: "auditDate",
        name: "audit-date",
        errorMessage: formErrors.auditDate,
        value: formData.auditDate,
        items: [
          {
            classes: (formErrorStyles['auditDate-day'] | default('')) + " govuk-input--width-2",
            name: "day",
            value: formData['auditDate-day']
          },
          {
            classes: (formErrorStyles['auditDate-month'] | default('')) + " govuk-input--width-2",
            name: "month",
            value: formData['auditDate-month']
          },
          {
            classes: (formErrorStyles['auditDate-year'] | default('')) + " govuk-input--width-4",
            name: "year",
            value: formData['auditDate-year']
          }
        ],
        fieldset: {
          legend: {
            text: "When did the audit take place?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}

      {{ govukFileUpload({
        id: "accessibility-report",
        name: "accessibilityReport",
        label: {
          text: "Upload the accessibility report (optional)",
          isPageHeading: true,
          classes: "govuk-label--m"
        },
        hint: {
          text: "The selected file must be PDF and smaller than 10MB."
        },
        errorMessage: formErrors.accessibilityReport,
        value: formData.accessibilityReport,
        attributes: {
          accept: ".pdf"
        }
      }) }}

      {{ govukCharacterCount({
        id: "issues-discovered",
        name: "issuesDiscovered",
        maxwords: 250,
        label: {
          text: "Were any issues discovered with the component during the audit? (Optional)",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        errorMessage: formErrors.issuesDiscovered,
        value: formData.issuesDiscovered
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>

{% endblock %}
