{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% extends "base.njk" %}
{% block content %}
  {% if backLink %}
    <div class="app-layout__backlink">
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    </div>
  {% endif %}
  <div class="app-layout__content">
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="POST" action="{{ submitUrl }}" enctype="multipart/form-data">
      <span class="govuk-caption-l">Submit a new component</span>
      <h1 class="govuk-heading-xl">External accessibility audit details</h1>

      {{ govukInput({
        label: {
          text: "What organisation conducted the external accessibility audit?",
          classes: "govuk-label--m"
        },
        id: "external-organisation",
        name: "externalOrganisation",
        errorMessage: formErrors.externalOrganisation,
        value: formData.externalOrganisation
      }) }}

      {{ govukDateInput({
        id: "audit-date",
        namePrefix: "auditDate",
        name: "audit-date",
        value: formData.auditDate,
        items: [
          {
            classes: (formErrorStyles['auditDate-day'] | default('')) + " govuk-input--width-2",
            name: "day",
            value: formData['auditDate-day']
          },
          {
            classes: (formErrorStyles['auditDate-month'] | default('')) + " govuk-input--width-2",
            name: "month",
            value: formData['auditDate-month']
          },
          {
            classes: (formErrorStyles['auditDate-year'] | default('')) + " govuk-input--width-4",
            name: "year",
            value: formData['auditDate-year']
          }
        ],
        fieldset: {
          legend: {
            text: "When was the audit?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 13 8 2024"
        }
      }) }}

      {{ govukFileUpload({
        id: "accessibility-report",
        name: "accessibilityReport",
        label: {
          text: "Upload the accessibility report (optional)",
          classes: "govuk-label--m"
        },
        hint: {
          text: "The file needs to be a PDF and smaller than 10MB."
        },
        errorMessage: formErrors.accessibilityReport,
        value: formData.accessibilityReport,
        attributes: {
          accept: ".pdf"
        }
      }) }}

      {%if formData.accessibilityReport.originalname %}
        {{ govukSummaryList({
          classes: 'govuk-summary-list--long-key',
          rows: [
            {
              key: {
              text: formData.accessibilityReport.originalname
            },
              value: {
              text: govukTag({ text: "Uploaded", classes: "govuk-tag--green" })
            }
            }
          ]
        }) }}
      {% endif %}

      {{ govukCharacterCount({
        id: "issues-discovered",
        name: "issuesDiscovered",
        maxwords: 250,
        label: {
          text: "Did the audit identify any issues with the component (optional)?",
          classes: "govuk-label--m"
        },
        errorMessage: formErrors.issuesDiscovered,
        value: formData.issuesDiscovered
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>

{% endblock %}
