{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    <form method="post" action="{{ submitUrl }}">
      <span class="govuk-caption-l">Submit a new component</span>
      <h1 class="govuk-heading-xl">Check your answers</h1>

      {% for section in sections %}
        {% if section.answers.length > 0 %}
          {{ govukSummaryList({
            card: {
              title: {
                text: section.title
              },
              actions: {
                items: []
              }
            },
            rows: section.answers,
            classes: "govuk-!-margin-bottom-9"
          }) }}
        {% endif %}
      {% endfor %}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Accept and send'
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
