{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% extends "base.njk" %}

{% set uploadedFileName = formData.componentImage.originalname %}

{% block content %}
  <div class="app-layout__content">
    {% if backLink %}
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}
    {% endif %}
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    {% if sessionFlash.message%}
      {{ mojAlert({
          variant: sessionFlash.type,
          title: sessionFlash.message,
          role: "alert"
      })}}
    {% endif %}
    <form method="POST" action="{{ submitUrl }}" enctype="multipart/form-data">
      <span class="govuk-caption-l">Submit a new component</span>
      <h1 class="govuk-heading-xl">Upload an image of the component</h1>
      <p class="govuk-body">Ensure that the component is clear from the image. For example, remove other parts of the page and ensure it's on a white background.</p>



      {% if uploadedFileName %}
        <input type="hidden" name="componentImage" value="{{formData.componentImage.originalname}}">
        {{ govukSummaryList({
              classes: 'govuk-summary-list--long-key',
              rows: [
                {
                  key: {
                    text: "File"
                  },
                  value: {
                    text: uploadedFileName
                  },
                  actions: {
                    items: [
                      {
                        href: changeUrl,
                        text: "Remove",
                        visuallyHiddenText: uploadedFileName
                      }
                    ]
                  }
                }
              ]
            }) }}
      {% else %}
        {{ govukFileUpload({
          id: "component-image",
          name: "componentImage",
          label: {
            text: page.fields.componentImage.label,
            classes: "govuk-label--m"
          },
          hint: {
            text: page.fields.componentImage.hint
          },
          attributes: {
            accept: ".jpg, .jpeg, .bmp, .png, .tif, .tiff, .pdf"
          },
          errorMessage: formErrors.componentImage
        }) }}
      {% endif %}


      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      <div class="govuk-button-group moj-button-action">
        {% if uploadedFileName %}
          {{ govukButton({
            text: 'Continue',
            preventDoubleClick: true
          }) }}
          {% if showAddAnother %}
            {{ govukButton({
              text: "Add another file",
              classes: "govuk-button--secondary",
              name: "addAnother"
            }) }}
          {% endif %}
        {% else %}
          {{ govukButton({
            text: 'Upload',
            preventDoubleClick: true
          }) }}
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
