{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    {% if backLink %}
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    {% endif %}
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="post" action="{{ submitUrl }}" data-add-another-container>
      <span class="govuk-caption-l">Submit a new component</span>
      <h1 class="govuk-heading-xl">Component code</h1>
      <p class="govuk-body">Send the code for the component and not the full page. This makes it easier for other people to understand and use.</p>
      <p class="govuk-body">You can add more than one code example.</p>
      {{ govukInput({
        label: {
          text: page.fields.componentCodeLanguage.label,
          classes: "govuk-label--m"
        },
        id: "component-code-language",
        name: "componentCodeLanguage",
        errorMessage: formErrors.componentCodeLanguage,
        value: formData.componentCodeLanguage,
        hint: {
          text: page.fields.componentCodeLanguage.hint
        }
      }) }}

      {{ govukCharacterCount({
        name: "componentCodeUsage",
        id: "component-code-usage",
        maxwords: 250,
        label: {
          text: page.fields.componentCodeUsage.label,
          classes: "govuk-label--m"
        },
        hint: {
          text: page.fields.componentCodeUsage.hint
        },
        errorMessage: formErcomponentCodeLanguages.componentCodeUsage,
        value: formData.componentCodeUsage
      }) }}

      {{ govukCharacterCount({
        name: "componentCode",
        id: "component-code",
        maxlength: 10000,
        rows: 30,
        label: {
          text: page.fields.componentCode.label,
          classes: "govuk-label--m"
        },
        hint: {
          text: page.fields.componentCode.hint
        },
        errorMessage: formErrors.componentCode,
        value: formData.componentCode
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}
        {% if showAddAnother %}

        {{ govukButton({
          text: "Add another code example",
          classes: "govuk-button--secondary",
          name: "addAnother"
        }) }}
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
