{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__page app-page">
    <main id="main-content">


      <div class="app-layout__content">
        <span class="govuk-caption-l">Submit a new component</span>

        {% set html %}
          <h1 class="govuk-notification-banner__heading">
            You've submitted a component
          </h1>
          <p class="govuk-body">This will be reviewed by the MoJ Design System team.</p>
        {% endset %}

        {{ govukNotificationBanner({
          classes: "govuk-!-margin-top-5",
          html: html,
          titleText: "Component received",
          type: "success"
        }) }}

        <h2 class="govuk-heading-l">What happens next</h2>

        <h3 class="govuk-heading-m">The Design System team reviews the component</h3>
        <p class="govuk-body">The team will give the component a sense check within 5 working days.</p>
        <p class="govuk-body">If there are no issues and the team does not need to contact you, the component will be added to the Design System. It will have an experimental status, which means that it's early in development. You can read more about <a href="/design-system-statuses/">MoJ Design System statuses</a>.</p>
        <p class="govuk-body">You'll get an email when the component is live in the MoJ Design System.</p>

        <h3 class="govuk-heading-m">Collaborating on the component</h3>
        <p class="govuk-body">Other users can add information about the component once it's live. If you've given permission, your details will be on the component page. This gives people the opportunity to start a conversation to continue developing the component.</p>
        <p class="govuk-body">This is part of the community approach the Design System team is encouraging throughout the MoJ and wider government communities.</p>

        {{ govukButton({
          text: "Back to Design System homepage",
          href: "/"
        }) }}
      </div>

    </main>
  </div>
{% endblock %}
