{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "contributions.njk" %}

{% block form %}
  <p class="govuk-body">We've sent an email to: <strong>{{page.email}}</strong></p>
  <p class="govuk-body">Select the link in the email to continue submitting a component. The link will open in a new window, so you can close this one.</p>
  {% call govukDetails({ summaryText: "Problems with the email?" }) %}
    We can <a href="/contribute/add-new-component/email/resend">send the email again</a> or you can <a href="/contribute/add-new-component/email?reset=true">use a different email address</a>.
  {% endcall %}
{% endblock %}
