{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "contributions.njk" %}

{% block form %}
  {% call form({
    action: submitUrl,
    csrfToken: csrfToken
  }) %}

    <p class="govuk-body">You need to work for MoJ to submit a new component to the Design System.</p>

    {{ govukInput({
      id: "email-address",
      name: "emailAddress",
      hint: {
       text: page.fields.emailAddress.hint
      },
      errorMessage: formErrors.emailAddress,
      value: formData.emailAddress,
      attributes: {
        'aria-labelledby': 'page-title'
      },
      formGroup: {
        classes: 'govuk-!-margin-top-0'
      }
    }) }}

    <p class="govuk-body">You’ll be sent an email with a verification link. </p>

    <div class="moj-button-action">
      {{ govukButton({
          text: 'Continue'
      }) }}
    </div>
  {% endcall %}
{% endblock %}
