{% extends "contributions.njk" %}
{% block form %}
  <p class="govuk-body">You need to work at MoJ to contribute to the MoJ Design System.</p>
  <p class="govuk-body"><a href="/" class="govuk-link">Go back to the MoJ Design System</a></p>
{% endblock %}
