{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "base.njk" %}
{% block content %}
  {% if backLink %}
    <div class="app-layout__backlink">
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    </div>
  {% endif %}
  <div class="app-layout__content">
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="POST" action="{{ submitUrl }}">
      <span class="govuk-caption-l">Submit new component</span>
      <h1>Figma design</h1>

      {{ govukRadios({
        name: "figmaUrl",
        hint: {
          text: "This should be the link to the Figma design file where the component can be viewed."
        },
        fieldset: {
          attributes: {
            id: "figma-url"
          },
          legend: {
            text: "Do you have a Figma design file for the component?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        errorMessage: formErrors.figmaUrl,
        value: formData.figmaUrl
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}
        {% if skipQuestion %}
          {{ govukButton({
            text: "Skip question",
            classes: "govuk-button--secondary",
            attributes: {'data-skip-question': skipQuestion},
            href: skipQuestion
          }) }}
        {% endif %}
    </form>
  </div>
{% endblock %}
