{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    {% if backLink %}
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    {% endif %}
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="POST" action="{{ submitUrl }}">
      <span class="govuk-caption-l">Submit a new component</span>
      <h1 class="govuk-heading-xl">Figma design</h1>
      <p class="govuk-body">This is to show the layout of the component in a Figma design file, rather than how it works in a prototype.</p>
      {{ govukRadios({
        name: "figmaUrl",
        fieldset: {
          attributes: {
            id: "figma-url"
          },
          legend: {
            text: "Do you have a Figma link for the component?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        errorMessage: formErrors.figmaUrl,
        value: formData.figmaUrl
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}

    </form>
  </div>
{% endblock %}
