{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="POST" action="{{ submitUrl }}">
      <span class="govuk-caption-l">Submit new component</span>
      <h1>Prototype URL and link</h1>
      {{ govukRadios({
        name: "componentPrototypeUrl",
        id: "component-prototype-url",
        fieldset: {
          legend: {
            text: "Do you have a prototype URL for the component?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        errorMessage: formErrors.componentPrototypeUrl,
        value: formData.componentPrototypeUrl
      }) }}

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Continue'
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
