{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    {% if backLink %}
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    {% endif %}
    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form method="POST" action="{{ submitUrl }}" data-add-another-container>
      <span class="govuk-caption-l">Submit a new component</span>
      <h1 class="govuk-heading-xl">Prototype designs</h1>
      <p class="govuk-body">Before sharing a prototype you need to:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>make the link shareable</li>
     <li>remove any personally identifiable or sensitive information</li>
      </ul>

      {{ govukInput({
        label: {
        text: page.fields.prototypeUrl.label,
          classes: "govuk-label--m"
        },
        id: "prototype-url",
        name: "prototypeUrl",
        errorMessage: formErrors.prototypeUrl,
        value: formData.prototypeUrl,
        autocapitalize: false,
        hint: {
          text: page.fields.prototypeUrl.hint
        }
      }) }}

      {{ govukCharacterCount({
        name: "prototypeUrlAdditionalInformation",
        id: "prototypeUrl-additional-information",
        maxwords: 250,
        hint: {
          text: page.fields.prototypeUrlAdditionalInformation.hint
        },
        label: {
          text: page.fields.prototypeUrlAdditionalInformation.label,
          classes: "govuk-label--m"
        },
        errorMessage: formErrors.prototypeUrlAdditionalInformation,
        value: formData.prototypeUrlAdditionalInformation
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}
        {% if showAddAnother %}
          {{ govukButton({
            text: "Add another link",
            classes: "govuk-button--secondary",
            name: "addAnother"
          }) }}
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
