{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    <form method="POST" action="{{ submitUrl }}" data-add-another-container>
      <span class="govuk-caption-l">Submit new component</span>
      <h1>Prototype URL</h1>
      {{ govukInput({
        label: {
          text: "Add the URL to where the prototype is saved",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        id: "prototype-url",
        name: "prototypeUrl",
        errorMessage: formErrors.prototypeUrl,
        value: formData.prototypeUrl
      }) }}

      {{ govukCharacterCount({
        name: "prototypeUrlAdditionalInformation",
        id: "prototypeUrl-additional-information",
        maxwords: 250,
        hint: {
          text: "This may be the username and password for the file if it's protected or contextual information"
        },
        label: {
          text: "Additional information about the URL (optional)",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        errorMessage: formErrors.prototypeUrlAdditionalInformation,
        value: formData.prototypeUrlAdditionalInformation
      }) }}

      <div class="govuk-button-group moj-button-action">
        {{ govukButton({
          text: 'Continue',
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          text: "Add another link",
          classes: "govuk-button--secondary",
          attributes: {'data-add-another': addAnother}
        }) }}
      </div>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const containers = document.querySelectorAll('[data-add-another-container]')
      containers.forEach(function (container) {
        new MOJFrontend.AddAnotherForm(container)
      })
    })
  </script>
{% endblock %}


