{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Submit a new component</span>
    <h1 class="govuk-heading-xl">Before you start</h1>

<p class="govuk-body">You can now use the MoJ Design System to share your work with others, by adding a community component. This is open to everyone at MoJ and in UK government.</p>

<p class="govuk-body">By adding a component you can:

<ul class="govuk-list govuk-list--bullet">
<li>make your work easier to find for teams across government working on the same problems</li>
<li>get input from other people to develop your component</li>
<li>share something you've designed and built, if you now need to after a service assessment</li>
</ul>

<h3 class="govuk-heading-m">What components can be added</h2>

<p class="govuk-body">The component does not need to be thoroughly developed or accessibility tested, and you do not need to add thorough documentation..</p>

<p class="govuk-body">You can add just a screenshot with a brief explanation, or a Figma design and code.</p>

    <h3 class="govuk-heading-m">What you'll need</h2>

    <p class="govuk-body">To submit a component to the Design System you'll need:

    <ul class="govuk-list govuk-list--bullet">
      <li>the component name and description</li>
      <li>details about how it’s being used</li>
      <li>an image</li>
    </ul>

    <p class="govuk-body">This helps people to understand what the component is and how to use it.</p>

    <p class="govuk-body">You’ll also be asked for some of your details. This is for the Design System team to contact you. If you give your permission, your name or team name will be added to the documentation.</p>

    <form method="POST" action="">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Continue'
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
