{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}
{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Submit new component</span>
    <h1 class="govuk-heading-xl">Before you start</h1>

    <p class="govuk-body">When you submit a component to the Design System you need to include:

    <ul class="govuk-list govuk-list--bullet">
      <li>a name and description of the component</li>
      <li>information about how it's being used</li>
      <li>an image</li>
    </ul>

    <p class="govuk-body">This will help users to understand what the component is and how to use it.</p>

    <h3 class="govuk-heading-m">Providing your personal information</h3>

    <p class="govuk-body">You'll also be asked for your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>name</li>
      <li>email address</li>
      <li>team name</li>
    </ul>

    <p class="govuk-body">The Design System team will use this information:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to contact you about the component, if needed</li>
      <li>on the component documentation (but only if you give your permission)</li>
    </ul>

    <form method="POST" action="">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Continue'
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
