{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "base.njk" %}

{% set shareYourDetails = [] %}

{% if formData and formData.shareYourDetails %}
  {% if formData.shareYourDetails is iterable %}
    {% set shareYourDetails = formData.shareYourDetails %}
  {% else %}
    {% set shareYourDetails = [formData.shareYourDetails] %}
  {% endif %}
{% endif %}

{% set addNameToComponentPage = "addNameToComponentPage" in shareYourDetails %}
{% set addTeamNameToComponentPage = "addTeamNameWhenRequested" in shareYourDetails %}
{% set doNotSharePersonalDetailsChecked = "doNotSharePersonalDetails" in shareYourDetails %}

{% block content %}

  {% if backLink %}
    <div class="app-layout__backlink">
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    </div>
  {% endif %}
  <div class="app-layout__content">
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}
  <form method="post" action="{{ submitUrl }}">
      <span class="govuk-caption-l">Submit a new component</span>
      <h1 class="govuk-heading-xl">Your details</h1>
      <p class="govuk-body">Giving your details enables the MoJ Design System team to let you know when the component is live. They might also need to contact you with questions about the component.</p>
      <p class="govuk-body">If you give your permission, your name will be added to the component page. This is to show that you added it to the Design System.</p>
      {{ govukInput({
          label: {
              text: "Full name",
              classes: "govuk-label--m",
              isPageHeading: true
          },
          id: "full-name",
          name: "fullName",
          errorMessage: formErrors.fullName,
          value: formData.fullName
      }) }}

      {{ govukInput({
          label: {
              text: "Email address",
              classes: "govuk-label--m",
              isPageHeading: true
          },
          id: "email-address",
          name: "emailAddress",
          errorMessage: formErrors.emailAddress,
          value: formData.emailAddress
      }) }}

      {{ govukInput({
        label: {
          text: "What team were you in when this component was created?",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        id: "team-name",

        name: "teamName",
        errorMessage: formErrors.teamName,
        value: formData.teamName
      }) }}

      {{ govukCheckboxes({
        name: "shareYourDetails",
        id: 'share-your-details',
        fieldset: {
          legend: {
            text: "Sharing your contact details on the component page",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Adding your details to the component enables other users to contact you (or your team) to collaborate on the component.

          Select all that apply"
        },
        items: [
          {
            value: "addNameToComponentPage",
            text: "Add my name to the component page",
            checked: addNameToComponentPage
          },
          {
            value: "addTeamNameWhenRequested",
            text: "Add my team name to the component page",
            checked: addTeamNameToComponentPage
          }
        ],
        errorMessage: formErrors.shareYourDetails,
        value: formData.shareYourDetails
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div class="moj-button-action">
          {{ govukButton({
              text: 'Continue'
          }) }}
      </div>
    </form>
</div>
{% endblock %}
