.moj-search {
  font-size: 0; // Fallback
}

.moj-search form {
  align-items: flex-end;
  display: flex;
}

.moj-search .govuk-form-group {
  display: inline-block;
  flex: 1;
  margin-bottom: 0;
  vertical-align: top;
}

.moj-search__label,
.moj-search__hint {
  text-align: left;
}

.moj-search__input:focus {
  position: relative;
  z-index: 1;
}

.moj-search__button {
  display: inline-block;
  margin-bottom: 0;
  margin-left: govuk-spacing(2);
  position: relative;
  top: -2px; // Override default gov properties due to active pixel movement
  vertical-align: bottom;
  width: auto;
}

// Modifiers
.moj-search--ondark {
  background-color: govuk-colour("black");
  padding: govuk-spacing(3);
}

.moj-search--ondark .moj-search__label {
  color: govuk-colour("white");
}

.moj-search--ondark .moj-search__hint {
  color: govuk-colour("mid-grey");
}

.moj-search--ondark .moj-search__input {
  border-color: govuk-colour("white");
}

.moj-search--ondark .moj-search__button {
  box-shadow: 0 2px 0 #00823b;
  margin-left: 0;

  &:hover,
  &:focus {
    box-shadow: 0 2px 0 darken(#00823b, 5%);
  }

  &:active {
    top: -2px;
  }

}
