@use "../../vendor/govuk-frontend" as *;

.moj-search {
  @include govuk-responsive-margin(6, "bottom");
}

.moj-search .govuk-form-group {
  margin-bottom: 0;
}

.moj-search__input:focus {
  position: relative;
  z-index: 1;
}

.moj-search__button {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  margin-left: govuk-spacing(2);
  // prevent button from stretching in flex container and box shadow overflowing
  align-self: flex-start;
}

.moj-search__button--icon {
  // ensures button is the same height as the input field
  display: inline-flex;
}

.moj-search__input-wrapper--attached {
  .moj-search__input {
    border-right-width: 0;
  }

  .moj-search__input:focus {
    border-right-width: 2px;
  }

  .moj-search__button {
    margin-left: 0;
  }
}

.moj-search--stacked {
  .govuk-form-group {
    margin-bottom: govuk-spacing(3);
  }

  .moj-search__button {
    margin-left: 0;
  }
}
