{%- from "govuk/components/button/macro.njk" import govukButton %}

<div class="moj-button-group {{- ' ' + params.classes if params.classes }}" {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="moj-button-group__wrapper">
    {%- for item in params.items %}
      {{ govukButton({
          element: item.element if item.element,
          classes: 'moj-button-group__item ' + (item.classes if item.classes) + ' ' + (params.buttonClasses if params.buttonClasses),
          text: item.text if item.text,
          html: item.html if item.html,
          name: item.name if item.name,
          type: item.type if item.type,
          value: item.value if item.value,
          href: item.href if item.href,
          disabled: item.disabled if item.disabled,
          attributes: item.attributes if item.attributes,
          preventDoubleClick: items.preventDoubleClick if item.preventDoubleClick
        }) }}
    {% endfor -%}
  </div>
</div>

