{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <!-- <h1 class="govuk-heading-l">MOJ Frontend</h1> -->

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl" tabindex="-1">
        <span class="govuk-caption-xl">Components</span> Progress bar
      </h1>

      {{ mojProgressBar({
        items: [
        {
          label: {
            text: 'Step 1 (Complete)'
          },
          complete: true
        },
        {
          label: {
            text: 'Step 2 (Active)'
          },
          active: true
        },
        {
          label: {
            text: 'Step 3 (Pending)'
          }
        },
        {
          label: {
            text: 'Step 4 (Pending)'
          }
        }]
      }) }}

    </div>

  </div>

{% endblock %}
