---
layout: layouts/example.njk
title: Identity bar with button menu (example)
redirect_from: examples/identity-bar-menu-toggle
---

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{{ mojIdentityBar({
  title: {
    html: "<b>Jane Wolenksy</b> and <b>Simon Wolensky</b>"
  },
  menus: [{
    alignMenu: "right",
    items: [{
      text: "Primary action",
      href: "#"
    }, {
      text: "Secondary action",
      href: "#"
    }, {
      text: "Tertiary action",
      href: "#"
    }]
  }]
}) }}
