---
layout: layouts/example.njk
title: Date Picker (example)
arguments: date-picker
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{{ mojDatePicker({
  id: "submisison-date",
  name: "submisison-date",
  label: {
      text: "Date"
  },
  hint: {
    text: "For example, 17/5/2024."
  },
  value: "14/6/2024"
}) }}
