---
layout: layouts/example.njk
title: Date Picker (example)
arguments: date-picker
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{{ mojDatePicker({
  id: "submisison-date",
  name: "submisison-date",
  label: {
      text: "Submission date"
  },
  hint: {
    text: "For example, 17/05/2024."
  },
  minDate: "05/05/2024",
  maxDate: "06/07/2024",
  value: "17/05/2024",
  disabledDates: "20/05/2024 21/05/2024",
  disabledDays: "Saturday Sunday"
}) }}
