.moj-page-header-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: govuk-spacing(2);
  margin-bottom: govuk-spacing(7);
  min-height: govuk-spacing(7); // Match button height
}

.moj-page-header-actions__title {
  [class^="govuk-heading-"] {
    margin-bottom: 0;
  }
}

.moj-page-header-actions__actions {
  .moj-button-group {
    margin-bottom: 0;
  }
  .govuk-button {
    margin-bottom: 0;
  }
}
