{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "govuk/macros/attributes.njk" import govukAttributes %}
{%- from "govuk/components/button/macro.njk" import govukButton %}

<div class="moj-page-header-actions {{- ' ' + params.classes if params.classes}}" {{- govukAttributes(params.attributes) -}}>
    <div class="moj-page-header-actions__title">
        <h{{ params.heading.level | default(1) }} class="{{ params.heading.classes | default("govuk-heading-xl") }}">
        {{- params.heading.html | safe if params.heading.html else params.heading.text -}}
        </h{{ params.heading.level | default(1) }}>
    </div>
    {% if params.items %}
        <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">
                {% for button in params.items %}
                    {{ govukButton(button) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
