@use "../../vendor/govuk-frontend" as *;

/* ==========================================================================
   #NOTIFICATION BADGE
   ========================================================================== */

.moj-notification-badge {
  @include govuk-font($size: 16, $weight: "bold");
  border-radius: 2em;
  outline: 0.25em solid transparent;
  background-color: govuk-colour("red");
  // outline ensures number is not obscured in Windows high contrast mode
  display: inline-block;
  color: govuk-colour("white");
  min-width: 0.75em;
  min-height: 1.25em;
  font-weight: 600;
  text-align: center;
  margin-left: 0.35em;
  padding: 0.225em 0.5em 0.275em;
}
