{%- from "govuk/macros/attributes.njk" import govukAttributes -%}

{%- set count = params.text | int -%}
{%- if count > 0 -%}
  {%- set visuallyHiddenCount = '99 or more' if count >= 99 else count -%}
  {%- set count = '99+' if count >= 99 else count -%}
  <span class="moj-notification-badge {{- params.classes if params.classes -}}" {{- govukAttributes(params.attributes) -}}>
    <span aria-hidden="true">{{- count -}}</span>
    <span class="govuk-visually-hidden">({{- visuallyHiddenCount -}}{{- " "+params.visuallyHiddenText if params.visuallyHiddenText -}})</span>
  </span>
{%- endif -%}
