{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}
{%- from "moj/components/search/macro.njk" import mojSearch %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "moj/components/organisation-switcher/macro.njk" import mojOrganisationSwitcher -%}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: 'HMPPS',
      href: '#'
    },
    serviceLabel: {
      text: 'Manage prisoner money',
      href: '#'
    },
    navigation: {
    label: 'Account navigation',
    items: [{
        text: 'Jane Reid',
        href: '#'
      }, {
        text: 'Sign out',
        href: '#'
      }]
    }
  }) }}

  <div class="moj-width-container">
    {{ govukPhaseBanner({
      classes: 'moj-phase-banner--border',
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </div>

  {%- set toggleSearchHtml %}
    <div class="moj-search-toggle">
      <div class="moj-search-toggle__toggle"></div>
      <div class="moj-search-toggle__search">
        {{ mojSearch({
          classes: 'moj-search--toggle moj-js-hidden',
          input: {
            id: 'search2',
            name: 'search2'
          },
          label: {
            classes: 'govuk-visually-hidden',
            text: 'Search'
          },
          hint: {
            text: 'Enter case number, for example 123456'
          },
          button: {
            text: 'Search'
          }
        }) }}
      </div>
    </div>
  {% endset -%}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
      text: 'Prisoners',
      href: '#1'
    }, {
      text: 'Disimbursements',
      href: '#2'
    }, {
      text: 'Etc',
      href: '#2'
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Summary',
    href: '#1'
  }, {
    text: 'Parties',
    href: '#2',
    active: true
  }, {
    text: 'Timeline',
    href: '#3'
  }, {
    text: 'Disimbursements',
    href: '#3'
  }]
  }) }}

  <h1 class="govuk-heading-xl">Parties</h1>

  <p class="govuk-body">I'm some body content</p>
  <p class="govuk-body">I'm some body content</p>
  <p class="govuk-body">I'm some body content</p>
  <p class="govuk-body">I'm some body content</p>
{% endblock %}

{% block footer %}
  {{ govukFooter({}) }}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
  <script>
    new MOJFrontend.SearchToggle({
      toggleButton: {
        container: $('.moj-search-toggle__toggle'),
        text: 'Find case'
      },
      search: {
        container: $('.moj-search')
      }
    });
  </script>
{% endblock %}