/* ==========================================================================
   #ADD ANOTHER
   ========================================================================== */

.moj-add-another {
  &__item {
    margin: 0;
    margin-top: govuk-spacing(6);
    padding: 0;
    position: relative;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__title {
    float: left;
    padding: 4px 0;
    width: 100%;

    & + .govuk-form-group {
      clear: left;
    }
  }

  &__remove-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__add-button {
    display: block;
  }
}

.moj-add-another__heading:focus {
  background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  outline: none;
}