$moj-warning-colour: #eb611c;

@mixin moj-link-style-warning {
  &:link,
  &:visited {
    color: $moj-warning-colour;
  }

  &:hover {
    color: scale-color($moj-warning-colour, $lightness: -30%);
  }

  &:active {
    color: $moj-warning-colour;
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.moj-alert {
  display: grid;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
  border: 5px solid transparent;
  background: govuk-colour("white");
  grid-template-columns: min-content fit-content(960px);
  grid-template-areas: "icon content";
  gap: govuk-spacing(2);
}

.moj-alert:target {
  display: none;
}

.moj-alert[data-dismissible] {
  grid-template-areas:
    "icon content"
    ". action";

  @include govuk-media-query($from: tablet) {
    grid-template-columns: min-content fit-content(920px) auto;
    grid-template-areas: "icon content action";
  }
}

.moj-alert__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: currentcolor;
}

.moj-alert__content {
  @include govuk-font($size: 19);
  display: block;
  padding-top: 5px;
  overflow: hidden;
  color: govuk-colour("black");

  @include govuk-media-query($from: tablet) {
    padding-top: 2px;
  }
}

.moj-alert__action {
  grid-area: action;

  @include govuk-media-query($from: tablet) {
    justify-self: right;
  }
}

.moj-alert__action button {
  margin-bottom: 0;
  border: none;
  color: unset;
  background-color: transparent;
  appearance: none;
  @include govuk-font($size: 19);
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
}

.moj-alert__content h2,
.moj-alert__content h3,
.moj-alert__content h4 {
  margin-bottom: 2px;
  line-height: 30px;
}

.moj-alert--with-heading .moj-alert__content {
  padding-top: 0;

  @include govuk-media-query($from: tablet) {
    padding-top: 0;
  }
}

.moj-alert__content *:last-child {
  margin-bottom: 0;
}

/* Style variants
   ========================================================================== */
.moj-alert--information {
  border-color: $govuk-brand-colour;
  color: $govuk-brand-colour;

  .moj-alert__action button,
  .moj-alert__content a {
    @include govuk-link-common;
    @include govuk-link-style-default;
  }
}

.moj-alert--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");

  .moj-alert__action button,
  .moj-alert__content a {
    @include govuk-link-common;
    @include govuk-link-style-success;
  }
}

.moj-alert--warning {
  border-color: $moj-warning-colour;
  color: $moj-warning-colour;

  .moj-alert__action button,
  .moj-alert__content a {
    @include govuk-link-common;
    @include moj-link-style-warning;
  }
}

.moj-alert--error {
  border-color: govuk-colour("red");
  color: govuk-colour("red");

  .moj-alert__action button,
  .moj-alert__content a {
    @include govuk-link-common;
    @include govuk-link-style-error;
  }
}
