.moj-cookie-banner {
  display: none;
  @include govuk-font(16);

  box-sizing: border-box;

  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  background-color: lighten(
    desaturate(govuk-colour("light-blue"), 8.46),
    42.55
  );

  &--show {
    display: block !important;
  }

  &__message {
    margin: 0;
    @include govuk-width-container;
  }

  &__button .govuk-button {
    @include govuk-media-query($from: tablet) {
      width: 90%;
    }
  }
}

@include govuk-media-query($media-type: print) {
  .moj-cookie-banner {
    display: none !important;
  }
}
