@use "../../objects/width-container" as *;
@use "../../vendor/govuk-frontend/base" as *;

.moj-cookie-banner {
  box-sizing: border-box;
  display: none;
  left: govuk-spacing(3);

  padding-top: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  background-color: govuk-colour("white");
  @include govuk-font(16);

  &--show {
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
  }

  &__message {
    margin: 0;
    @include moj-width-container;
  }

  &__buttons {
    .govuk-grid-column-full {
      padding-left: 0;
    }
  }

  .govuk-button {
    @include govuk-media-query($from: tablet) {
      width: 90%;
    }
  }
}

@include govuk-media-query($media-type: print) {
  .moj-cookie-banner {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}
