@import "node_modules/govuk-frontend/dist/govuk/objects/width-container";

.moj-cookie-banner {
  display: none;
  @include govuk-font(16);

  box-sizing: border-box;

  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  background-color: govuk-colour("white");

  &--show {
    display: block !important;
  }

  &__message {
    margin: 0;
    @include govuk-width-container;
  }

  &__buttons {
    .govuk-grid-column-full {
      padding-left: 0;
    }
  }

  .govuk-button {
    @include govuk-media-query($from: tablet) {
      width: 90%;
    }
  }
}

@include govuk-media-query($media-type: print) {
  .moj-cookie-banner {
    display: none !important;
  }
}
