{%- from "govuk/components/button/macro.njk" import govukButton %}

<div class="cookie-banner govuk-width-container cookie-banner--visible" role="region" aria-label="cookie banner">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="cookie-banner__message">
                <h2 class="govuk-heading-m">{{ params.heading.title }}</h2>
                <p class="govuk-body">{{ params.heading.html }}</p>
            </div>
            <div class="cookie-banner__buttons">
                <div class="cookie-banner__button cookie-banner__button-accept govuk-grid-column-full govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0">
                    {{ govukButton({
                      text: params.acceptCookies.text,
                      classes: 'govuk-button button--inline',
                      type: params.acceptCookies.type
                    }) }}
                </div>
                <div class="cookie-banner__button govuk-grid-column-full govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0">
                    <a href="{{ params.setCookies.href }}" class="govuk-button govuk-button--secondary button--inline" role="button">{{ params.setCookies.text }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
