{%- from "govuk/components/button/macro.njk" import govukButton %}

<div class="moj-cookie-banner govuk-width-container{% if (params.show) %} moj-cookie-banner--show{% endif %}" role="region" aria-labelledby="moj-cookie-banner-title">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="moj-cookie-banner__message">
                <h2 id="moj-cookie-banner-title" class="govuk-heading-m">{{ params.heading.title }}</h2>
                <p class="govuk-body">{{ params.heading.html | safe if params.heading.html else params.heading.text }}</p>
            </div>
            <div class="moj-cookie-banner__buttons">
                <div class="moj-cookie-banner__button moj-cookie-banner__button-accept govuk-grid-column-full govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0">
                    {{ govukButton({
                      text: params.acceptCookies.text,
                      classes: 'govuk-button button--inline',
                      type: params.acceptCookies.type
                    }) }}
                </div>
                <div class="moj-cookie-banner__button govuk-grid-column-full govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0">
                    <a href="{{ params.setCookies.href }}" class="govuk-button govuk-button--secondary button--inline" role="button">{{ params.setCookies.text }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
