---
title: LAA header and navigation (example)
arguments: laa-header-nav
redirect_from: examples/laa-header-nav
---

{% from "moj/components/domain-specific/laa/language-toggle/macro.njk" import laaLanguageToggle %}
{% from "moj/components/header/macro.njk" import mojHeader %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ mojHeader({
  organisationLabel: {
    text: "Legal Aid Agency",
    href: "#"
  },
  navigation: {
    label: "Account navigation",
    items: [
      {
        text: 'joe.bloggs@law.com',
        href: '#'
      },
      {
        text: 'Sign out',
        href: '#'
      }
    ]
  }
}) }}
{{ govukServiceNavigation({
    serviceName: "Service name",
    navigation: [{
      text: "Item 1",
      href: "#"
    },
    {
      text: "Item 2",
      href: "#"
    },
    {
      text: "Item 3",
      href: "#"
    }]
}) }}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service. Your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
    }) }}
    {{ govukBackLink({
      href: "#",
      text: "Back"
    }) }}
    <nav class="dwp-language-toggle" aria-label="{{ "Language toggle" if lang === "en" else "Togl iaith" }}">
      <ul class="dwp-language-toggle__list">
          <li class="dwp-language-toggle__list-item" {%- if lang === "en"%} aria-current="true"{% endif %}>
              {% if lang === "en"%}
                  English
              {% else  %}
              <a href="{{ params.href.en }}"
                  hreflang="en"
                  lang="en"
                  rel="alternate"
                  class="govuk-link"
                  aria-label="Change the language to English">English</a>
              {% endif %}
          </li>
          <li class="dwp-language-toggle__list-item" {%- if lang === "cy"%} aria-current="true"{% endif %}>
              {% if lang === "cy"%}
                  Cymraeg
              {% else  %}
              <a href="{{ params.href.cy }}"
                  hreflang="cy"
                  lang="cy"
                  rel="alternate"
                  class="govuk-link"
                  aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
              {% endif %}
          </li>
      </ul>
  </nav>
</div>
