{% from "govuk/macros/attributes.njk" import govukAttributes %}
{% macro form(params) %}
<form method="{{ params.method if params.method else 'POST' }}" action="{{params.action if params.action else '' }}"  {{ govukAttributes(params.attributes)}}>
    <input type="hidden" name="_csrf" value="{{ params.csrfToken }}" />

    {{ caller()}}
</form>
{% endmacro %}
