/* ==========================================================================
   # LINK BUTTON
   ========================================================================== */

.moj-link-button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: $govuk-link-colour;
}