<form method="post" action="{{ params.action }}">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <button type="submit"
          name="{{ params.id }}"
          class="link-button govuk-body-m govuk-link"
          data-qa="{{ params.id }}"
          data-prevent-double-click="true"
          data-module="govuk-button"
  >
    {{ params.text }}
  </button>
</form>