---
layout: layouts/example.njk
title: Information alert (example)
redirect_from: examples/alert-information
---

{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{{ mojAlert({
  variant: "information",
  title: "A section has moved",
  dismissible: false,
  html: 'The finance section has moved to the <a href="#">dashboard</a>.'
}) }}
