---
layout: layouts/example.njk
title: Notification badge next to link (example)
redirect_from: examples/notification-badge-link
---

{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}
<a href="#" class="govuk-link">Messages
  {{- mojNotificationBadge({text: "5"}) -}}
</a>
