@mixin moj-link-style-warning {
  &:link,
  &:visited {
    color: $moj-warning-link-colour;
  }

  &:hover {
    color: scale-color($moj-warning-link-colour, $lightness: -30%);
  }

  &:active {
    color: $moj-warning-colour;
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}
