@use "../govuk-frontend" as *;

.app-card {
  @include govuk-responsive-padding(6, "bottom");
}

.app-card + .app-card {
  border-top: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(6, "top");
}
