@use "../govuk-frontend" as *;

.app-card {
  margin-bottom: 0;

  @include govuk-media-query($until: desktop) {
    margin-bottom: govuk-spacing(7);
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 528 / 311;
  }

  &--reverse {
    display: flex;
    flex-direction: row-reverse;

    @include govuk-media-query($until: desktop) {
      flex-direction: column;
    }
  }

  &__full {
    margin-bottom: govuk-spacing(9);

    @include govuk-media-query($until: desktop) {
      margin-bottom: govuk-spacing(7);
    }
  }
}
