.app-back-to-top {
  display: none;
  @include govuk-font(16);
  @include govuk-media-query($from: tablet) {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;

    a,
    a:link,
    a:visited {
      color: govuk-colour("blue");
    }

    a:focus {
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    }
  }
}

.app-back-to-top__icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}
