.part-navigation-container {
  margin-bottom: 30px;
  border-bottom: 1px solid #b1b4b6;
  .gem-c-contents-list {
    position: relative;
    z-index: 1;
    //background: #fff;
    box-shadow: 0 20px 15px -10px #fff;
  }

  .app-prose-scope ol,
  .govuk-list--number {
    padding-left: 0;
  }

  .gem-c-contents-list__title {
    margin: 0;
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

  }

  .gem-c-contents-list__list,
  .gem-c-contents-list__nested-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
  }

  .gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
  }

  .gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
  }

  .gem-c-contents-list__list-item--dashed .gem-c-contents-list__list-item-dash::before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }
}
