.app-copy-button {
  $copy-button-colour: #00823b;

  @include govuk-font(16);
  position: absolute;
  z-index: 1;
  top: govuk-spacing(3);
  right: govuk-spacing(3);
  min-width: 110px;
  padding: 4px 10px 2px;
  border: 1px solid $copy-button-colour;
  color: $copy-button-colour;
  background-color: govuk-colour("white");
  box-shadow: 0 2px 0 0 govuk-colour("green");
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:active {
    margin-top: 2px;
    box-shadow: none;
  }
}
