.app-navigation {
  margin-bottom: govuk-spacing(7);

  &__list {
    font-size: 0; // Removes white space when using inline-block on child element.
    list-style: none;
    margin: 0;
    padding: 0;

    @include govuk-media-query($from: tablet) {
      box-shadow: inset 0 -1px 0 $govuk-border-colour;
      width: 100%;
    }
  }

  &__item {
    @include govuk-font(19);
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
    display: block;
    margin-top: -1px;

    &:last-child {
      box-shadow: none;
    }

    @include govuk-media-query($from: tablet) {
      box-shadow: none;
      display: inline-block;
      margin-right: govuk-spacing(4);
      margin-top: 0;
    }
  }

  &__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: govuk-spacing(3);
    text-decoration: none;
    position: relative;

    @include govuk-media-query($from: tablet) {
      padding-left: 0;
    }

    &:link,
    &:visited {
      color: $govuk-link-colour;
    }

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus {
      color: govuk-colour("black");
      position: relative;
      box-shadow: none;
    }

    &:focus:before {
      background-color: govuk-colour("black");
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 5px;

      @include govuk-media-query($from: tablet) {
        height: 5px;
        width: 100%;
      }
    }
  }

  &__link[aria-current="page"] {
    color: $govuk-link-active-colour;
    position: relative;
    text-decoration: none;

    &:before {
      background-color: $govuk-link-colour;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 5px;

      @include govuk-media-query($from: tablet) {
        height: 5px;
        width: 100%;
      }
    }

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus:before {
      background-color: govuk-colour("black");
    }
  }
}

@include govuk-media-query($until: tablet) {
  .app-navigation {
    .govuk-tabs__title {
      display: none;
    }

    .app-navigation__item {
      margin-left: 0;
      margin-right: 20px;
      &:before {
        content: unset;
        margin-left: unset;
        padding-left: unset;
      }
      a.app-navigation__link {
        margin-bottom: 0;
        text-decoration: none;
        &:focus {
          background: none;
          border: none;
          box-shadow: none;
        }
      }
    }
    .govuk-tabs__list-item--selected {
      margin-right: 20px;
      a {
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: govuk-spacing(3);
        text-decoration: none;
        position: relative;

        @include govuk-media-query($from: tablet) {
          padding-left: 0;
        }

        &:link,
        &:visited {
          color: $govuk-link-colour;
        }

        &:hover {
          color: $govuk-link-hover-colour;
        }

        &:focus {
          color: govuk-colour("black");
          position: relative;
          box-shadow: none;
        }

        &:focus:before {
          background-color: govuk-colour("black");
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 5px;

          @include govuk-media-query($from: tablet) {
            height: 5px;
            width: 100%;
          }
        }
        text-decoration: underline;
      }
      padding-left: unset;
      a:before {
        background-color: unset !important;
      }
    }
    .app-navigation__list {
      padding-left: 0;
    }
  }
}

@include govuk-media-query($from: tablet) {
  .app-navigation {
    .govuk-tabs__list {
      margin-bottom: 20px;
      padding-left: unset;
      border-bottom: unset;
      .govuk-tabs__tab {
        &:link,
        &:visited {
          color: $govuk-link-colour;
        }
        &[aria-selected="true"] {
          color: govuk-colour("black");
        }
        &:hover {
          color: $govuk-link-hover-colour;
        }
        text-decoration: unset;
      }
      .app-navigation__item {
        margin-bottom: 0;
        .app-navigation__link {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.app-navigation {
  .govuk-tabs__list-item--selected a {
    color: $govuk-link-active-colour;
    position: relative;
    text-decoration: none;

    &:before {
      background-color: $govuk-link-colour;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 5px;

      @include govuk-media-query($from: tablet) {
        height: 5px;
        width: 100%;
      }
    }

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus:before {
      background-color: govuk-colour("black");
    }

    text-decoration: unset;
  }
}

.app-navigation__list {
  margin-bottom: 40px;
}

.no-govuk-tabs-styles.govuk-tabs {
  .app-navigation__list {
    margin-bottom: 40px;
    scroll-margin-top: 40px;
  }
  .govuk-tabs__list-item--selected,
  .govuk-tabs__panel {
    border: unset;
    padding: unset;
  }
  .govuk-tabs__list-item {
    background-color: unset;
    float: unset;
    margin-right: 20px;
    padding: unset;
  }
  .govuk-tabs__list-item--selected {
    float: unset;
    margin-top: unset;
    position: unset;
    background-color: unset;
  }
}

.govuk-tabs__list-item {
  background-color: unset;
}
