/* ==========================================================================
   #EXAMPLE
   ========================================================================== */

  .app-example {
    background-color: govuk-colour("white");
    border-left: 1px solid $govuk-border-colour;
    border-right: 1px solid $govuk-border-colour;
    position: relative;
  }

  .app-example__frame {
    background-color: govuk-colour("white");
    border: 0;
    display: block;
    width: 100%;
  }

  .app-example-page {
    margin-bottom: -1px;
    padding: 30px;
    padding-top: 60px;
    position: relative;
  }

  .app-example__new-window {
    @include govuk-font($size: 16);
    border: 1px solid $govuk-border-colour;
    background-color: govuk-colour("white");
    padding: 8px;

    a,
    a:link,
    a:visited {
      color: govuk-colour("blue");
      text-decoration: none;
    }

    a:hover {
      color: $govuk-link-hover-colour;
    }

    a:focus {
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      // border-color: $govuk-focus-text-colour;
    }

  }
