@use "../govuk-frontend" as *;

/* ==========================================================================
   #EXAMPLE
   ========================================================================== */

.app-example {
  position: relative;
  border-right: 1px solid $govuk-border-colour;
  border-left: 1px solid $govuk-border-colour;
  background-color: govuk-colour("white");

  &.app-example-borders {
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;
  }

  pre {
    background-color: govuk-colour("white");
  }
}

.app-example__code {
  position: relative;
}

.app-example__frame {
  display: block;
  width: 100%;
  border: 0;
  background-color: govuk-colour("white");
}

.app-example-page {
  position: relative;
  margin-bottom: -1px;
  padding: 30px;
  padding-top: 60px;
}

.app-example__new-window {
  padding: 8px;
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour("white");
  @include govuk-font($size: 16);

  a,
  a:link,
  a:visited {
    color: govuk-colour("blue");
    text-decoration: none;
  }

  a:hover {
    color: $govuk-link-hover-colour;
  }

  a:focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow:
      0 -2px $govuk-focus-colour,
      0 4px $govuk-focus-text-colour;
    // border-color: $govuk-focus-text-colour;
  }
}
