$app-breakpoint: 800px;

.app-layout {
  @include govuk-media-query($app-breakpoint) {
    display: grid;
    width: 100%;
    grid-template-columns: min(25%, 300px) auto;
  }
}

.app-layout__sidebar {
  @include govuk-responsive-padding(6, "bottom");
}

.app-layout__page {
  @include govuk-media-query($app-breakpoint) {
    border-left: 1px solid $govuk-border-colour;
  }
}

.app-layout__content {
  max-width: 1100px;
  @include govuk-responsive-padding(6);
  box-sizing: border-box;
  @include govuk-media-query($app-breakpoint) {
    @include govuk-responsive-padding(9);
  }

  figure {
    margin: 0;
    padding: 0;
    display: block; 
  }
  

  .image-placeholder {
    width: 100%;  
    height: 310px;
    background-color: rgba(0, 139, 118, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .altern-colour {
    background-color: rgba(211, 2, 107, 1);
  }

  .image-fill {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }


}
