/* ==========================================================================
   #MASTHEAD
   ========================================================================== */

$brand-colour: #220051;

.app-masthead {
  padding-top: govuk-spacing(7);
  padding-bottom: govuk-spacing(7);
  background-color: $brand-colour;
  color: govuk-colour("white");
}

.app-masthead p,
.app-masthead h1 {
  color: inherit;
}

.app-masthead .govuk-button--start {
  color: $brand-colour !important;
  background-color: govuk-colour("white");
}

.app-masthead .govuk-button--start:hover {
  background-color: govuk-colour("mid-grey");
}

@media (min-width: map-get($govuk-breakpoints, tablet)) {
  .app-masthead__container {
    background-image: url("/assets/images/moj-people.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 33% auto;
  }
}
