/* ==========================================================================
   #MASTHEAD
   ========================================================================== */

$brand-colour: #220051;

.app-masthead {
  background-color: $brand-colour;
  color: govuk-colour("white");
}

.app-masthead p,
.app-masthead h1 {
  color: inherit;
}

.app-masthead .govuk-button--start {
  color: $brand-colour !important;
  background-color: govuk-colour("white");
}

.app-masthead .govuk-button--start:hover {
  background-color: govuk-colour("mid-grey");
}

.app-masthead .govuk-caption-xl {
  color: govuk-colour('white');
}


