@use "../govuk-frontend" as *;

/* ==========================================================================
   #MASTHEAD
   ========================================================================== */

$brand-colour: #220051;

.app-masthead {
  color: govuk-colour("white");
  background-color: $brand-colour;
  @include govuk-media-query($from: desktop) {
    > div {
      padding-right: 130px;
    }
  }
}

.app-masthead p,
.app-masthead h1 {
  color: inherit;
}

.app-masthead .govuk-button--start {
  // stylelint-disable-next-line declaration-no-important
  color: $brand-colour !important;
  background-color: govuk-colour("white");
}

.app-masthead .govuk-button--start:hover {
  background-color: govuk-colour("mid-grey");
}

.app-masthead .govuk-caption-xl {
  color: govuk-colour("white");
}
