@use "sass:color";

/* ==========================================================================
   #PANEL
   ========================================================================== */

.app-panel {
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-padding(3);
}

.app-panel__heading,
.app-panel__body {
  color: govuk-colour("white");
}

.app-panel__heading {
  @extend .govuk-heading-m;
}

.app-panel__body {
  margin-bottom: 0;
  @include govuk-font(19);
}

.app-panel__link {
  &:link,
  &:active,
  &:visited {
    color: govuk-colour("white");
  }

  &:hover {
    color: color.adjust(govuk-colour("blue"), $lightness: 45%);
  }

  &:focus {
    color: govuk-colour("black");
  }
}
