.app-prose-scope {
  h1:not([class]) {
    @extend %govuk-heading-xl;
  }

  h2:not([class]) {
    @extend %govuk-heading-l;
  }

  h3:not([class]) {
    @extend %govuk-heading-m;
  }

  h4:not([class]) {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  img {
    max-width: 100%;
    border: 1px solid #b1b4b6;
  }

  code:not([class*="language-"]) {
    padding: 0 1px;
    color: #c62950;
    background-color: #e9e9e9;
    font-family: monospace;
    font-size: 0.85em;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  ul a,
  ol a {
    @extend %govuk-link;
  }

  a {
    @extend %govuk-link;
  }

  a.govuk-link--inverse {
    @extend .govuk-link--inverse;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-margin(6, "bottom");
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  th {
    @include govuk-typography-weight-bold;
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) govuk-em(govuk-spacing(2), 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
  }

  td {
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) govuk-em(govuk-spacing(2), 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }

  caption {
    @include govuk-typography-weight-bold;
    display: table-caption;
    text-align: left;
  }
}

pre {
  @include govuk-responsive-margin(6, "bottom");
  position: relative;
  margin: govuk-spacing(6);
  padding: govuk-spacing(3);
  overflow: auto;
  background: #f7f7f7;
  font-size: 16px;
}
