p.moj-sub-navigation__link {
  color: #707273; // Change colour of non-link subnav items
  margin-bottom: 0; // Remove bottom margin from non-link subnav items on desktop

  &:hover {
    color: #707273;
  }

}

ul.single-char-list {
  padding-left: 0; // Remove left padding from single-char list
}

@include govuk-media-query($from: desktop) {
  p.moj-sub-navigation__link {
    margin-bottom: 0; // Remove bottom margin from non-link subnav items on desktop
  }

  ul.single-char-list li {
    margin-right: 0.25em;
  }

  .single-char-link {
    padding: 0.5em; // Add padding to single-char subnav items on desktop
  }
}