/* ==========================================================================
   #TABS
   ========================================================================== */

.app-tabs {
  margin-bottom: govuk-spacing(9);
  border-top: 0;
  background: govuk-colour("white");
}

.app-tabs__list {
  margin: 0;
  padding: 0;
  border: 1px solid $govuk-border-colour;
  list-style: none;

  // A specific selector to override .app-prose-scope
  .app-prose-scope & {
    margin: 0;
    padding: 0;
    font-size: 0; // Remove white space when using display: inline-block
  }
}

.app-tabs__list-item {
  display: inline-block;
  margin: 0;
  border-right: 1px solid $govuk-border-colour;

  // A specific selector to override .app-prose-scope
  .app-prose-scope & {
    margin-bottom: 0;
  }
}

.app-tabs__tab {
  display: block;
  position: relative;
  padding: 20px;
  color: govuk-colour("blue");
  background-color: govuk-colour("white");
  text-decoration: none;
  @include govuk-font($size: 19, $weight: bold);

  &:link,
  &:active,
  &:visited {
    color: govuk-colour("blue");
    background-color: govuk-colour("white");

    // A specific selector to override .app-prose-scope
    .app-prose-scope & {
      color: govuk-colour("blue");
    }
  }

  &:hover {
    .app-prose-scope & {
      color: govuk-colour("light-blue");
    }
  }

  &:focus {
    z-index: 2; // Focus state must sit above

    .app-prose-scope & {
      border-color: $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      box-shadow:
        0 -2px $govuk-focus-colour,
        0 4px $govuk-focus-text-colour;
    }
  }

  &[aria-selected="true"] {
    margin-bottom: -1px;
    padding-bottom: 21px;
    color: govuk-colour("black");
    background-color: govuk-colour("white");

    // A specific selector to override .app-prose-scope
    .app-prose-scope & {
      color: govuk-colour("black");
    }
  }
}

.app-tabs__panel {
  position: relative;
  padding: govuk-spacing(3);
  border: 1px solid $govuk-border-colour;
  border-top: 0;
  background-color: govuk-colour("white");
  @include govuk-font($size: 16);

  &--hidden {
    display: none;
  }

  p {
    // stylelint-disable-next-line declaration-no-important
    max-width: 100% !important;
  }

  pre {
    margin: 0;
    padding-top: govuk-spacing(9);
  }
}
