$moj-app-mid-grey: #949494;

.app-vertical-nav {
  /* padding-left: govuk-spacing(3); */
  /* padding-right: govuk-spacing(3); */
}

.app-vertical-nav__header {
  @include govuk-font($size: 24);
  color: $govuk-secondary-text-colour;
  padding-left: 19px;
}

.app-vertical-nav__list {
  @include govuk-font($size: 19);
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-vertical-nav__item {
  position: relative;

}

.app-vertical-nav__indicator {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-vertical-nav__link {
  color: $govuk-link-colour;
  text-decoration: none;
  display: block;
  padding: 10px 15px 7px 15px;
  border-left: 4px solid transparent;

  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    background-color: $moj-app-mid-grey;
    color: $govuk-text-colour;
  }

  &:focus,
  &:focus-visible {
    background-color: $govuk-focus-colour;
    color: $govuk-text-colour;
    outline: none;
    border-color: $govuk-text-colour;
  }

  &:focus:hover,
  &:focus-visible:hover {
    background-color: $moj-app-mid-grey;
  }
}

.app-vertical-nav__list .app-vertical-nav__list {
  @include govuk-font($size: 16);
  padding-left: govuk-spacing(2);
}

.app-vertical-nav__item--active > .app-vertical-nav__link {
    background-color: $govuk-link-colour;
    color: govuk-colour('white');

    &:hover {
    background-color: $moj-app-mid-grey;
    color: $govuk-text-colour;
  }

  &:focus,
  &:focus-visible {
    background-color: $govuk-focus-colour;
    color: $govuk-text-colour;
    outline: none;
    border-color: $govuk-text-colour;
  }

  &:focus:hover,
  &:focus-visible:hover {
    background-color: $moj-app-mid-grey;
  }
}
.app-vertical-nav__item--active .app-vertical-nav__indicator {
  color: govuk-colour('white');
  transform: rotate(180deg);
}
