/* ==========================================================================
   #SECONDARY NAV
   ========================================================================== */

.moj-sub-navigation {
  margin-bottom: govuk-spacing(7);
}


.moj-sub-navigation__list {
  font-size: 0; // Removes white space when using inline-block on child element.
  list-style: none;
  margin: 0;
  padding: 0;

  @include govuk-media-query($from: tablet) {
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
    width: 100%;
  }
}


.moj-sub-navigation__item {
  @include govuk-font(19);
  box-shadow: inset 0 -1px 0 $govuk-border-colour;
  display: block;
  margin-top: -1px;

  &:last-child {
    box-shadow: none;
  }

  @include govuk-media-query($from: tablet) {
    box-shadow: none;
    display: inline-block;
    margin-right: govuk-spacing(4);
    margin-top: 0;
  }

}


.moj-sub-navigation__link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: govuk-spacing(3);
  text-decoration: none;
  position: relative;

  @include govuk-media-query($from: tablet) {
    padding-left: 0;
  }

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus {
    color: govuk-colour("black"); // Focus colour on yellow should really be black.
    position: relative; // Ensure focus sits above everything else.
    box-shadow: none;
  }

  &:focus:before {
    background-color: govuk-colour("black");
    content: "";
    display: block;
    height: 100%;
    position: absolute; bottom: 0; left: 0;
    width: 5px;

    @include govuk-media-query($from: tablet) {
      height: 5px;
      width: 100%;
    }
  }

}


.moj-sub-navigation__link[aria-current="page"] {
  color: $govuk-link-active-colour;
  position: relative;
  text-decoration: none;

  &:before {
    background-color: $govuk-link-colour;
    content: "";
    display: block;
    height: 100%;
    position: absolute; bottom: 0; left: 0;
    width: 5px;

    @include govuk-media-query($from: tablet) {
      height: 5px;
      width: 100%;
    }

  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus:before {
    background-color: govuk-colour("black");
  }

}
