@use "../../vendor/govuk-frontend" as *;

/* ==========================================================================
   #SECONDARY NAV
   ========================================================================== */

.moj-sub-navigation {
  margin-bottom: govuk-spacing(7);
}

.moj-sub-navigation__list {
  margin: 0;
  padding: 0;
  font-size: 0; // Removes white space when using inline-block on child element.
  list-style: none;

  @include govuk-media-query($from: tablet) {
    width: 100%;
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
  }
}

.moj-sub-navigation__item {
  display: block;
  margin-top: -1px;
  box-shadow: inset 0 -1px 0 $govuk-border-colour;
  @include govuk-font(19);

  &:last-child {
    box-shadow: none;
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin-top: 0;
    margin-right: govuk-spacing(4);
    box-shadow: none;
  }
}

.moj-sub-navigation__link {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: govuk-spacing(3);
  @include govuk-link-common;
  @include govuk-link-style-default;

  @include govuk-media-query($from: tablet) {
    padding-left: 0;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus {
    position: relative; // Ensure focus sits above everything else.
    color: govuk-colour("black"); // Focus colour on yellow should really be black.
    box-shadow: none;
  }

  &:focus::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: govuk-colour("black");

    @include govuk-media-query($from: tablet) {
      width: 100%;
      height: 5px;
    }
  }
}

.moj-sub-navigation__link[aria-current="page"] {
  position: relative;
  color: $govuk-link-active-colour;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $govuk-link-colour;

    @include govuk-media-query($from: tablet) {
      width: 100%;
      height: 5px;
    }
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus::before {
    background-color: govuk-colour("black");
  }
}
