---
layout: layouts/example.njk
title: Identity bar with toggleable menu (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=684-431&mode=design
---

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{{ mojIdentityBar({
  title: {
    html: '<b>Jane Wolenksy</b> and <b>Simon Wolensky</b>'
  },
  menus: [{
    alignMenu: "right",
    items: [{
      text: 'Primary action',
      href: "#"
    }, {
      text: 'Secondary action',
      href: "#"
    }, {
      text: 'Tertiary action',
      href: "#"
    }]
  }]
}) }}
