{%- from "button/macro.njk" import govukButton %}

<div class="moj-menu {{- ' ' + params.classes if params.classes}}" {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="moj-menu__wrapper">
    {% for item in params.items %}
      {{ govukButton({
        classes: 'moj-menu__item ' + (item.classes if item.classes) + ' ' + (params.buttonClasses if params.buttonClasses),
        text: item.text,
        href: item.href
      }) }}
    {% endfor %}
  </div>
</div>

