{% extends "moj/template.njk" %}

{% set assetUrl = "/assets" %}

{% block pageTitle -%}
{% block title %}{{ title }}{{page.title}} - MoJ Design System{% endblock %}
{%- endblock %}

{% block head %}
  <meta name="description" content="Design your service using MoJ styles, components and patterns">

  <link href="{{ 'stylesheets/application.min.css' | rev }}" rel="stylesheet">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T44399BJ');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block bodyStart %}
  {{ super() }}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T44399BJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block header %}
  {% include "./partials/header.njk" %}
{% endblock %}

{% block main %}
  <div class="app-layout">
    <div id="sidebar" class="app-layout__sidebar">
      {% include "./partials/side-navigation.njk" ignore missing %}
    </div>
    <div class="app-layout__page app-page">
      {% block beforeContent %}{% endblock %}
      <main id="main-content" class="app-prose-scope">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "./partials/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ 'javascripts/application.min.js' | rev }}"></script>
  <script type="module" src="https://www.googletagmanager.com/gtag/js?id=G-VTGX4YLSVL"></script>
{% endblock %}
