{% extends "base.njk" %}
{% block content %}
    <div class="app-layout__content">
        <h1>Oops! Something went wrong.</h1>
        <p>{{ message }}</p>
        {% if errorDetails %}
            <pre>Error Details: {{ errorDetails }}</pre>
        {% endif %}
        <a href="/">Go back to the home page</a>
    </div>
{% endblock %}
