





<moj-collapsible-nav open-class="app-vertical-nav__item--open" id="building-nav">
  <nav class="app-vertical-nav" aria-labelledby="building-nav-title">
    <h2 class="app-vertical-nav__header" id="building-nav-title">Building blocks</h2>
    <ul class="app-vertical-nav__list">
        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/">Components<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components">View all components</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/add-another/">Add another</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/alert/">Alert</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/badge/">Badge</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/button-menu/">Button menu</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/date-picker/">Date picker</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/filter/">Filter</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/header/">Header</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/identity-bar/">Identity bar</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/interruption-card/">Interruption card</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/messages/">Messages</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/multi-file-upload/">Multi file upload</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/multi-select/">Multi select</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/notification-badge/">Notification badge</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/organisation-switcher/">Organisation switcher</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/page-header-actions/">Page header actions</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/pagination/">Pagination</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/primary-navigation/">Primary navigation</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/scrollable-pane/">Scrollable pane</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/search/">Search</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/side-navigation/">Side navigation</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/sortable-table/">Sortable table</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/sub-navigation/">Sub navigation</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/ticket-panel/">Ticket Panel</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/components/timeline/">Timeline</a></li>
</ul></li>

        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/patterns/">Patterns<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/patterns/add-to-a-list/">Add to a list</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/patterns/filter-a-list/">Filter a list</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/patterns/get-help/">Get help</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/patterns/upload-files/">Upload files</a></li>
</ul></li>

        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/pages/">Pages<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/pages/case-list/">Case list pages</a></li>
</ul></li>

        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/">Archive<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/banner/">Banner</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/currency-input/">Currency input</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/form-validator/">Form validator</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/password-reveal/">Password reveal</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/question-pages/">Question pages</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/rich-text-editor/">Rich text editor</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/tag/">Tag</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/archive/task-list/">Task list pages</a></li>
</ul></li>
</ul>
  </nav>
</moj-collapsible-nav>

<moj-collapsible-nav open-class="app-vertical-nav__item--open" id="guidance-nav">
  <nav class="app-vertical-nav" aria-labelledby="guidance-nav-title">
    <h2 class="app-vertical-nav__header" id="guidance-nav-title">Guidance</h2>
    <ul class="app-vertical-nav__list">
        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/content-standards/style-guide/">Content style guide</a></li>

        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/ethics/">Ethics<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/ethics/design-ethical-services/">Designing ethical services</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/ethics/principles/">Ethical principles</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/ethics/review/">Doing an ethics review</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/ethics/assessment/">Preparing for a service assessment</a></li>
</ul></li>

        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/prototyping/">Prototyping<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/prototyping/prototyping-methods/">Choosing a prototyping method</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/prototyping/setting-up-figma-prototypes/">Setting up Figma prototypes</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/prototyping/deploying-coded-prototypes/">Deploying coded prototypes</a></li>
</ul></li>

        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/production/">Production<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/production/moj-frontend/">MoJ Frontend</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/production/installing-with-npm/">Install with Node.js package manager (npm)</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/production/install-using-precompiled-files/">Try MoJ Frontend using precompiled files</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/production/use-nunjucks/">Use Nunjucks</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/production/import-font-and-image-assets/">Import font and image assets</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/production/import-javascript/">Import JavaScript</a></li>
</ul></li>
</ul>
  </nav>
</moj-collapsible-nav>



<moj-collapsible-nav open-class="app-vertical-nav__item--open" id="about-nav">
  <nav class="app-vertical-nav" aria-labelledby="about-nav-title">
    <h2 class="app-vertical-nav__header" id="about-nav-title">About the design system</h2>
    <ul class="app-vertical-nav__list">
        




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/get-involved/">Get involved<div class="app-vertical-nav__indicator">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 10.5177L17.7928 16.3105L19.207 14.8963L11.9999 7.68923L4.79282 14.8963L6.20703 16.3105L11.9999 10.5177Z" fill="currentColor" />
        </svg>
      </div></a><ul class="app-vertical-nav__list" hidden>




<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/get-involved/contribute/">Propose a new component or pattern</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/get-involved/criteria/">Contribution criteria</a></li>





<li class="app-vertical-nav__item  ">
  <a class="app-vertical-nav__link" href="/get-involved/suggest-a-change/">Suggest a change or give feedback</a></li>
</ul></li>
</ul>
  </nav>
</moj-collapsible-nav>


