---
layout: layouts/example.njk
title: Information banner (example)
redirect_from: examples/banner-information
---

{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
  type: "information",
  text: "Select text to add comment.",
  iconFallbackText: "information"
}) }}
