{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl" tabindex="-1">
        <span class="govuk-caption-xl">Components</span> Side navigation
      </h1>

      <h2 class="govuk-heading-m">Example 1</h2>

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Nav item 1',
          href: '#1',
          active: true
        }, {
          text: 'Nav item 2',
          href: '#2'
        }, {
          text: 'Nav item 3',
          href: '#3'
        }]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h2>

      {{ mojSideNavigation({
        label: 'Side navigation',
        sections: [
          {
            heading: {
              text: 'Section 1'
            },
            items: [{
              text: 'Nav item 1.1',
              href: '#1.1',
              active: true
            }, {
              text: 'Nav item 1.2',
              href: '#1.2'
            }, {
              text: 'Nav item 1.3',
              href: '#1.3'
            }]
          },
          {
            heading: {
              text: 'Section 2'
            },
            items: [{
              text: 'Nav item 2.1',
              href: '#2.1'
            }, {
              text: 'Nav item 2.2',
              href: '#2.2'
            }, {
              text: 'Nav item 2.3',
              href: '#2.3'
            }]
          }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
