/* ==========================================================================
   #BANNER
   ========================================================================== */

.moj-banner {
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
  border: 5px solid $govuk-brand-colour;
  color: $govuk-brand-colour;
  font-size: 0; // Removes white space when using inline-block on child element.
}

.moj-banner__icon {
  margin-right: govuk-spacing(2);
  float: left;
  fill: currentcolor;
}

.moj-banner__message {
  @include govuk-font($size: 19);
  display: block;
  overflow: hidden;
  color: govuk-colour("black");
}

.moj-banner__message h2 {
  margin-bottom: govuk-spacing(2);
}

.moj-banner__message h2:last-child,
.moj-banner__message p:last-child {
  margin-bottom: 0;
}

.moj-banner__assistive {
  @include govuk-visually-hidden;
}

/* Style variants
   ========================================================================== */

.moj-banner--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}

.moj-banner--warning {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}
