---
layout: layouts/example.njk
title: Notification badge (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=61-3019&mode=design
---

{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}

{{ mojNotificationBadge({
  text: "10"
}) }}
