{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% set paginationItems = [] %}

{% if params.items %}
  {%- for item in params.items %}
    {% if item.type === "dots" %}
      {% set paginationItem = {
       "ellipsis": true
      } %}
    {% else %}
      {% set paginationItem = {
      "number": item.text,
      "href": item.href,
      "current": item.selected
      } %}
    {% endif %}
    {% set paginationItems = paginationItems.concat(paginationItem) %}
  {% endfor %}
{% endif %}

<div class="moj-pagination " aria-label="Pagination navigation">

  {{ govukPagination({
    items: paginationItems,
    previous: params.previous,
    next: params.next,
    classes: "moj-pagination__pagination " + (params.classes if params.classes)
    })
  }}

  {%- if params.results %}
    {% set results_string = '' %}
    {% if paginationItems | length > 0 %}
      {% if params.results.from and params.results.to %}
        {% results_string = "Showing " + {{ params.results.from }} + " to " + {{ params.results.to }} %}
      {% endif %}
      {% if params.results.count %}
        {% results_string = results_string + " out of " {{ params.results.count }} + " " + {{ params.results.text | default("results") }} %}
      {% endif %}
    {% else %}
      {% results_string = {{ params.results.count }} + " total " + {{ params.results.text | default("results") }} %}
    {% endif %}

    {% if results_string != '' %}
      <p class="moj-pagination__results">{{ results_string }}</p>
    {% endif %}
  {% endif -%}
</div>
