{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% set govukItems = [] %}

{%- for item in params.items %}
  {% if item.type === "dots" %}
    {% set govukItem = {
     "ellipsis": true
    } %}
  {% else %}
    {% set govukItem = {
    "number": item.text,
    "href": item.href,
    "current": item.selected
    } %}
  {% endif %}
  {% set govukItems = govukItems.concat(govukItem) %}
{% endfor %}

<div class="moj-pagination " aria-label="Pagination navigation">

{{ govukPagination({
  items: govukItems,
  previous: params.previous,
  next: params.next,
  classes: "moj-pagination__pagination " + (params.classes if params.classes)
  })
}}

  {%- if params.results %}
    <p class="moj-pagination__results">Showing <b>{{ params.results.from }}</b> to <b>{{ params.results.to }}</b> of <b>{{params.results.count}}</b> {{ params.results.text | default("results") }}</p>
  {% endif -%}
</div>
