// GOV.UK Frontend
@use "govuk-frontend" as *;

// MOJ Frontend
@forward "moj-frontend" with (
  $moj-assets-path: $govuk-assets-path,
  $moj-page-width: $govuk-page-width
);

// highlight.js
@forward "highlight.js/scss/github";

// Custom documentation components
@forward "components/accordions";
@forward "components/back-to-top";
@forward "components/cookie-banner";
@forward "components/copy-button";
@forward "components/example";
@forward "components/layout";
@forward "components/prose";
@forward "components/masthead";
@forward "components/tabs";
@forward "components/header";
@forward "components/footer";
@forward "components/vertical-nav";
@forward "components/page";
@forward "components/menu-toggle";
@forward "components/app-card";
@forward "components/status";
@forward "components/documentation_tabs";

@view-transition {
  navigation: auto;
}
