// GOV.UK Frontend
@forward "node_modules/govuk-frontend/dist/govuk" with (
  $govuk-assets-path: "../",
  $govuk-page-width: 1220px,
  $govuk-suppressed-warnings: (
    "govuk-typography-scale-14"
  )
);
