/* ==========================================================================
   #TAG
   ========================================================================== */

.moj-tag {
  border: 2px solid govuk-colour("blue");
  background-color: govuk-colour("blue");
  color: govuk-colour("white");

  &--purple {
    border: 2px solid govuk-colour("purple");
    background-color: govuk-colour("purple");
    color: govuk-colour("white");
  }

  &--light-purple {
    border: 2px solid govuk-colour("light-purple");
    background-color: govuk-colour("light-purple");
    color: govuk-colour("white");
  }

  &--bright-purple {
    border: 2px solid govuk-colour("bright-purple");
    background-color: govuk-colour("bright-purple");
    color: govuk-colour("white");
  }

  &--pink {
    border: 2px solid govuk-colour("pink");
    background-color: govuk-colour("pink");
    color: govuk-colour("white");
  }

  &--light-pink {
    border: 2px solid govuk-colour("light-pink");
    background-color: govuk-colour("light-pink");
    color: govuk-colour("white");
  }

  &--red {
    border: 2px solid govuk-colour("red");
    background-color: govuk-colour("red");
    color: govuk-colour("white");
  }

  &--bright-red {
    border: 2px solid govuk-colour("bright-red");
    background-color: govuk-colour("bright-red");
    color: govuk-colour("white");
  }

  &--orange {
    border: 2px solid govuk-colour("orange");
    background-color: govuk-colour("orange");
    color: govuk-colour("white");
  }

  &--brown {
    border: 2px solid govuk-colour("brown");
    background-color: govuk-colour("brown");
    color: govuk-colour("white");
  }

  &--yellow {
    border: 2px solid govuk-colour("yellow");
    background-color: govuk-colour("yellow");
    color: govuk-colour("white");
  }

  &--light-green {
    border: 2px solid govuk-colour("light-green");
    background-color: govuk-colour("light-green");
    color: govuk-colour("white");
  }

  &--green {
    border: 2px solid govuk-colour("green");
    background-color: govuk-colour("green");
    color: govuk-colour("white");
  }

  &--turquoise {
    border: 2px solid govuk-colour("turquoise");
    background-color: govuk-colour("turquoise");
    color: govuk-colour("white");
  }

  &--light-blue {
    border: 2px solid govuk-colour("light-blue");
    background-color: govuk-colour("light-blue");
    color: govuk-colour("white");
  }

  &--blue {
    border: 2px solid govuk-colour("blue");
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
  }

  &--black {
    border: 2px solid govuk-colour("black");
    background-color: govuk-colour("black");
    color: govuk-colour("white");
  }

  &--grey-1 {
    border: 2px solid govuk-colour("grey-1");
    background-color: govuk-colour("grey-1");
    color: govuk-colour("white");
  }

  &--grey-2 {
    border: 2px solid govuk-colour("grey-2");
    background-color: govuk-colour("grey-2");
    color: govuk-colour("grey-1");
  }

  &--grey-3 {
    border: 2px solid govuk-colour("grey-3");
    background-color: govuk-colour("grey-3");
    color: govuk-colour("grey-1");
  }

  &--grey-4 {
    border: 2px solid govuk-colour("grey-4");
    background-color: govuk-colour("grey-4");
    color: govuk-colour("grey-1");
  }

  &--white {
    border: 2px solid govuk-colour("grey-1");
    background-color: govuk-colour("white");
    color: govuk-colour("grey-1");
  }

}