.moj-page-header-actions {
  @include govuk-clearfix;
  font-size: 0; // Hide whitespace between elements
  margin-bottom: govuk-spacing(7);
  min-height: govuk-spacing(7); // Match button height
  text-align: justify; // Trick to remove the need for floats
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

}


.moj-page-header-actions__title {

  [class^=govuk-heading-] {
    margin-bottom: govuk-spacing(2);
    text-align: left;
    @include mq($from: tablet) {
      margin-bottom: 0;
    }
  }

  @include mq($from: tablet) {
    display: inline-block;
    vertical-align: middle;
  }

}


.moj-page-header-actions__actions {

  @include mq($from: tablet) {
    display: inline-block;
    vertical-align: middle;
  }

}

.moj-page-header-actions__action {

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    margin-bottom: 0;
  }

}

