{%- from "moj-menu/macro.njk" import mojMenu %}

<div class="moj-page-header-actions {{- ' ' + params.classes if params.classes}}" {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>

  <div class="moj-page-header-actions__title">
    {{ params.title.html | safe }}
  </div>

  {% if params.items %}
    <div class="moj-page-header-actions__actions">
      {{mojMenu({
        buttonClasses: 'moj-page-header-actions__action',
        items: params.items
      })}}
    </div>
  {% endif %}

</div>