---
layout: layouts/example.njk
title: Identity bar with menu (example)
redirect_from: examples/identity-bar-menu
---

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{{ mojIdentityBar({
  title: {
    html: "<b>Jane Wolenksy</b> and <b>Simon Wolensky</b>"
  },
  menus: [
    {
      items: [
        {
          text: "Primary action",
          href: "#"
        }
      ]
    },
    {
      button: {
        classes: "govuk-button--secondary"
      },
      items: [
        {
          text: "Secondary action",
          href: "#"
        }
      ]
    }
  ]
}) }}
