@use "../../vendor/govuk-frontend" as *;

.moj-interruption-card {
  margin-bottom: govuk-spacing(3);
  border: $govuk-border-width solid transparent;
  background-color: govuk-colour("blue");
  @include govuk-responsive-padding(7, $adjustment: $govuk-border-width * -1);
}

.moj-interruption-card__content {
  max-width: 960px;
}

.moj-interruption-card__heading,
.moj-interruption-card__body {
  color: govuk-colour("white");
}

// If $govuk-global-styles is true, we need to override the color and size on elements
// within the body class directly
.moj-interruption-card__body > * {
  color: govuk-colour("white");
  @include govuk-font-size($size: 24);
}

.moj-interruption-card__body:last-child {
  margin-bottom: 0;
}

.moj-interruption-card__actions:last-child {
  margin-bottom: 0;

  .govuk-button:last-child,
  .govuk-link:last-child {
    margin-bottom: 0;
  }

  @include govuk-media-query($from: tablet) {
    .govuk-button,
    .govuk-link {
      margin-bottom: 0;
    }
  }
}
