.moj-interruption-card {
  background-color: govuk-colour("blue");
  margin-bottom: govuk-spacing(3);
  @include govuk-responsive-padding(7, $adjustment: $govuk-border-width*-1);
  border: $govuk-border-width solid transparent;
}

.moj-interruption-card__content {
  max-width: 960px;
}

.moj-interruption-card__heading,
.moj-interruption-card__body {
  color: govuk-colour("white");
}

.moj-interruption-card__body:last-child {
  margin-bottom: 0;
}

.moj-interruption-card__actions:last-child {
  margin-bottom: 0;

  .govuk-button:last-child,
  .govuk-link:last-child {
    margin-bottom: 0;
  }

  @include govuk-media-query($from: tablet) {
    .govuk-button,
    .govuk-link {
      margin-bottom: 0;
    }
  }
}
