{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Header
      </h1>

      <h2 class="govuk-heading-m">Without primary navigation</h2>

      {{ mojHeader({
        organisationLabel: {
          text: 'Organisation name',
          href: '#'
        },
        serviceLabel: {
          text: 'Service name',
          href: '#'
        },
        navigation: {
          label: 'Account navigation',
          items: [{
            text: 'Account name',
            href: '#',
            active: true
          }, {
            text: 'Sign out',
            href: '#'
          }]
        }

      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">With primary navigation</h2>

      {% call mojHeader({
        organisationLabel: {
          text: 'Organisation name',
          href: '#'
        },
        serviceLabel: {
          text: 'Service name',
          href: '#'
        },
        navigation: {
          label: 'Account navigation',
          items: [{
            text: 'Account name',
            href: '#',
            active: true
          }, {
            text: 'Sign out',
            href: '#'
          }]
        }

      }) %}


      {{ mojPrimaryNavigation({
        label: 'Primary navigation',
        items: [{
          text: 'Nav item 1',
          href: '#',
          active: true
        }, {
          text: 'Nav item 2',
          href: '#'
        }, {
          text: 'Nav item 3',
          href: '#'
        }]
      }) }}

      {% endcall %}

  </div>

</div>

{% endblock %}
