---
layout: layouts/example.njk
title: Button menu with GOV.UK button (example)
redirect_from: examples/button-menu-grouped
---

{%- from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

<div class="moj-button-group moj-button-group--inline">
  {{ govukButton({
    text: "Accept booking"
  }) }}

  {{ mojButtonMenu({
    button: {
      text: "Review booking",
      classes: "govuk-button--secondary"
    },
    items: [
      {
        text: "Cancel",
        href: "#"
      },
      {
        text: "Put on hold",
        href: "#"
      },
      {
        text: "Request more information",
        href: "#"
      }
    ]
  }) }}
</div>
