{%- from "govuk/components/button/macro.njk" import govukButton %}

<div class="moj-button-menu {{- ' ' + params.classes if params.classes }}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="moj-button-menu__wrapper">
    {%- for item in params.items %}
      {{ govukButton({
          element: item.element,
          classes: 'moj-button-menu__item ' + (item.classes if item.classes) + ' ' + (params.buttonClasses if params.buttonClasses),
          text: item.text,
          html: item.html,
          name: item.name,
          type: item.type,
          value: item.value,
          href: item.href,
          disabled: item.disabled,
          attributes: item.attributes,
          preventDoubleClick: items.preventDoubleClick
        }) }}
    {% endfor -%}
  </div>
</div>

