---
layout: layouts/example.njk
title: Notification badge (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MOJ-Figma-Kit?type=design&node-id=61-3019&mode=design
---

{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ mojSideNavigation({
      items: [
        { text: "Dashboard", active: true },
        { html: "Messages" + mojNotificationBadge({
            text: "5",
            visuallyHiddenText: "unread"
          })
        },
        { text: "Cases"}
      ]
    })}}
  </div>
</div>
