@forward "govuk-frontend/dist/govuk" with (
  $govuk-page-width: 1200px,
  $govuk-include-default-font-face: true,
  $govuk-global-styles: true
);

// Share config with MOJ Frontend
@forward "@ministryofjustice/frontend/moj/all";
