/* ==========================================================================
   #DENOTE
   ========================================================================== */

.moj-label__currency {
  @include govuk-font(19);
  background-color: govuk-colour("light-grey");
  position: absolute;
  margin: 2px 0 0 2px !important;
  padding: 5.5px 12px;
  border-right: 2px solid govuk-colour("black");

  &--error {
    background-color: $govuk-error-colour;
    border-right: 2px solid $govuk-error-colour;
    color: govuk-colour("white");
  }

  @include govuk-media-query($until: tablet) {
    padding: 8px 12px;
  }

}

.moj-input__currency {
  margin: 0;
  padding-left: 40px;
}