---
layout: layouts/example.njk
title: Alert (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5802&mode=design
---
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{{ mojAlert({
  type: "error",
  dismissible: false,
  text: "This case has been assigned to someone else."
}) }}