{% call govukInsetText({ classes: "govuk-!-margin-0 guidance-panel" }) %}
   <p>To apply for short-term accommodation (CAS2) for bail, the applicant must:</p>
   <h2 class="govuk-heading-s govuk-!-margin-0">Be:</h2>
   <ul class="govuk-list govuk-list--bullet">
     <li>18 years old or older</li>
     <li>able to live independently in shared accommodation
     </li>
   </ul>
   <h2 class="govuk-heading-s govuk-!-margin-0">Not:</h2>
   <ul class="govuk-list govuk-list--bullet">
     <li>be currently charged with, or have any past convictions or cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003</li>
     <li>have breached immigration law (other than overstaying an approved period of leave to enter or remain in the UK)</li>
     <li>have the 'no recourse to public funds' (NRPF) condition applied to their permission to enter or stay in the UK</li>
     <li>be assessed as at high or very high risk of serious harm on OASys (Offender Assessment System)</li>
  </ul>
{% endcall %}

