{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Primary navigation
      </h1>

      <h2 class="govuk-heading-m">Basic</h2>

      {{ mojPrimaryNavigation({
        label: 'Primary navigation',
        items: [{
          text: 'Nav item 1',
          href: '#1',
          active: true
        }, {
          text: 'Nav item 2',
          href: '#2'
        }, {
          text: 'Nav item 3',
          href: '#3'
        }]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Inline search</h2>

      {%- set inlineSearchHtml %}
        {{ mojSearch({
          classes: 'moj-search--inline',
          input: {
            id: 'search-1',
            name: 'search-1'
          },
          label: {
            text: 'Search',
            classes: 'govuk-visually-hidden'
          },
          button: {
            text: 'Search'
          }
        }) }}
      {% endset -%}

      {{ mojPrimaryNavigation({
        label: 'Primary navigation',
        items: [{
          text: 'Nav item 1',
          href: '#1',
          active: true
        }, {
          text: 'Nav item 2',
          href: '#2'
        }, {
          text: 'Nav item 3',
          href: '#3'
        }],
        searchHtml: inlineSearchHtml
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Toggle search</h2>

      {%- set toggleSearchHtml %}
      <div class="moj-search-toggle" data-module="moj-search-toggle" data-moj-search-toggle-text="Find case">
        <div class="moj-search-toggle__toggle"></div>
        <div class="moj-search-toggle__search">
          {{ mojSearch({
            classes: 'moj-search--toggle moj-js-hidden',
            input: {
              id: 'search2',
              name: 'search2'
            },
            label: {
              classes: 'govuk-visually-hidden',
              text: 'Search'
            },
            hint: {
              text: 'Enter case number, for example 123456'
            },
            button: {
              text: 'Search'
            }
          }) }}
        </div>
        </div>
      {% endset -%}

      {{ mojPrimaryNavigation({
        label: 'Primary navigation',
        items: [{
          text: 'Nav item 1',
          href: '#1',
          active: true
        }, {
          text: 'Nav item 2',
          href: '#2'
        }, {
          text: 'Nav item 3',
          href: '#3'
        }],
        searchHtml: toggleSearchHtml
      }) }}

    </div>

  </div>

{% endblock %}
