@use "../../vendor/govuk-frontend" as *;

/* ==========================================================================
   #PASSWORD SHOW/HIDE
   ========================================================================== */

.moj-password-reveal {
  &__wrapper {
    display: flex;
  }

  &__input {
    margin-right: govuk-spacing(1);
  }

  &__button {
    width: 80px;
  }
}
