---
layout: layouts/example.njk
title: Link Button (example)
arguments: link-button
---

{%- from "moj/components/link-button/macro.njk" import mojLinkButton -%}

{% set csrfToken = "ABC123" %}
{% set baseUrl = "http://localhost" %}

{{ mojLinkButton(csrfToken, {
  text: "Activate",
  action: baseUrl + "/activate",
  id: "activate-button"
})}}
