---
layout: layouts/example.njk
title: Timeline (example)
redirect_from: examples/timeline
---

{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

{%- set confirmationHtml %}
  <p>The probation practitioner's application for life skills training needs confirming by 28 June 2026.<a class="govuk-link" href="#">
  View application
  <span class="govuk-visually-hidden">
    for life skills training submitted on 28 May 2026
  </span>
</a></p>
{% endset -%}

{%- set detailsHtml %}
<details class="govuk-details govuk-!-margin-bottom-0">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Application details
      <span class="govuk-visually-hidden">
    for application MOJ-1234-5678
  </span>
    </span>
  </summary>
  <div class="govuk-details__text">
    This is an application for life skills training at Queensbridge centre, Gloucester. The course lasts 12 weeks. <a class="govuk-link" href="#">
  View application
  <span class="govuk-visually-hidden">
    for life skills training submitted on 28 May 2026
  </span>
</a>
  </div>
</details>
{% endset -%}


{{ mojTimeline({
  items: [
    {
      label: {
        text: "Application needs confirmation"
      },
      html: confirmationHtml,
      datetime: {
        timestamp: "2026-06-14T14:01:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Joe Bloggs"
      }
    },
    {
      label: {
        text:  "Application review in progress"
      },
      text: "The application is being reviewed by a case worker.",
      datetime: {
        timestamp: "2019-06-07T12:32:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Caseworker 1"
      }
    },
    {
      label: {
        text:  "Application received"
      },
      text: "Your application has been received – reference MOJ-1234-5678",
      datetime: {
        timestamp: "2026-06-06T09:12:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Caseworker 1"
      }
    },
    {
      label: {
        text:  "Application submitted: life skills"
      },
      html: detailsHtml,
      datetime: {
        timestamp: "2026-05-28T10:45:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Joe Bloggs"
      }
    },
    {
      label: {
        text:  "Documents uploaded"
      },
      html: documentsHtml,
      datetime: {
        timestamp: "2026-05-28T10:15:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Joe Bloggs"
      }
    },
    {
      label: {
        text:  "Application started"
      },
      html: listHtml,
      datetime: {
        timestamp: "2026-05-21T13:15:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Joe Bloggs"
      }
    }
  ]
}) }}
