{%- from "moj/components/add-another/macro.njk" import mojAddAnother -%}
{%- from "moj/components/add-another/macro.njk" import mojAddAnotherItem -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{% set itemHtml -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-grid-column-three-quarters-from-desktop">
    {{ govukInput({
      id: "expense[0][description]",
      name: "expense[0][description]",
      label: {
        html: "Description <span class=\"govuk-visually-hidden moj-add-another__label-suffix\">for expense
      1</span>"
      },
      attributes: {
        "data-name": "expense[%index%][description]",
        "data-id": "expense[%index%][description]",
        "data-label": "Description"
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-third govuk-grid-column-one-quarter-from-desktop">
    {{ govukInput({
      id: "expense[0][amount]",
      name: "expense[0][amount]",
      label: {
        html: "Amount<span class=\"govuk-visually-hidden moj-add-another__label-suffix\">for expense 1</span><span class=\"govuk-visually-hidden\">(in pounds)</span>"
      },
      prefix: {
        text: "£",
        attributes: {
          "aria-hidden": "true"
        }
      },
      attributes: {
        "data-name": "expense[%index%][amount]",
        "data-id": "expense[%index%][amount]",
        "data-label": "amount"
      },
      classes: ""
    }) }}
    </div>
    </div>
{% endset %}

<h1 class="govuk-heading-m" id="expense-title">Add expenses</h1>
<p class="govuk-hint" id="expense-hint">Provide details of your expenditure.</p>
<form method="post">
  {{ mojAddAnother({
    id: "add-expense",
    itemLabel: "Expense",
    layout: 'inline',
    items: [
      {
        fieldset: {
          legend: {
            text: "Expense 1"
          },
          html: itemHtml
        }
      }
    ]
  }) }}


            {{govukInput({
              id: "expenses-total",
              name: "expenses-total",
              classes: "govuk-input--width-10",
              label: {
                text: "Total expenditure"
              },
                    prefix: {
        text: "£",
        attributes: {
          "aria-hidden": "true",
          "readonly": "true"
        }
      }
            })}}

</form>
