/* ==========================================================================
   #MEASUREMENTS
   ========================================================================== */

// Width of main container
$moj-page-width: 960px !default;


// Width of gutter between grid columns
$moj-gutter: 30px !default;


// Width of half the gutter between grid columns
$moj-gutter-half: $moj-gutter / 2;
