---
layout: layouts/example.njk
title: Date Picker Excluded Dates (example)
figma_link: https://www.figma.com/design/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?node-id=792-861&t=6DfPOX7RAnjrVE0j-0
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{{ mojDatePicker({
  id: "date",
  name: "date",
  label: {
      text: "Date"
  },
  hint: {
    text: "For example, 17/5/2024."
  },
  value: "10/04/2025",
  minDate: "01/04/2025",
  maxDate: "30/04/2025",
  excludedDates: "02/04/2025 18/04/2025 21/04/2025",
  excludedDays: "saturday sunday"
}) }}
