{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Banner
      </h1>

      {% set bannerHtml %}
        <h2 class="govuk-heading-m">The title of the message goes here</h2>
        <p><a href="#" class="govuk-link govuk-link--no-visited-state">Dismiss</a></p>
      {% endset %}

      <h2 class="govuk-heading-m">Custom HTML</h2>

      {{ mojBanner({
        html: bannerHtml
      }) }}

      <h2 class="govuk-heading-m">Custom HTML with icon</h2>

      {{ mojBanner({
        type: 'information',
        html: bannerHtml
      }) }}

      <h2 class="govuk-heading-m">Success</h2>

      {{ mojBanner({
        type: 'success',
        text: 'You have successfully added 1 question.',
        iconFallbackText: 'Success'
      }) }}

      <h2 class="govuk-heading-m">Warning</h2>

      {{ mojBanner({
        type: 'warning',
        text: 'Questions weren’t sent - try again.',
        iconFallbackText: 'Warning'
      }) }}

      <h2 class="govuk-heading-m">Information</h2>

      {{ mojBanner({
        type: 'information',
        text: 'Select text to add comment.',
        iconFallbackText: 'information'
      }) }}

    </div>

  </div>

{% endblock %}
