---
layout: layouts/example.njk
title: Pagination (example)
arguments: pagination
---

{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{{ mojPagination({
  items: [{
    text: "1",
    href: "/page=1"
  }, {
    text: "2",
    href: "/page=2",
    selected: true
  }, {
    text: "3",
    href: "/page=3"
  }, {
    type: "dots"
  }, {
    text: "5",
    href: "/page=5"
  }],
  results: {
    count: 30,
    from: 11,
    to: 20,
    text: "results"
  },
  previous: {
    text: "Previous",
    href: ""
  },
  next: {
    text: "Next",
    href: ""
  }
}) }}
