{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Rich text editor
      </h1>

      <form>
          {{ govukInput({
            id: 'subject',
            name: 'subject',
            label: {
              text: 'Subject',
              classes: 'govuk-!-font-weight-bold'
            }
          }) }}

          {{ govukTextarea({
            id: 'body',
            name: 'body',
            label: {
              text: 'Message',
              classes: 'govuk-!-font-weight-bold'
            },
            attributes: {
              'data-module': 'moj-rich-text-editor',
              'data-rich-text-editor-toolbar': 'bold,numbers'
            }
          }) }}

          {{ govukButton({
            text: 'Send message'
          }) }}
      </form>

    </div>

  </div>

{% endblock %}
