{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Ticket Panel
      </h1>

      {{ mojTicketPanel({
        ariaLabel: 'Sub navigation 1',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          ariaLabel: 'Section 1'
        }]
      }) }}

      {{ mojTicketPanel({
        ariaLabel: 'Sub navigation 2',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          ariaLabel: 'Section 2',
          colour: 'red'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          ariaLabel: 'Section 3'
        }]
      }) }}

      {{ mojTicketPanel({
        ariaLabel: 'Sub navigation 3',
        inline: 'true',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'red',
          ariaLabel: 'Section 4'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          ariaLabel: 'Section 5'
        }]
      }) }}

      {{ mojTicketPanel({
        ariaLabel: 'Sub navigation 4',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'yellow',
          ariaLabel: 'Section 6'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'green',
          ariaLabel: 'Section 7'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'purple',
          ariaLabel: 'Section 8'
        }]
      }) }}

      {{ mojTicketPanel({
        ariaLabel: 'Sub navigation 5',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'red',
          ariaLabel: 'Section 9'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'orange',
          ariaLabel: 'Section 10'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          ariaLabel: 'Section 11'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          ariaLabel: 'Section 12'
        }]
      }) }}

    </div>

  </div>


{% endblock %}
