{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span> Ticket Panel
      </h1>

      {{ mojTicketPanel({
        label: 'Sub navigation',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>'
        }]
      }) }}

      {{ mojTicketPanel({
        label: 'Sub navigation',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'red'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>'
        }]
      }) }}

      {{ mojTicketPanel({
        label: 'Sub navigation',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'yellow'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'green'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'purple'
        }]
      }) }}

      {{ mojTicketPanel({
        label: 'Sub navigation',
        items: [{
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'red'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>',
          colour: 'orange'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>'
        }, {
          html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">This is a heading 2</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
            Save and continue
          </a>'
        }]
      }) }}

    </div>

  </div>


{% endblock %}
