{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

      <!-- <h1 class="govuk-heading-l">MOJ Frontend</h1> -->

      {{ govukBackLink({
        text: "Back",
        href: "../"
      }) }}

      <h1 class="govuk-heading-xl" tabindex="-1">
        <span class="govuk-caption-xl">Components</span> Notification badge
      </h1>

      {{ mojNotificationBadge({
        text: "1"
      }) }}

      {{ mojNotificationBadge({
        text: "10"
      }) }}

      {{ mojNotificationBadge({
        text: "100"
      }) }}

      {{ mojNotificationBadge({
        text: "1,000"
      }) }}

      {{ mojNotificationBadge({
        text: "10,000+"
      }) }}

  </div>

{% endblock %}
