<footer class="probation-common-footer govuk-!-display-none-print">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="probation-common-footer__support-links">
          <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="probation-common-footer__inline-list">
            <li class="probation-common-footer__inline-list-item">
              <a class="probation-common-footer__link" href="#">Accessibility</a>
            </li>
            <li class="probation-common-footer__inline-list-item">
              <a class="probation-common-footer__link" href="#">Cookies policy</a>
            </li>
            <li class="probation-common-footer__inline-list-item">
              <a class="probation-common-footer__link" href="#">Privacy policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>