---
layout: layouts/example.njk
title: Information banner (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5802&mode=design
---
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
  type: 'information',
  text: 'Select text to add comment.',
  iconFallbackText: 'information'
}) }}
