{% from "govuk/components/details/macro.njk" import govukDetails %}
<div class="nhsuk-do-dont-list">
	<h2 class="nhsuk-do-dont-list__label govuk-!-font-size-19">Add any unspent convictions that meet one or more of the following criteria:</h2>
	<ul class="nhsuk-list nhsuk-list--tick">
		<li>
			
				
			
			they are relevant to the charges the applicant is being held for
		</li>
		<li>
			
				
			
			they relate to the following categories:
			<ul>
				<li>arson</li>
				<li>domestic abuse</li>
				<li>drugs</li>
				<li>hate-related attitudes</li>
				<li>stalking and harassment</li>
				<li>violence</li>
				<li>weapons and firearms</li>
			</ul>
		</li>
		<li>
			
				
			
			they might raise concerns towards other adults and children
		</li>
		<li>
			
				
			
			where the applicant is currently serving a sentence
		</li>
	</ul>
</div>
<div class="nhsuk-do-dont-list">
	<h2 class="nhsuk-do-dont-list__label govuk-!-font-size-19">Do not add any:</h2>
	<ul class="nhsuk-list nhsuk-list--cross">
		<li>
			
				
				
			
			<span class="govuk-!-font-weight-bold">spent</span> convictions
		</li>
		<li>
			
				
				
			
			unspent convictions that do not meet any of the criteria listed
		</li>
	</ul>
	{{ govukDetails({ summaryText: 'How to check if a conviction is spent', html: '
	<p>
		You can
		<a class="govuk-link" href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/check-your-conviction-caution" target="_blank">check if the applicant's convictions or cautions are spent (opens in a new tab).</a>
	</p>
	', classes: "govuk-!-margin-top-4" }) }}
</div>
