@use "../../vendor/govuk-frontend" as *;

/* ==========================================================================
   #ADD ANOTHER
   ========================================================================== */

.moj-add-another {
  margin-bottom: govuk-spacing(8);

  &__item {
    position: relative;
    margin: 0;
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(4);
    padding: 0;
    border-bottom: 2px solid $govuk-border-colour;

    &:focus {
      //@include govuk-focused-box;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__add-button {
    display: block;
  }

  &__remove-button {
    color: #ca3535; // govuk 6 primary/error red

    &:hover {
      color: #982828; // red shade 25
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}

.moj-add-another--inline .moj-add-another__item {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.moj-add-another__title:focus {
  outline: none;
  color: govuk-functional-colour(focus-text);
  background-color: govuk-functional-colour(focus);
  box-shadow:
    0 -2px govuk-functional-colour(focus),
    0 4px govuk-functional-colour(focus-text);
}
