@use "../../vendor/govuk-frontend" as *;

/* ==========================================================================
   #ADD ANOTHER
   ========================================================================== */

.moj-add-another {
  &__items > fieldset {
    position: relative;
    margin: 0;
    margin-top: govuk-spacing(6);
    padding: 0;

    &:focus {
      //@include govuk-focused-box;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__title {
    width: 100%;
    padding: 4px 100px 4px 0;
    float: left;

    & + .govuk-form-group {
      clear: left;
    }
  }

  &__remove-button {
  }

  &__add-button {
    display: block;
  }
}

.moj-add-another__heading:focus {
  outline: none;
  color: govuk-functional-colour(focus-text);
  background-color: govuk-functional-colour(focus);
  box-shadow:
    0 -2px govuk-functional-colour(focus),
    0 4px govuk-functional-colour(focus-text);
}
