// Custom styles for 'Impact of the Design System' page

@use "../vendor/govuk-frontend" as *;

.headline-container {

  @include govuk-responsive-margin(6, "bottom");

  & .lead {
    @include govuk-font($size: 24, $weight: bold);
    margin-top: 0;
    margin-bottom: 0;
  }

  & .big-number {
    @include govuk-font($size: 80, $weight: bold);
    margin-top: 0;
  }
  
  & .medium-number {
    @include govuk-font($size: 48, $weight: bold);
    margin-top: 0;

    & .out-of {
      @include govuk-font($size: 24, $weight: bold);
      // color: $govuk-secondary-text-colour;
    }

  }

}

blockquote {
  
  @include govuk-font($size: 24, $weight: normal);
  @include govuk-responsive-margin(7, "top");
  margin-left: govuk-spacing(9);

  &:before {
    content: open-quote;
    font-size: 4rem;
    line-height: 0;
    vertical-align: -1.25rem;
    margin-left: -1.75rem;
  }

  &:after {
    content: close-quote;
  }
}

.comma-separated {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;

  & li {
    display: inline;
  }

  & li::after {
    content: ", ";
  }

  & li:last-child::after {
    content: "";
  }
}

.callout-card {
  padding: govuk-spacing(5);
  padding-left: govuk-spacing(5) + 4px;
  background-color: govuk-colour("white");
  border-left: 4px solid $govuk-border-colour;
  height: 100%;
}

.footnote {
  @include govuk-font($size: 14, $weight: normal);
}

h2 {
  @include govuk-responsive-margin(5, "bottom");
}