.moj-button-menu {
  display: inline-block;
  position: relative;
}

.moj-button-menu__toggle-button {
  display: inline;
}

.moj-button-menu__toggle-button span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.moj-button-menu__toggle-button svg {
  transform: rotate(180deg);
  margin-top: 5%;
}

.moj-button-menu__toggle-button[aria-expanded="true"] svg {
  transform: rotate(0deg);
}

.moj-button-menu__wrapper {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 200px;
  top: 43px; //38px button height, 2px shadow, 3px gap
  z-index: 10;

  &--right {
    right: 0;
  }
}

/* Menu items with no JS */
.moj-button-menu__item {
  display: inline-block;
  margin-right: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);
  width: auto; // Override GDS’s 100% width
  &:last-child {
    margin-right: 0;
  }
}

/* Menu items with JS */
.moj-button-menu li > .moj-button-menu__item {
  @include govuk-font(19);
  background-color: govuk-colour("light-grey");
  border: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: 0;
  padding: govuk-spacing(2);
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;

  &:link,
  &:visited {
    text-decoration: none;
    color: govuk-colour("black");
  }

  &:hover {
    background-color: govuk-colour("mid-grey");
  }

  &:focus {
    outline: 3px solid govuk-colour("yellow");
    background-color: govuk-colour("mid-grey");
    outline-offset: 0;
    position: relative;
    z-index: 10;
  }
}
