{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/macros/attributes.njk" import govukAttributes %}

{#- Set classes for this component #}
{%- set classNames = "moj-button-menu" -%}
{%- set itemClassNames = "moj-button-menu__item govuk-button--secondary" %}

{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

{%- set buttonAttributes = {
  "data-button-text": {
    value: params.button.text, 
    optional: true
    },
  "data-button-classes": {
    value: params.button.classes,
    optional: true 
  },
  "data-align-menu": {
    value: params.alignMenu,
    optional: true
  }
}
%}

<div class="{{- classNames -}}" data-module="moj-button-menu" {{- govukAttributes(params.attributes) -}}  {{- govukAttributes(buttonAttributes) -}}>
    {%- for item in params.items %}
      {%- if item.classes %}
      {% set itemClassNames = itemClassNames + " " + item.classes %}
  {% endif %}
  {{ govukButton({
          element: item.element,
          classes: itemClassNames,
          text: item.text,
          html: item.html,
          name: item.name,
          type: item.type,
          value: item.value,
          href: item.href,
          disabled: item.disabled,
          attributes: item.attributes,
          preventDoubleClick: items.preventDoubleClick
          }) }}
    {% endfor -%}
</div>

