{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/macros/attributes.njk" import govukAttributes %}

{#- Set classes for this component #}
{%- set classNames = "moj-button-menu" -%}

{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

{%- set buttonAttributes = {
  "data-button-text": {
    value: params.button.text, 
    optional: false
    },
  "data-button-classes": {
    value: params.button.classes
  },
  "data-align-menu": {
    value: params.alignMenu | default("left")
  }
}
%}

<div class="{{- classNames -}}" data-module="moj-button-menu" {{- govukAttributes(params.attributes) -}}  {{- govukAttributes(buttonAttributes) -}}>
    {%- for item in params.items %}
      {{ govukButton({
          element: item.element,
          classes: 'moj-button-menu__item ' + (item.classes if item.classes),
          text: item.text,
          html: item.html,
          name: item.name,
          type: item.type,
          value: item.value,
          href: item.href,
          disabled: item.disabled,
          attributes: item.attributes,
          preventDoubleClick: items.preventDoubleClick
          }) }}
    {% endfor -%}
</div>

