{%- from "govuk/components/input/macro.njk" import govukInput %}
{%- from "govuk/components/button/macro.njk" import govukButton %}

<div class="moj-search {{- ' ' + params.classes if params.classes}}">

  {%- if params.hint %}
    {% set hintClasses = 'moj-search__hint ' + (params.hint.classes if params.hint.classes) %}
    {% set hintText = params.hint.text %}
    {% set hint = { classes: hintClasses, text: hintText } %}
  {% endif -%}

  {%- if params.method %}
    {% set method = params.method %}
  {% endif -%}

  <form action="{{ params.action }}" method="{{ params.method | default('get') }}">
    {{ govukInput({
      classes: 'moj-search__input ' + (params.input.classes if params.input.classes),
      label: {
        classes: 'moj-search__label ' + (params.label.classes if params.label.classes),
        text: params.label.text
      },
      hint: hint,
      id: params.input.id,
      name: params.input.name,
      type: 'search'
    }) }}

    {{ govukButton({
      classes: 'moj-search__button ' + (params.button.classes if params.button.classes),
      text: params.button.text
    }) }}
  </form>
</div>
