---
layout: layouts/example.njk
title: Rich text editor with custom formatting options (example)
---

{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

{{ govukTextarea({
  id: "body",
  name: "body",
  attributes: {
    "data-module": "moj-rich-text-editor",
    "data-moj-rich-text-editor-toolbar": "bold,italic,underline,bullets,numbers"
  },
  label: {
    text: "Message",
    classes: "govuk-!-font-weight-bold"
  }
}) }}
