@use "../../settings/colours" as *;
@use "../../vendor/govuk-frontend" as *;

.moj-datepicker {
  position: relative;
  @include govuk-font(16);
}

.moj-datepicker__dialog {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  min-width: 280px;
  padding: govuk-spacing(4);
  transition:
    background-color 0.2s,
    outline-color 0.2s;
  outline: 2px solid $govuk-text-colour;
  outline-offset: -2px;
  background-color: govuk-colour("white");
}

.moj-datepicker__dialog--open {
  display: block;
}

.moj-datepicker__dialog-header {
  display: flex;
  position: relative;
  margin-bottom: govuk-spacing(2);
  align-items: center;
  justify-content: space-between;
}

.moj-datepicker__dialog-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  @include govuk-font(16);
}

.moj-datepicker__dialog-navbuttons {
  display: flex;
  align-items: center;
}

.moj-datepicker__calendar {
  margin-bottom: govuk-spacing(4);
  border-collapse: collapse;

  tbody:focus-within {
    outline: 2px solid $govuk-focus-colour;
  }

  td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  th {
    color: $govuk-text-colour;
    font-weight: bold;
    @include govuk-font(16);
  }
}

.moj-datepicker__dialog > .govuk-button-group {
  margin-bottom: 0;

  > * {
    margin-bottom: 0;
  }
}

.moj-datepicker__button {
  position: relative;
  width: 44px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  color: $govuk-text-colour;
  background-color: transparent;
  @include govuk-font(16);

  @media (forced-colors: active) {
    // Don't show the bottom bar in forced-color modes as it blocks the outline
    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: transparent;
  }

  &[aria-disabled="true"],
  &[aria-disabled="true"]:hover {
    color: $govuk-text-colour;
    background-color: govuk-colour("light-grey");
    text-decoration: line-through;
    cursor: not-allowed;
  }

  &:hover {
    color: $govuk-text-colour;
    background-color: $moj-button-menu-color;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    cursor: pointer;
  }

  &:focus {
    outline-color: transparent;
    color: $govuk-text-colour;
    background-color: $govuk-focus-colour;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &::after {
      background-color: $govuk-text-colour;
    }
  }

  &:focus:hover {
    outline-color: $govuk-focus-colour;
    background-color: $moj-button-menu-color;

    &::after {
      background-color: transparent;
    }
  }

  &--current:not(:focus) {
    outline-color: $govuk-link-colour;
    color: govuk-colour("white");
    background-color: $govuk-link-colour;

    &::after {
      background-color: $govuk-link-colour;
    }
  }

  &--current[tabindex="-1"] {
    outline-color: transparent;
    color: currentcolor;
    background: transparent;

    &::after {
      background-color: transparent;
    }
  }

  &--today {
    border: 2px solid $govuk-text-colour;
  }

  &--selected:not(:focus) {
    color: govuk-colour("white");
    background-color: $govuk-link-colour;

    &::after {
      background-color: $govuk-link-colour;
    }

    &:hover {
      outline-color: $govuk-link-colour;
      color: $govuk-text-colour;
      background-color: $moj-button-menu-color;

      &::after {
        background-color: transparent;
      }
    }
  }
}

/*
 Default input with to .govuk-input--width-10 (10 chars)
 Allow that to be overriden by the input width modifiers or global width overrides.
 Width classes less than 10ch not included as that is narrower than a date.
*/
// stylelint-disable selector-no-qualifying-type
.moj-datepicker input {
  max-width: 11.5em; // govuk-input--width-10

  &.govuk-input--width-30 {
    max-width: 29.5em;
  }

  &.govuk-input--width-20 {
    max-width: 20.5em;
  }

  &.govuk-\!-width-full {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;
  }

  &.govuk-\!-width-three-quarters {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 75% !important;
    }
  }

  &.govuk-\!-width-two-thirds {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 66.66% !important;
    }
  }

  &.govuk-\!-width-one-half {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 50% !important;
    }
  }

  &.govuk-\!-width-one-third {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 33.33% !important;
    }
  }

  &.govuk-\!-width-one-quarter {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 25% !important;
    }
  }
}
// stylelint-enable selector-no-qualifying-type

.moj-datepicker__wrapper {
  position: relative;
}

@media (min-width: 768px) {
  .moj-datepicker__dialog {
    width: auto;
  }
}

.moj-datepicker__toggle {
  height: 40px;
  padding-top: 6px;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  outline: 3px solid rgba(0, 0, 0, 0);
  outline-offset: -3px;
  color: govuk-colour("white");
  background-color: $govuk-text-colour;
  cursor: pointer;

  &:focus {
    border-bottom: 4px solid $govuk-text-colour;
    color: $govuk-text-colour;
    background-color: $govuk-focus-colour;
  }

  &:hover {
    border-bottom: 4px solid $moj-button-menu-color;
    color: $govuk-text-colour;
    background-color: $moj-button-menu-color;
  }

  &:focus:hover {
    border-bottom: 4px solid $govuk-text-colour;
    color: $govuk-text-colour;
    background-color: $moj-button-menu-color;
  }
}
