{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/macros/attributes.njk" import govukAttributes %}

{% set classNames = "moj-js-datepicker-input " %}

{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

{% set attributes = {
  "data-module": 'moj-date-picker',
  "data-mindate": {
    value: params.mindate,
    optional: true
  },
  "data-maxdate": {
    value: params.maxdate,
    optional: true
  },
  "data-disableddates": {
    value: params.disabledDates,
    optional: true
  },
  "data-disableddays": {
    value: params.disabledDays,
    optional: true
  },
  "data-leadingzeros": {
    value: params.leadingZeros,
    optional: true
  },
  "data-weekstartday": {
    value: params.weekStartDay,
    optional: true
  }
} %}

<div class="moj-datepicker" {{ govukAttributes(attributes) }}>
    {{ govukInput({
      classes: classNames,
      id: params.id,
      name: params.name,
      value: params.value,
      autocomplete: "off",
      formGroup: params.formGroup,
      label: params.label,
      hint: params.hint,        
      errorMessage: params.errorMessage
    }) }}
</div>
