{% extends "layouts/base.html" %}

{% block body %}
  <h1 class="govuk-heading-l">MOJ Frontend</h1>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/components/currency-input">Currency input</a></li>
    <li><a href="/components/form-validator">Form validator</a></li>
    <li><a href="/components/organisation-switcher">Organisation switcher</a></li>
    <li><a href="/components/pagination">Pagination</a></li>
    <li><a href="/components/primary-navigation">Primary navigation</a></li>
    <li><a href="/components/progress-bar">Progress bar</a></li>
    <li><a href="/components/search">Search</a></li>
    <li><a href="/components/sortable-table">Sortable table</a></li>
    <li><a href="/components/sub-navigation">Sub-navigation</a></li>
  </ul>
{% endblock %}
