/* ==========================================================================
   #PROGRESS BAR
   ========================================================================== */

.moj-progress-bar {
  margin-bottom: govuk-spacing(7);
}

.moj-progress-bar__list {
  font-size: 0; // Hide white space between elements
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: justify;
  vertical-align: top;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  &::before {
    border-top: 6px solid govuk-colour("green");
    content: "";
    left: 0;
    position: absolute;
    top: 13px;
    width: 100%;
  }

}

.moj-progress-bar__item {
  @include govuk-font(19);
  display: inline-block;
  max-width: 20%;
  position: relative;
  text-align: center;
  vertical-align: top;

  &:first-child,
  &:last-child {
    &::before {
      border-top: 6px solid govuk-colour("white");
      content: "";
      position: absolute;
      top: 13px; left: 0;
      width: 50%;
    }

  }

  &:first-child {

    &::before {
      left: 0;
    }

  }

  &:last-child {

    &::before {
      left: auto;
      right: 0;
    }

  }

  &[aria-current=step] { // https://tink.uk/using-the-aria-current-attribute
    @include govuk-font($size: 19, $weight: "bold");
  }

}

.moj-progress-bar__icon {
  position: relative;
  background-color: govuk-colour("white");
  border: 6px solid govuk-colour("green");
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
}

.moj-progress-bar__icon--complete {
  background-color: govuk-colour("green");
  background-image: url(#{$moj-images-path}icon-progress-tick.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.moj-progress-bar__label {
  @include govuk-font(16);
  display: block;
  font-weight: inherit;
  margin-top: govuk-spacing(3);
  position: relative;
  word-wrap: break-word; // Just in case
}
