{% from "govuk/components/details/macro.njk" import govukDetails %}

<!--
Arguments to be passed:
- type: {string} Variable from layout. Example values: "component", "page", "pattern", "archive".
- status: {string} Status of the item. Accepted values: "Official", "To be reviewed", "Experimental", "Archived".
- statusData: {object} Status data object (by status) from `_data/statusInfo.json` file.
- statusDate: {string} Date of creation (e.g., "Oct 2025").
- creatorName: {string} Name of the creator (e.g., "John Doe").
- creatorTeam: {string} Team responsible for the item (e.g., "MoJ").
-->

  {% if status %}
    {% set statusAttribution -%}
      {%- if status == "Experimental" %}
        by {{ creatorName | default("someone") }} in {{ creatorTeam | default("the community") }}
      {%- endif %}
      {%- if statusDate %}
        in {{ statusDate }}
      {%- endif %}.
    {%- endset %}

    {% set linkText -%}
      {{ statusData.link
        | replace('Components', type | capitalize + 's')
        | replace('components', type | lower + 's')
        | replace('Component', type | capitalize)
        | replace('component', type | lower) }}
    {%- endset %}

    {% set linkHtml -%}
      {{ statusData.linkContent
        | replace('Components', type | capitalize + 's')
        | replace('components', type | lower + 's')
        | replace('Component', type | capitalize)
        | replace('component', type | lower) }}
      <a href="/design-system-statuses">Read about all the Design System statuses</a>.
    {%- endset %}

    <p class="app-status-message govuk-!-margin-bottom-2">
      {{ statusData.statusMessage }} {{ statusAttribution }}
    </p>

    {{ govukDetails({
      summaryText: linkText,
      html: linkHtml,
      classes: "govuk-!-margin-bottom-8"
    }) }}
  {% endif %}
