{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set statusAttribution -%}
  {%- if params.status == "Experimental" %}
    {%- if params.contributorTeam %}
      by {{ params.contributorName | default("someone") }} in ‘{{ params.contributorTeam }}’
    {%- elif params.contributorName %}
      by {{ contributorName  }}
    {% endif %}
  {% endif %}
  {%- if params.statusDate %}
    in {{ params.statusDate }}
  {%- endif %}.
{%- endset %}

{% set typeSingular = params.type -%}
{% set typePlural = params.type + "s" -%}

{% set linkText -%}
  {{ params.statusData.link | renderNunjucksString({
    types: typePlural,
    type: typeSingular
  }) | upperFirst }}
{%- endset %}

{% set linkHtml -%}
{{ params.statusData.linkContent | renderNunjucksString({
    types: typePlural,
    type: typeSingular
  }) | upperFirst }}
  <a href="/design-system-statuses">Read about all the Design System statuses</a>.
{%- endset %}

<p class="app-status-message govuk-!-margin-bottom-2">
  {{ params.statusData.statusMessage }} {{ statusAttribution }}
</p>

{{ govukDetails({
  summaryText: linkText,
  html: linkHtml,
  classes: "govuk-!-margin-bottom-0"
}) }}
