---
layout: layouts/example.njk
title: Alert (example)
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5802&mode=design
---
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{{ mojAlert({
  variant: "information",
  title: "Information for you",
  text: "Content that informs you of a thing."
  }) }}

{{ mojAlert({
  variant: "success",
  title: "it happened",
  role: "alert",
  text: "That thing just successfully occurred."
}) }}

{{ mojAlert({
  variant: "warning",
  text: "You should be aware of this thing."
}) }}

{{ mojAlert({
  variant: "error",
  text: "Bad things happened."
}) }}

{{ mojAlert({
  variant: "information",
  text: "Content that informs you of a thing. It really is so very informative, that's why it needs so much content and is really, exceedingly verbose."
  })
}}

<h2>With headings</h2>

{{ mojAlert({
 variant: "information",
  title: "You might like to know",
  showTitleAsHeading: true,
  text: "Content that informs you of a thing."
}) }}

{{ mojAlert({
 variant: "success",
  title: "Woohoo!",
  showTitleAsHeading: true,
  text: "That thing just successfully occurred."
}) }}


{{ mojAlert({
  variant: "warning",
  title: "Something's not quite right",
  showTitleAsHeading: true,
  text: "You should be aware of this thing."
}) }}

{{ mojAlert({
variant: "error",
title: "Woah, hold up!",
  showTitleAsHeading: true,
text: "Bad things happened."
}) }}

<h3>With headings level 3</h3>

{{ mojAlert({
 variant: "information",
 title: "You might like to know",
 showTitleAsHeading: true,
 headingTag: "h3",
  text: "Content that informs you of a thing."
}) }}

<h3>Attempt to pass just a heading</h3>

{{ mojAlert({
  variant: "information",
  title: "This contains information",
  dismissible: true
  })
}}

<h3>Attempt to use h1</h3>

{{ mojAlert({
  variant: "information",
  title: "This contains information",
  headingTag: "h1",
  showTitleAsHeading: true,
  dismissible: true,
  text: "Content that informs you of a thing. It really is so very informative, that's why it needs so much content and is really, exceedingly verbose."
  })
}}

<h2>Dismissible</h2>

<h3>Dismissible to boolean `true`</h3>
{{ mojAlert({
  variant: "information",
  dismissible: true,
  text: "Content that informs you of a thing."
}) }}

<h3>Dismissible to string "yes"</h3>
{{ mojAlert({
variant: "success",
dismissible: "yes",
  text: "That thing just successfully occurred."
}) }}

<h3>Dismissible to string "false"</h3>
{{ mojAlert({
  variant: "warning",
  dismissible: "false",
  text: "You should be aware of this thing."
}) }}

<h3>Dismissible to boolean `false`</h3>
{{ mojAlert({
  variant: "error",
  dismissible: false,
  text: "Bad things happened."
}) }}

{{ mojAlert({
  variant: "information",
  dismissible: true,
  text: "Content that informs you of a thing. It really is so very informative, that's why it needs so much content and is really, exceedingly verbose."
  })
}}

{{ mojAlert({
  variant: "information",
  title: "This contains information",
  showTitleAsHeading: true,
  dismissible: true,
  text: "Content that informs you of a thing. It really is so very informative, that's why it needs so much content and is really, exceedingly verbose."
  })
}}


<h2>With links</h2>

{{ mojAlert({
 variant: "information",
  title: "You might like to know",
  dismissible: true,
  html: 'Content that informs you of a thing. <a href="#">More information</a>'
}) }}

{{ mojAlert({
 variant: "success",
  title: "Woohoo!",
  dismissible: true,
  html: 'That thing just successfully occurred. <a href="#">Celebrate here</a>'
}) }}


{{ mojAlert({
  variant: "warning",
  title: "Something's not quite right",
  dismissible: true,
  html: 'You should be aware of this thing. <a href="#">More information</a>'
}) }}

{{ mojAlert({
  variant: "error",
  title: "Woah, hold up!",
  dismissible: true,
  html: 'Bad things happened. <a href="#">Contact us</a>'
}) }}

<h2>With headings and links</h2>

{{ mojAlert({
 variant: "information",
  title: "You might like to know",
  showTitleAsHeading: true,
  dismissible: true,
  html: 'Content that informs you of a thing. <a href="#">More information</a>'
}) }}

{{ mojAlert({
 variant: "success",
  title: "Woohoo!",
  showTitleAsHeading: true,
  dismissible: true,
  html: 'That thing just successfully occurred. <a href="#">Celebrate here</a>'
}) }}


{{ mojAlert({
  variant: "warning",
  title: "Something's not quite right",
  showTitleAsHeading: true,
  dismissible: true,
  html: 'You should be aware of this thing. <a href="#">More information</a>'
}) }}

{{ mojAlert({
  variant: "error",
  title: "Woah, hold up!",
  showTitleAsHeading: true,
  dismissible: true,
  html: 'Bad things happened. <a href="#">Contact us</a>'
}) }}

<h2>Kitchen sink</h2>
{{ mojAlert({
  variant: "information",
  title: "This contains information",
  showTitleAsHeading: true,
  dismissible: true,
  html: '<p>Content that informs you of a thing. It really is so very informative, that is why it needs so much content and is really, exceedingly verbose.</p><ul><li>this one</li><li>has a list</li><li>of things</li></ul><p>And a final paragraph for good measure <a href="#">with a link too</a>.'
}) }}
