---
layout: layouts/example.njk
title: Button menu (example)
---

{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{{ mojButtonMenu({
  button: {
    text: "Menu title"
  },
  items: [
    {
      text: "Menu item 1"
    },
    {
      text: "Menu item 2"
    },
    {
      text: "Menu item 3"
    }
  ]
}) }}
