/* ==========================================================================
   # MULTI-SELECT
   ========================================================================== */

.moj-multi-select__checkbox {
  display: inline-block;
  padding-left: 0;
}

.moj-multi-select__toggle-label {
  // stylelint-disable-next-line declaration-no-important
  margin: 0 !important;
  // stylelint-disable-next-line declaration-no-important
  padding: 0 !important;
}
