---
layout: layouts/example.njk
title: Date Picker Disabled Dates (example)
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{% set disabledDates %}{% dateInCurrentMonth 05 %} {% dateInCurrentMonth 12 %} {% dateInCurrentMonth 18 %}-{% dateInCurrentMonth 25 %} {% endset %}

{{ mojDatePicker({
  id: "date",
  name: "date",
  label: {
      text: "Date"
  },
  hint: {
    text: "For example, 17/5/2024."
  },
  disabledDates: disabledDates
}) }}
