---
layout: layouts/example.njk
title: Date Picker Disabled Dates (example)
---

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{{ mojDatePicker({
  id: "date",
  name: "date",
  label: {
      text: "Date"
  },
  hint: {
    text: "For example, 17/5/2024."
  },
  value: "10/04/2025",
  excludedDates: "02/04/2025 18/04/2025 21/04/2025",
  excludedDays: "saturday sunday"
}) }}
