---
layout: layouts/example.njk
title: Add another (example)
arguments: badge
figma_link: https://www.figma.com/file/N2xqOFkyehXwcD9DxU1gEq/MoJ-Figma-Kit?type=design&node-id=66-5788&mode=design
---

{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{{ mojBadge({
  text: "Recently added"
}) }}
