---
layout: layouts/example.njk
title: Add another (example)
arguments: badge
figma_link: https://figma.com
---

{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{{ mojBadge({
  text: 'Recently added'
}) }}
