name: Build, test and publish package

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 10.18
      uses: actions/setup-node@v1
      with:
        node-version: 10.18
    - run: npm install
    - run: npm run build:package
    - uses: actions/upload-artifact@v2
      with:
        name: mojds-package
        path: package

  test:
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: mojds-package
        path: package
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm test

  publish:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: github.event_name == 'push'

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Use Node.js 10.18
      uses: actions/setup-node@v1
      with:
        node-version: 10.18
    - uses: actions/download-artifact@v2
      with:
        name: mojds-package
        path: package
    - run: npm install
    - name: Publish to NPM
      run: npm run ci:release
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
