name: Publish package

on:
  pull_request:
    branches: [ main ]
  push:
    branches:
      - "main"
      - "*.*.x"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 'lts/*'
    - run: npm ci
    - run: npm run build:package
    - uses: actions/upload-artifact@v4
      with:
        name: mojds-package
        path: package
    - run: npm run build:dist
    - run: ENV="production" npm run build:docs
    - uses: actions/upload-artifact@v4
      with:
        name: mojds-dist
        path: dist

  test:
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 20.x, 21.x, 22.x]

    steps:
    - name: Set commit status as pending
      uses: myrotvorets/set-commit-status-action@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        status: pending
        context: Tests
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: npm install
    - name: Run JS tests
      run: npm run test:js
    - uses: actions/download-artifact@v4
      with:
        name: mojds-package
        path: package
    - name: Test that sass can be compiled
      run: npm run test:sass

  result:
    runs-on: ubuntu-latest
    needs: [test]
    if: always()
    steps:
    - name: Set final commit status
      uses: myrotvorets/set-commit-status-action@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        status: ${{ needs.test.result }}
        context: Tests


  publish:
    runs-on: ubuntu-latest
    needs: [result]
    if: github.event_name == 'push'

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - uses: actions/download-artifact@v4
      with:
        name: mojds-package
        path: package
    - uses: actions/download-artifact@v4
      with:
        name: mojds-dist
        path: dist
    - run: npm ci
    - name: Publish to NPM
      run: npm run ci:release
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
