name: Publish package

on:
  workflow_dispatch:
    inputs:
      mode:
        description: 'Publish mode'
        required: true
        default: 'dryrun'
        type: choice
        options:
          - dryrun
          - publish

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - name: Get next version
        run: npm run ci:dryrun
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
      - run: npm run build:package
      - uses: actions/upload-artifact@v4
        with:
          name: mojds-package
          path: package
      - run: npm run build:dist
      - run: ENV="production" npm run build:docs
      - uses: actions/upload-artifact@v4
        with:
          name: mojds-dist
          path: dist

  test:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      statuses: write
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - name: Set commit status as pending
        uses: myrotvorets/set-commit-status-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.sha }}
          status: pending
          context: Tests

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - name: npm install
        run: npm install

      - name: Lint Sass
        run: npm run lint:scss

      - name: Lint JavaScript
        run: npm run lint:js

      - name: Prettier
        run: npm run lint:prettier

      - name: TypeScript compiler
        run: npm run lint:types

      - name: JavaScript unit tests
        run: npm run test:components

      - name: Sass compilation
        run: npm run test:scss

  result:
    runs-on: ubuntu-latest
    needs: [test]
    if: always()
    permissions:
      contents: read
      statuses: write
    steps:
      - name: Set final commit status
        uses: myrotvorets/set-commit-status-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.sha }}
          status: ${{ needs.test.result }}
          context: Tests

  publish:
    runs-on: ubuntu-latest
    needs: [result]
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - uses: actions/download-artifact@v4
        with:
          name: mojds-package
          path: package
      - uses: actions/download-artifact@v4
        with:
          name: mojds-dist
          path: dist
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - name: If dryrun
        if: github.event.inputs.mode == 'dryrun'
        run: npm run ci:dryrun
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
      - name: If publish
        if: github.event.inputs.mode == 'publish'
        run: npm run ci:release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
