{%- block top_of_page %}{% endblock %}
{%- from "back-link/macro.njk" import govukBackLink %}
{%- from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "button/macro.njk" import govukButton %}
{%- from "checkboxes/macro.njk" import govukCheckboxes %}
{%- from "date-input/macro.njk" import govukDateInput %}
{%- from "details/macro.njk" import govukDetails %}
{%- from "error-message/macro.njk" import govukErrorMessage %}
{%- from "error-summary/macro.njk" import govukErrorSummary %}
{%- from "fieldset/macro.njk" import govukFieldset %}
{%- from "file-upload/macro.njk" import govukFileUpload %}
{%- from "input/macro.njk" import govukInput %}
{%- from "label/macro.njk" import govukLabel %}
{%- from "panel/macro.njk" import govukPanel %}
{%- from "phase-banner/macro.njk" import govukPhaseBanner %}
{%- from "radios/macro.njk" import govukRadios %}
{%- from "select/macro.njk" import govukSelect %}
{%- from "skip-link/macro.njk" import govukSkipLink %}
{%- from "table/macro.njk" import govukTable %}
{%- from "tag/macro.njk" import govukTag %}
{%- from "textarea/macro.njk" import govukTextarea %}
{%- from "warning-text/macro.njk" import govukWarningText %}

{%- from "moj-banner/macro.njk" import mojBanner %}
{%- from "moj-currency-input/macro.njk" import mojCurrencyInput %}
{%- from "moj-notification-badge/macro.njk" import mojNotificationBadge %}
{%- from "moj-header/macro.njk" import mojHeader %}
{%- from "moj-organisation-switcher/macro.njk" import mojOrganisationSwitcher %}
{%- from "moj-pagination/macro.njk" import mojPagination %}
{%- from "moj-primary-navigation/macro.njk" import mojPrimaryNavigation %}
{%- from "moj-progress-bar/macro.njk" import mojProgressBar %}
{%- from "moj-search/macro.njk" import mojSearch %}
{%- from "moj-sub-navigation/macro.njk" import mojSubNavigation %}
{%- from "moj-identity-bar/macro.njk" import mojIdentityBar %}
{%- from "moj-menu/macro.njk" import mojMenu %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>MOJ Frontend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c">

    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon.png">

    <meta name="description" content="Design your service using MoJ styles, components and patterns">
    <meta property="og:image" content="/public/images/moj-opengraph-image.png">

    <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet"><![endif]-->
    <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" rel="stylesheet"><!--<![endif]-->

    <!--[if lt IE 9]>
      <script src="/public/javascripts/vendor/html5shiv.js"></script>
    <![endif]-->

  </head>
  <body>

  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {%- block body %}{% endblock %}

    {%- block scripts %}
      {%- include "includes/scripts.html" %}
      {%- block pageScripts %}{% endblock %}
    {%- endblock %}

  </body>

</html>
